@font-face {
  font-family: "Poppins";
  src: url("/static/css/Poppins/Poppins-Medium.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-light";
  src: url("/static/css/Poppins/Poppins-Regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("/static/css/Poppins/Poppins-Bold.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Mongolian";
  src: url("/static/css/Poppins/monbaiti.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/static/css/Roboto/Roboto-Light.ttf") format("opentype");
  font-weight: 300;
  font-display: swap;
}
.partnersgap{
  margin-top:130px;
}

.partners1{
  left: 25%;right: 25%;
  width: 135px;
}
.partners2{
right: 0;
}
.tv{
  box-shadow: 25px 3px 33px 3px rgba(0,0,0,1);
  -webkit-box-shadow: 25px 3px 33px 3px rgba(0,0,0,1);
  -moz-box-shadow: 25px 3px 33px 3px rgba(0,0,0,1);
  border: 2px solid rgb(0, 0, 0);
  height: 23%;
  width: 17%;
  margin: auto;
  left: 0;
  right: 0; 
  top: 0; 
  bottom: 0; 
  margin-top: 12.8%; 
  position: absolute;
}

.landingbtn {
  background-color: #3b2640; color: white;
}
.landingbtn:hover {
  background-color: #ffffff; color: #3b2640; border: 1px solid white;
  box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
}
.expandlanding{
  width: 20%;  background-color: #3b2640;
  transition: ease-in-out 1s
}

.landingbg:hover .expandlanding {
  width: 85%;
  
  transition: ease-in-out 1s
}

.block {
  width: 124px;
  height: 124px;
  perspective: 600px;
  margin: 100px auto 0;
  margin-bottom: 0px;
  margin-top:55px;
  margin-left: 50px;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255,0.3);
 box-shadow: 0px 0px 22px -2px rgba(255,255,255,0.3);
 -webkit-box-shadow: 0px 0px 22px -2px rgba(255,255,255,0.3);
 -moz-box-shadow: 0px 0px 22px -2px rgba(255,255,255,0.3);
}
.top {
  transform: rotateX(90deg) translateZ(62px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(62px);
}

.right {
  transform: rotateY(90deg) translateZ(62px);
}
.left {
  transform: rotateY(-90deg) translateZ(62px);
}

.front {
  transform: rotateX(0deg) translateZ(62px);
}
.back {
  transform: rotateX(-180deg) translateZ(62px);
}
@keyframes spin {
  from {
    transform: rotateX(360deg) rotateY(360deg);
  }
  to {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 10s infinite linear;
}

.block1 {
  width: 150px;
  height: 150px;
  perspective: 600px;
  margin: 100px auto 0;
  margin-top: -25px;
  margin-left:30px;
}
.face1 {
  position: absolute;
  width: 100%;
  height:0;
}
.top1 {
  transform: rotateX(-90deg) translateY(-75px) translateZ(75px);
}

.cube1 {
  margin-top: 50px;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin1 10s infinite linear;
}

@keyframes spin1 {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(0deg) rotateY(360deg);
  }
}

.face2 {
  position: absolute;
  width: 99%;
  height:auto;
  
}

.back2 {
  transform:  rotateX(0deg) ;

}

.teamtext {
  margin-top: -20px;opacity: 0.9; font-family: 'Poppins';text-transform: uppercase;
}

.teamshadow{
  box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
  width: 80% !important;
}

.awardborder {
  border-left: 1px solid white;
}

.awardmrg2{
  padding-top:50px;
  padding-bottom:50px;
}

.awardmrg {
  width: 96.5%;
}
.viewmore {
  display: none;
}
.nav-item {
  font-size: 9pt;  text-transform: uppercase; font-family: "Poppins-light"; letter-spacing: 2px;
}
.card-content:hover {
  opacity: 1;
}

.card-content {
  position: relative;
  width:16rem;
  margin-left:-20px;
  height:160px;
  margin-top: -20px;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.1);
  opacity: 1 !important;
  backdrop-filter: blur(20px);
}
a:hover{
  text-decoration: none !important;
}
.card:hover .viewmore{
  display: block;
  margin: 0 auto;
  margin-top: 23%;
  left: 0;
  right: 0;
  position: absolute;
}
 
 .viewmore {
background-color: transparent;
font-style: 'Poppins-light';
border: none;
color: white;
letter-spacing: 1px;
padding: 6px;
font-size: 8pt;
width: 14rem;
text-align: center;
text-transform: uppercase;
-webkit-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
 }

.viewmore:hover{
  color: white;
}

.s_bar_btn {
  font-family: 'Poppins-light';
  border-radius: 0px;
  border: none;
  width: 190px !important;
  height: 30px;
  margin: 2px;
  background-color: white;
  color: black;
  font-size: 8pt;
  letter-spacing: 2px;
}

.s_bar_btn_default {
  font-family: 'Poppins-light';
  border-radius: 0px;
  border: none;
  width: 99% !important;
  height: 30px;
  margin: 2px;
  background-color: transparent;
  color: white;
  font-size: 8pt;
  border: 1px solid white;
  position: relative;
  padding-left: 8px;
  -webkit-box-shadow: inset 0px 2px 19px 4px #000000; 
box-shadow: inset 0px 2px 19px 4px #000000;
}

.teamdesc{
  width: 80%; text-align: justify;
}

.label_default{
  position: absolute;
  display: inline-block;
  color: #4b4b4b;
  z-index: 99;
  font-size: 8pt;
  letter-spacing: 2px;
  padding-left: 8px;
  font-family: 'Poppins-light';
  text-align: left;
  margin-top: -26px;
}

.dropdown-menu {
  border-radius: 0px;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.mortgagemrg{
  margin-top: 5px;
}
.mortgagepad{
  padding-bottom: 12px;
  padding-top: 12px;
}

.s_bar_btn_key {
  font-family: 'Poppins-light';
  border-radius: 0px;
  border: none;
  width: 440px !important;
  height: 30px;
  margin: 2px;

  background-color: white;
  color: black;
  font-size: 8pt;
  letter-spacing: 2px;
}

.s_bar_btn_drop {
  font-family: 'Poppins-light';
  border-radius: 0px;
  border: none;
  width: 272.6px !important;
  height: 30px;
  margin: 2.5px;
  background-color: white;
  color: black;
  font-size: 8pt;
  letter-spacing: 2px;
  
}

.flip{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.scrolldown{
  width: 20px;
  margin-top: 3%;
  opacity: 0.5;
  transition: 0.5s;
}

.bg-dark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(156, 114, 114, 0) 100%) !important;
  transition: .8s;
  backdrop-filter: blur(100px)
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1031;
}

.bg-dark-const {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: .8s;
  backdrop-filter: blur(100px)
}

.dropdown-item{
  color: white !important;
  font-size: 7pt !important;
}

.dropdown-item:hover{
  color: white !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}


.scrolled header.bg-dark:hover, header.bg-dark:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: .8s;
}

.scrolled header.bg-dark-const:hover, header.bg-dark-const:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: .8s;
}

header .navbar {
  max-width: calc(100% - 170px);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

header .navbar {
  transition: 0.5s;
  position: unset;
}

.scrolled header.bg-dark * {

    animation-delay: 0.5s;

}

.scroll-bottom {
height: 85px;width: 100%;background-color: rgba(0, 0, 0, 0.5); position: absolute;bottom: 0;
transition: 0.5s;
}

.scroll-bottom:hover{
  background-color: rgba(0, 0, 0, 0.85) !important;
  transition: 0.5s;
}
.scroll-bottom:hover .scrolldown{
  margin-top: 4%;
  opacity: 1;
  transition: 0.5s;
}
.pagenumber{
  background-color: rgba(0, 0, 0, 0.5);
}
.pagenumber::after{
  background-color: #4b4b4b;
}
.pagenumber:focus{
  background-color: #4b4b4b;
}
.hero-screen{
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
            height: calc(var(--vh, 1vh) * 100);
            background-image: url(/static/images/mainbg.jpg);
            background-repeat: no-repeat;
            background-position: 77% 0;
            background-size: cover;
            position: relative;
}

header .navbar {

    max-width: calc(100% - 170px);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}
header .navbar {

    transition: 0.5s;
    position: unset;

}
.navbar-expand-lg {

    flex-flow: row nowrap;
    justify-content: flex-start;

}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.imgres{
  margin-top: 10px;
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  right: 0;
  height: 230px;
  width: 90%;
  margin-top: 10px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay1 {
  position: absolute;
  top:0;
  bottom: 0;
  left: 2.5%;
  right: 0;
  height: 230px;
  width: 95%;
  opacity: 0;
  margin-top: 10px;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  
}


.texty {
  color: white;
  font-size: 15px;
  font-family: 'Poppins-light';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 2px;
}

.carousel {
  background-color: transparent;
  padding-bottom: 10px;
  padding-top: 10px;
}

.carousel-nav {
background-color:#001524;
margin-bottom: 10px;
}

.flickity-button {
  background: none !important;
}
.flickity-prev-next-button .arrow {
  fill: white !important;

}

header {
  transition: 0.5s;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.search_transparent_bg {
  background-color: rgba(0, 0, 0, 0.5);
  
    width: 100%;
    
}

.carousel-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
width: 100%;

}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  left:50%;  height:400px; width:100%;object-fit:cover;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-nav .carousel-cell {
width: 100px;
height: 100px;
margin-left: 10px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
opacity: 0.5;
}


.title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px
}

.content {
  position: relative;
  width:100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;

}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
  opacity: 1
}

.content-image {
  width: 100%
}


.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h6 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}

.content-details p {
  color: #fff;
  font-size: 10pt
}

.fadeIn-bottom {
  top: 80%
}





.adhd h6{
  opacity: 0;
  transition: 0.8s;
  transform: translate(-50%, -50%);
}
.adhd:hover h6{
  opacity: 1;
}

.searchbg{
  background-color: rgba(0, 0, 0, 0.5); position: absolute; width: auto; height: auto; padding-top: 20px; padding-bottom: 20px; margin-top: 10%;
}


.flap {
  display: block;
  height: auto;
}

.ok:hover{
  background-position: right center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}




.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 94.8%;
  margin-left: 5.2%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(165,125,45,0.5);
  
}

.overlay:hover, .overlay1:hover, .overlay2:hover{
  opacity: 1;
  
}
.texty1 {
  color: white;
  font-size: 30px;
  font-family: 'Poppins';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.mediabtngold{
  border-radius: 0px;  font-family: 'Poppins'; font-size: 14pt; font-weight: bold; border-top: hidden; border-right: hidden;border-bottom: hidden; border-left: 4px solid #A57D2D;color:#0e4e88;
  background: linear-gradient(to right, #A57D2D 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
.mediabtngold:hover {
  background-position: left bottom;
}

.mediabtnblue{
  border-radius: 0px;  font-family: 'Poppins'; font-size: 14pt; font-weight: bold; border-top: hidden; border-right: hidden;border-bottom: hidden; border-left: 4px solid #0e4e88;color:#A57D2D;
  background: linear-gradient(to right, #0e4e88 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  
}
.mediabtnblue:hover {
  background-position: left bottom;
}

.navbar {
  font-family: 'Poppins-light', sans-serif !important;
  font-size: 12pt !important;
  color: #000 !important;
}

.shadow {
  box-shadow: 0px -19px 48px -20px rgba(0,0,0,1) !important;
  -webkit-box-shadow: 0px -19px 48px -20px rgba(0,0,0,1) !important;
  -moz-box-shadow: 0px -19px 48px -20px rgba(0,0,0,1) !important;
  font-size: 11pt;
}
.darkshadow{
  -webkit-box-shadow: 10px 10px 5px -4px rgba(104,104,104,1);
-moz-box-shadow: 10px 10px 5px -4px rgba(104,104,104,1);
box-shadow: 10px 10px 5px -4px rgba(104,104,104,1);
}


/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }



footer {
  background: white;
  /*background: -webkit-linear-gradient(59deg, #A57D2D);
  background: linear-gradient(59deg, #A57D2D);*/
  color: white;
  margin-top:100px;
}

footer a {
  color:  black;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}



.footer-middle {
  padding-top: 2em;
  color: black;
}


#mainbg {
  background-color: white;
}


.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-radius: 20% !important;
}
  

.close {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 30px;
  cursor: pointer;
  transition: all 1s ease;
  color: white;
}
.close:hover {
  transform: rotate(180deg);
  cursor: pointer;
 
}

/* carousel height */
.carousel .slide {
  height: 160px;
}

/* cell inherit height from carousel */
.carousel-cell .slide {
  height: 100%;
}

.flickity-page-dots .dot.is-selected {
  background: #A57D2D;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill:#A57D2D;
}
.flickity-prev-next-button.no-svg {
  color: #A57D2D;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}


.imagescell img {
  margin-left: 20px;
  height: 480px;
  width: auto;
}
.imagesce1 img {
  margin-left: 20px;
  height: 350px;
  width: auto;
}


.nfont {
  font-size: 22pt;
  color: white;
  font-family: 'Poppins';
}
.teambtn {
  font-family: 'Poppins-light';
  border-radius: 0px;
  border: none;
  width: 190px !important;
  height: 30px;
  margin: 2px;
  background-color: white;
  color: black;
  font-size: 8pt;
  letter-spacing: 2px;
}
.teambtn:hover {
background-color: rgba(0, 0, 0, 0.75);;
color: white;
}

.teambtn::after {
  background-color: rgba(0, 0, 0, 0.75);;
  color: white;
}
.teambtn:focus {
  background-color: rgba(0, 0, 0, 0.75);;
  color: white;
}


.icons{
  width: 15px;
}


.card-font{
  font-family: 'Poppins';
}

.btn-primary{
  
  border: 0px;
}

.wfont{
  font-family: Poppins;
  color: white;
}

.card-desc  {
  color: black;
  font-family: 'Poppins';
  font-size: 11pt;
}


html {
  scroll-behavior: smooth;
}

.parallax{
  /*background: url('../images/bg1.jpeg') repeat fixed 100%;*/

  background-size: cover;

}

.nice{
  font-size: 12pt;
  font-family: 'Poppins-light', sans-serif;
}



.simple{
font-family: 'Poppins-light';
color: #4b4b4b;
font-size: 9pt;
}


.nice-white{
  color: black;
  font-size: 12pt;
  font-family: 'Poppins-light', sans-serif;
}

.nice-white:hover {
  color: white;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}





select:active, select:hover {
  outline-color: white
}


 .saaa {
   font-family: 'Poppins-light';
   font-size: 10pt ;
   display: inline;
 }

 .btn-info1 {
  font-size: 12pt ;
}

 .saaa2 {
  font-size: 12pt ;
}
 .caption 
{
  font-size: 14pt ;
}

.moni{
  font-style: bold;
  margin-left:15px;
}

.imgcover {
 width: 100%;
 height: 300px;
 object-fit: cover;
 object-position: bottom;
}


.imgcover {
 width: 100%;
 height: 200px;
 object-fit: cover;
 object-position: bottom;
}

.ikon {
  width: 25px;
  margin-right: 12px;
  transition: width 0.2s;
  transition-timing-function: ease-in;
}
.ikon:hover {
  cursor: pointer;
  width: 30px;
}

.logoname {
  
  width:60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logoname:hover{
  -webkit-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
}
.nav-item:hover{
  -webkit-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
}
.hotbtn:hover{
  -webkit-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 6px -7px rgba(0,0,0,0.75);
}


.propcap{
font-size: 22pt;
}
.proploc{
color: white;
font-size: 10pt;
}
.proptitle{
color: white;
font-family: 'Poppins-light';
font-size: 8pt;
}

.ikon2{
  width: 40px;
}

.mrg {
  margin-right:100px;
}
.fimg {
  height: 400px;
  margin-bottom: -550px;
}
.searchfont{
  font-size: 12pt; width: 180px; font-family: 'Poppins-light';
}
.searchfont2{
  font-size: 12pt; font-family: 'Poppins-light';
}
.srchbtn {
  width: 120px; height: 40px; font-size: 12pt;
}

.smol{
  font-size: 12pt;
}
.form_move {
  margin-top: -250px;
}
.form_move2 {
  margin-top: -250px;
}

.saadiyat{
  width: 400px;
}
.picontainer{
  margin-top: -560px;
  margin-bottom: 400px;
}
.arabic { font-family: 'myFirstFont'; font-size: 40pt;}
.npricevalue {font-size: 12pt;margin-top: 30px;}
.pricevalue {font-size: 40pt;}
.npricevalue1 {font-size: 20pt; }
.mediaimg {  width: 600px; margin-top: -100px;}

.searchrow {
  margin-top: -230px; 
}

.dropdownedit {position: relative;
  height: 70px; width: 900px; border:hidden; border-radius: 50px; background-color: white;-webkit-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.75);
}

.wantobtn{
  height: 70px; font-family: 'Poppins-light'; border-radius: 50px; background-color: #f8f8f8; border: hidden; width: 150px; font-size: 12pt;color: #707070;
}

.keysearch {
  height: 40px; border: hidden; margin-left: 10px; font-family: 'Poppins-light'; font-size: 12pt;color: #707070; padding-right: 290px;
}

.filterbtn {
  background-color: white;border: hidden;font-family: 'Poppins-light'; font-size: 8pt; color: #0e4a88;
}

.searchbtn{position: absolute;
  right: 0; margin-right: 7px;
  font-family: 'Poppins-light'; font-size: 12pt;background-color: #0e4a88; color: white; border:hidden; border-radius: 50px; height: 57px; width: 125px;
}
.searchbtnar{position: absolute;
  left: 0; margin-left: 7px;
  font-family: 'Poppins-light'; font-size: 12pt;background-color: #0e4a88; color: white; border:hidden; border-radius: 50px; height: 57px; width: 125px;
}
.fltrimg {
  width: 60px;
}
.gap {
  margin-top: 50px;
}
.footerheader{
  font-size: 8pt;
  font-family: 'Poppins-bold';
  color: white;
  text-align: left;
}
.subfooterheader{
  font-size: 6pt;
  font-family: 'Poppins-light';
  color: white;
  text-align: left;
}

.btn-secondary:hover {
  background-color: white !important;
  color: #0e4a88;
}
.btn-secondary {
  background-color: white !important;
  color: #0e4a88;
}

.dropsearchpos{
left: -37.5% !important;
background-color: rgba(0, 0, 0, 0.5);
width: auto;
padding: 0 !important;
}
.dropsearch {
  width: 250px;
}
.dropmrg {
  margin-top: 15px;
}

.mrgfirstsection{
  margin-top: 10px;
}
.mrgsecondsection{
  margin-top: 100px;
}
.mrgfistsectioncaption{
  margin-bottom: 0px;
}
.mrgthirdsection {
  margin-top: 80px;
}


.searchimg{
width: 700px;
margin-bottom: 50px;
}

.partners{
  width: 100px;
}

.teampagnumber {
margin-top: 230px;
}

.hotbtn{

  font-size: 15pt;
}
.teamimg{
  box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
 width: 18rem;
 margin-left: 105px;
}

.readmorebtn {
  background-color: #144A86;
  color: white;
  font-style: 'Poppins-light';
  border: hidden;
}

.card-title-1 {
  font-family: 'Poppins-light';
  color:black;
  font-size: 15pt;
  
}
.card-text-1 {
  font-family: 'Poppins-light';
  color: #8E8A8A;
  font-size: 12pt;
}
.respbook{
  margin-top: 10px;
}

.iconhover{
  width:30px; height: 30px;z-index: 100; cursor: pointer; margin-right: 1px;
  -webkit-transition: all .1s ease-in-out;
  border-radius: 25px;
}

.cardzoom{
  border-radius: 0px !important;
  -webkit-transition: all .2s ease-in-out;
  margin-bottom: 10px;
}
.cardzoom:hover{
  -webkit-transform: scale(1.04);
}

.iconhover:hover, .iconhoverfb:hover{
 
  -webkit-transform: scale(1.04);
}

.servimg{
margin-top: -120px;
}
.servimgsize{
  width: 250px;
}

.inpsize{

height: 40px;
}
.rich{
  font-size: 50pt;
}
.less {
  font-size: 30pt;
}
.grow {
  font-size: 40pt;
}
.nfontchanged{
  font-family: 'Poppins';
  color:  white;
}
.videoheight{
  height: 200px;
}
.adib {
  margin-top: 15px;
   width: 200px !important;
}
.listingicons{
  width: 70px;
  margin-bottom: 20px;
}
.listt{
  font-size: 12pt;
}

.saaa3{ font-family: 'Poppins-light';
  font-size: 12pt ;
   display: inline;
}
.navarabic{
  margin-right: 100px !important; 
}
.listform{
  margin-top: 0px;
}
.basenavmrg{
  margin-bottom: -10px;
}

.salebtn1{
display: none;
}
.seeallbtn{
  font-family: 'Poppins-light';background-color: #144A86;padding: 5px; border-radius: 0px;color: white;
}

.carheight{
  height: 300px;
}
.hotcardbtn{
  transform: rotate(45deg);background-color:red; color:white;width: 70px;padding:2px; text-align:center;clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 50%);
}
.hotcardbtnar{
  transform: rotate(315deg);background-color:red; color:white;width: 70px;padding:2px; text-align:center;clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 50%);
}

.p_header{
font-family: 'Poppins';
font-size: 22pt;
font-weight: bold;
color:  #0e4a88;
}
.p_button{
  text-align: center;
  color: white;background-color: #0e4a88; font-family: 'Poppins-light'; 
  font-weight: bold;
  margin-right: 10px;
}
.p_overview{
font-family: 'Poppins-light';
font-size: 18pt;
font-weight: bold;
}
.p_subcap{
  font-family: 'Poppins-light';
  font-size: 14pt;
  font-weight: bold;
}
.p_icons {
  width: 25px;
  margin-right: 10px;
}

.p_mrg {
  margin-top: 60px;
}

.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.5s;
}

.bg-active{
  visibility: visible;
  opacity: 1;
}
.adrectangle {
  height: 180px;
  width: 130px;
  background-color: transparent;
  border: hidden;
}
.adrow {
  margin-top: -250px;
}

.modalthis{
  background-color: white;
  width: 40%;
  height: 40%;
  margin-top:-300px;
}

.modalclose{
  cursor: pointer;
}

.rbanner{
  margin-left: -180px; position: relative;
}

.mbanner{
  margin-left: 210px;position:relative;
}

.lbanner{
  margin-left: 240px;position:relative;
}
.banner-rec{
  width: 31vw; height: 500px;margin-top: -120px;background-color: transparent;
}

.thumbnail{
  margin-top: -21.7vw;
  cursor: pointer;
}
.ad_select{
  background-color: transparent;  width: 200px; height: 150px;border: hidden;
}
.adrow_ad{
  margin-top:-250px;
}
.adrectangle:active, .adrectangle:focus, .adrectangle:hover{
  outline: none;
}
.ad_select:active, .ad_select:focus, .ad_select:hover{
  outline: none;
}

.project_details {
  display: inline;
}
.ldec {
  margin-left: 10px;
  margin-bottom: 0;
  color: #8e8a8a;
}

.propico {
  margin-top: -2px;
  width: 22px; height: 30px;
}
.vt {
  height: 500px;
}

.landingimg {
  height: 100vh;
}
h4 {
  letter-spacing: 2.5px;
}
.dropdownbtn {
  width: 18px;cursor: pointer;opacity: 0.85;
}

.tvimage{
  width:100%;
}

 @media only screen and (max-width: 500px) {
  .carousel-cell-image {
   height:300px; width:300px;
  }
  .mortgagemrg{
    margin-top: 0px;
  }
  .card:hover .card-content{
    width: 18rem;
  }
    
.tv {
  margin-top: 80px;
  width: 150px;
  height: 90px;
}

.tvimage{
  width: 100%;
  height: 300px;
  object-fit: cover;
}


  .teamshadow {
    margin-left: 6.5%;
  }
  
  .teamtext{
    margin-left: 5px;
    font-size: 7pt;
  }
  
   .viewmore {
width: 17rem;
   }

   .awardborder {
    border-left:none;
  }
  .awardmrg2{
    padding-bottom:0px;
    padding-top: 20px;
  }

  .awardmrg {
    width: 100%;
  }
  .awardesc {
    padding-left: 15px;
  }


  .partners1{
    width: 50px;
  }
  .partners2{
    left: 25%;right: 25%;
  }
  
  .block {
    margin: 100px auto 0;
  }
  .block1 {
    margin: 100px auto 0;
    margin-top: -40px;
  }


#footercopyu{
  margin-bottom: 10px;
}
  #hotproperties{
    align-items: center;
  }

  .carousel-cell {height: 200px;}


.s_bar_btn{
font-size: 8pt;
width: 25% !important;
}
.mortgagepad{
  margin-top: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.s_bar_btn_key {
  font-size: 8pt;
  width: 25% !important;
}

h4 {
  font-size: 10px;
  letter-spacing: 1px;
}

.landingimg {
  height: auto;
  width: 100%;
}

   .vt{
     height: 300px;
   }
  .projnav{
    text-align: center;
  } 
  .slimshady{ 
    margin-top: -6px;
    margin-left: -150px;
   }
   .propico {
     width: 15px; height: 20px;
   }
   .overview {
     display: none;
   }
  .project_details {
    margin-top: 4px;
    display: block;
  }


  .adrow_ad{
    margin-top:-120px;
    margin-left: 12px;
  }
  .ad_select{
    width: 24vw; height: 22vw; margin-left: -12px !important;
  }
  .modalthis{
    height: 80%;
  }
  .thumbnail {
    margin-top: -300px;
  }
  .banner-rec{
    width: 25vw; height: 100px;margin-top: -40px;
    margin-left: 5px;
  
  }
  .w-75{
    width: 100% !important;
  }
  
  .adrow{
    margin-top:-120px;
  }
  .adrectangle {
    width: 100px;
    height: 70px;
    margin-left: 6px;
  }
  .modalthis{
    width: 100%;
    
    margin-top: 0px;
  }
  .p_header{
    font-size: 15pt;
  }
  .ldec{
    margin-left: 1px;
  }
  .ldecar{
    margin-right: -30px;
  }
  .dec{
    list-style: none;
  
  }
  .p_mrg{
     margin-top: 40px;
   }
   .p_subcap{
     font-size: 8pt;
   }
   .p_overview{
     font-size: 12pt;
   }
   .p_button{
     font-size: 8pt;
     margin-right: 0px;
   }
  .rbanner{font-size: 8pt;
    margin-left: -60px; position: relative;
  }
  
  .mbanner{font-size: 8pt;
    margin-left: 0px;position:relative;
  }
  
  .lbanner{font-size: 8pt;
    margin-left:0px;position:relative;
  }


 
.imgmrg{
  margin-top: 80px;
}
  .seeallbtn{
    font-size: 9pt;
  }
  .salebtn{
display: none;
  }
  .salebtn1{
  display: block;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto"; text-decoration: none;border: hidden;border-left: 4px solid #A57D2D;border-right: 4px solid #A57D2D; color: black; text-shadow: 2px 2px #e8e8e8;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 8pt;

}

.teamimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 10px;
}

  .basenavmrg{
  margin-bottom: 0px;
}

  .listform{
    margin-top: 10px;
  }
  .navarabic{
    margin-right: 0px !important;
  }
  .saaa3{
    font-size: 8pt ;
     
  }
  .listt{
    font-size: 8pt;
  }
  .teambtn{
    font-size: 8pt;
    margin-top: 5px;
  }
  .listingicons{
    width: 50px;
 }

  .adib {
    margin-top: 10px;
    width: 65px !important;
  }
  
  .videoheight{
    height: 100px;
  }
  .bruhh{
    margin-top: 40px;
  }
  .mblview
  {font-size: 35pt;}
  .inpsize {
     height: 30px;
   }
  .servimg{
    margin-top: -80px;
    }
    .servimgsize{
      width: 150px;
    }
  .respbook{
    margin-top: 0px;
  }
  

  .simple{
    font-size: 8pt;
  }
  .hotbtn{

    font-size: 10pt;
  }
  .partnersgap{
    margin-top:60px;
  }
  .partners{

    width: 50px;
  }
  
  .searchimg{
  width: 100%;
  }
  
  .mrgfistsectioncaption{
    margin-bottom: 0px;
  }
  .mrgfirstsection{
    margin-top: 20px;
  }
  .mrgsecondsection{
    margin-top: 20px;
  }
  .mrgthirdsection {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .dropsearchpos{
margin-right: -39%;

  }
  .sham{
    margin-left: 20px;
  }

  .dropsearch {
    width: auto;
  }

  .dropmrg {
    margin-top: 0px;
  }

  .footerheader{
    font-size: 8pt;
  }
  
  .gap {
    margin-top: 10px;
  }
  .searchrow{
    margin-top: 0px;
  }
  .dropdownedit {
    height: 30px;
    width: 330px;
  }
  .wantobtn{
   width: 92px; font-size: 8pt;color: #707070;height: 30px;
  }

  .keysearch {
    font-size: 8pt;color: #707070; padding-right: 0px;height: 30px;
  }
  .filterbtn span{
    display: none;
  }
  .fltrimg {
    width: 20px;
  }
  .searchbtn{
    right: 0;margin-right: 0px;
    font-size: 6pt;height: 30px; width: 40px
  }


  .nfont{font-size: 12pt; font-weight: bold;}
  .mediaimg{width: 300px; margin-top: 0px;}
  .mediabtnblue, .mediabtngold { font-size: 10pt;}

  .texty, texty1{
    font-size: 12px;
  }


.shadow {font-size: 8pt;}
  .arabic {font-size: 12pt;}
.npricevalue {font-size: 8pt;margin-top: 3px; margin-bottom: 10px;}
.pricevalue {font-size: 15pt;}
.npricevalue1 {font-size: 8pt; }
  .picontainer{
    margin-top: -170px;
    margin-bottom: 40px;
  }

.saadiyat{
  margin-top: 30px;
  width:150px;
}
  .saaa {font-size: 9pt;
    margin-top: 5px;
    display: block;
      width: 180px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    .saaa2 {font-size: 9pt;
      margin-top: -18px;
      display: inline-block;
      width: 180px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;}

  .caption {font-size: 9pt ;}

 .btn-info1 {font-size: 9pt ;
margin-top: 1px;
background-color: transparent;}
.btn-info2 {font-size: 9pt !important; 
  margin-top: 2px;
  background-color: transparent;}


.move {
  margin-top: -15px !important;
}
.moni {font-size: 7pt ;


font-style: none;}

.imgcover {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: bottom;
 }
 .teamdesc {
  width:100% !important;
  text-align: center !important;
}
 
 .logoname {
  width: 70px;
}
.form_move {
  margin-top: -50px;
}

.propcap{
  font-size: 15pt;
  }
  .proploc{
  font-size: 10pt;
  }
 
  .imagescell img {
    margin-left: 20px;
    height: 240px;
    width: auto;
  }
  .imagesce1 img {
    margin-left: 20px;
    height: 200px;
    width: auto;
  }

  .mrg{
    margin-right:0px;
  }

  .ikon2{
    width: 28px;
  }
  .fimg {
    height: 900px;
    margin-bottom: -1000px;
  }
  .ikon {
    margin-right: 5px;
  }
  .searchfont{
    font-size: 8pt; width: 90px;
  }
  .searchfont2{
    font-size: 8pt;
  }
  .srchbtn {
    width: 70px; height: 80px; font-size: 8pt;
  }
  .smol{
    width: 300px;
    margin-left: 23px;
    margin-top: -50px;
    font-size: 8pt;
  }
  .form_move {
    margin-bottom: 50px;
  }
  .form_move2 {
    margin-top: -100px;
    margin-bottom: -130px;
  }
}


