{% extends "base.html" %}
{% block metacontent %} 
<title>About UHPAE</title>
<meta name="title" content="About UHPAE">
<meta name="description" content="Learn and Discover more about us and our company profile">
<meta name="keywords" content="about, team, careers">
<meta property="og:image" content="https://www.uhpae.com/static/images/logo.png" /> 
<meta property="og:url" content="https://www.uhpae.com/about">
<meta property="og:title" content="About UHPAE">
<meta property="og:description" content="Learn and Discover more about us and our company profile">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}

{% block content %}
<section style="background-image: url(/static/images/dark_bg.png); background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.7);">
        <div class="container-fluid" style="padding-top:90px;">
            <img src="/static/images/company_profile/cp_1.png" width="100%">
        </div>
        <div class="container-fluid">
            <img src="/static/images/company_profile/cp_2.png" width="100%">
        </div>
        <div class="container-fluid">
            <img src="/static/images/company_profile/cp_3.png" width="100%">
        </div>
        <div class="container-fluid">
            <img src="/static/images/company_profile/cp_4.png" width="100%">
        </div>
        <div class="container-fluid">
            <img src="/static/images/company_profile/cp_4.png" width="100%">
        </div>
        <div class="container-fluid">
            <img src="/static/images/company_profile/cp_5.png" width="100%">
        </div>
    </div>
    
    <!--
<div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.7); padding-bottom: 12%;">
<div class="container" style="padding-top:90px;">
    <div class="row">
      <div class="col">
        <p class="simple"><a href="{{url_for('home')}}" style="color: #ffffff; font-family: 'Montserrat'; font-size: small; font-weight: 100;"   >Home ></a><a style="color: #ffffff; font-family: 'Montserrat'; font-size: small; font-weight: 100;"    href="{{url_for('about')}}"> About Us </a>
  </p>
    </div>
    </div>
  </div>

<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col" style="text-align: justify;">
            <div class="row">
                <div class="col">
            <h2 class="nfont" ><b>GM MESSAGE</b></h2> </div>
       
        </div>
            
                <p style="margin-top: 20px; color: white;" class="simple">Unique Homes Worldwide Properties(UHP) was established in 2018 to continue to be an active member and one of the leading real estate companies in the UAE.</p>
                <p class="simple" style=" color: white;">Committed to provide diverse and complete real estate solutions, equipped with the knowledge and skills in many different dimensions including but not limited to Off-Plan properties (Land, Villas & Apartments), Ready Properties (Commercial & Residential), and Resale in Abu Dhabi & Dubai.
                Maintaining the growth level over years, created new opportunities to undertake in multiple markets, and allowed us to provide new services to our clients.</p>
                <p class="simple" style=" color: white;">UHP as a young ambitious brand succeeded in gaining the trust of our staff, partners, and clients by taking informed decisions based on market insights through monitoring and deeply analyzing the market variables, client needs, and by coping with the continuously shifting trends.
                We strive to provide the best solutions to our clients, so investing in hiring skilled and experienced talents and latest technologies along with adopting integrity became a necessity, and it is what makes us different.
                Success is not an easy task as it takes huge efforts and collaboration; it also requires commitment and a lot of hard work to set ourselves apart, but we are on the right track. We are ready for the next challenge and have full trust in our future.</p>
                <br>
            </div>
        
        
    </div>
    <div class="row simple" style=" color: white;">
        <div class="col">
        General Manager
    </div>
</div>
<div class="row simple">
        <div class="col" style=" color: white;">
        Mohammed Al Jbour
    </div>
</div>
<br>
<div id="window_footer"></div>
<div class="row simple" style=" color: white;">
    <div class="col">
    Company Profile
</div>
</div>
<div class="row">
    <div class="col">
        <iframe src="static/portfolio.pdf" width="100%" height="500px"></iframe>
    </div>
</div>
</div>
<div style=" margin-top: 60px;">
    <div class="container">
    <div class="row justify-content-center">
        <br>
        
        <div class="col">
            <br>
            <h2 class="nfont"><b>OUR MISSION & VISION</b></h2>
            <p class="simple" style="margin-top: 20px; color: white;">Reshaping the real-estate experience, by providing the most</p><p class="simple" style="margin-top: -2%; color: white;">innovative solutions for every owner, buyer, and tenant.</p>
        
        </div>
        <div class="col">
            <br>
            <h2 class="nfont"><b>OUR VALUES (EPIC)</b></h2>
            <ul class="simple" style="margin-top: 20px; color: white;">
                <li>
                    Excellence
                </li>
                <li>
                    Passion and quality
                </li>
                <li>
                    Integrity
                </li>
                <li>
                    Creativity
                </li>

            </ul>
        </div>
        </div>
        </div>
    </div>
</div>
-->
</section>


{% endblock %}
{% block scripts %}

<script>
    document.getElementById('show').style.display="none";
    function book() {
  if (document.getElementById('show').style.display=="none") {
  document.getElementById('show').style.display="";
  }
  else{
    document.getElementById('show').style.display="none";
  }
  
}
</script>
{% endblock %}