{% extends "base.html" %}
{% block metacontent %}

 <title>About ALDAR</title>
 <meta property="og:url" content="https://www.uhpae.com/media">
 <meta property="og:image" content="https://www.uhpae.com/static/images/aldar.jpg" /> 
 <meta property="og:title" content="Our Partner - ALDAR">
 <meta property="og:description" content="Aldar is the master developer behind Yas Island and developed a majority of the key developments on the island">
{% endblock %}
{% block content %}

<section style="background-image:url({{thumbnail}});background-repeat: no-repeat;background-position: top center, top center, bottom center; background-size: cover;">
<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col">
            <h2 class="developer">
                ALDAR - {{status}}
              </h2>  
        </div>

        <div class="col text-right" >
            <img class="partners" src="/static/images/aldar.png" alt=""  >
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 10%;">
    <div class="row justify-content-center">
        <div class="col shadow" style="text-align: justify; background-color: rgba(255, 255, 255, 0.8);">
          <br>
            <p class="simple">
                Aldar was established in 2004 and listed on the Abu Dhabi Stock Exchange (ADX) in 2005.
Aldar is the master developer behind Yas Island and developed a majority of the key developments on the island including Ferrari World and Yas Marina circuit. 
            </p><p class="simple">Aldar's key activities include property development and management, real estate asset management and adjacent businesses. 
In 2013 Aldar merged with ADX listed real estate developer, Sorouh Real Estate PJSC ("Sorouh").  The merger consolidated the two key real estate players in Abu Dhabi, creating a more diversified asset base and stronger balance sheet. 
During the merger Aldar developed a clear and focused strategy and has worked hard to execute and deliver on its principals.</p>
<p class="simple">For more information on strategy see strategy section.</p> ​<p class="simple">
Aldar Properties PJSC is the leading real estate developer in Abu Dhabi, and through its iconic developments, it is one of the most well known in the United Arab Emirates, and wider Middle East region.
From its beginnings in 2005 through to today, Aldar continues to shape and enhance the urban fabric of the UAE’s Capital City in addition to other key areas of the Emirate.
Aldar develops exciting and innovative projects, such as the internationally recognized HQ building situated in the Al Raha Beach development, the Gate Towers in Shams Abu Dhabi on Al Reem Island, in addition to Yas Island’s F1 circuit.
Aldar’s shares are traded on the Abu Dhabi Securities Exchange (Stock quote: ALDAR:UH), and is a profitable, cash generative business that provides recurring revenues, and benefits from a diverse and supportive shareholder base. Aldar operates according to high standards of corporate governance and is committed to operating a long term and sustainable business in order to provide ongoing value for its shareholders.
Aldar seeks to create quality, comfortable, desirable destinations that enrich the lives of Abu Dhabi residents as well as tourists within the Emirate. Aldar is playing a leading role in the development and provision of world class retail - Yas Mall, international standard education through Aldar Academies, iconic entertainment venues such as the Yas Marina Circuit, and community amenities across its entire portfolio.
Aldar is driven by a vision to be the most trusted and recognized real estate lifestyle developer in Abu Dhabi and beyond.</p>

            </p>
        </div>
    </div>

</div>
</section>

<div class="container">
    {% if sub_community.items()|length > 0 %}
<div class="row">
  <div class="col">
    <h2 style="color: black;" class="location_header" >
      Aldar {{status}} Communities
    </h2>
  </div>
</div>

{% for key, value in sub_community.items() %}
  <div class="row">
    <div class="col">
      <h2 class="sub_community">{{key}}</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 2.5rem;">
  {% for i in value %}
  <div class="col-lg-3 col-md-3">
    <div class="box">
      <a href="/communities/{{i[0]|replace(' ','-')}}/{{i[1]|replace(' ','-')}}">
        <figure class="snip1193 content">
          <img src="{{i[2]}}" alt="{{i[1]}}" title="{{i[1]}}" style="object-fit: cover;">
          <figcaption>
          <h4 class="imgtext">{{i[8]}}</h4>
          <p>-SEE MORE-</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  {% endfor %}
  </div>
{% endfor %}
{% endif %}
</div>



{% endblock %}
{% block scripts %}

{% endblock %}