<!DOCTYPE html>
<html lang="en">

<head>

	<script>
		!function (w, d, t) {
		  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};
		
		  ttq.load('C5JCTPK6J7TSRVQDO230');
		  ttq.page();
		}(window, document, 'ttq');
	</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
main {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(https://picsum.photos/1280/800) center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  font-size: 20vmin;
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
}
.wrapper.invert span {
  color: black;
}
.wrapper.invert span::before {
  -webkit-text-stroke: 0.1em var(--color);
}
.wrapper span {
  --color: #ffba11;
  font-family: Impact, "Anton", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-style: italic;
  display: block;
  position: absolute;
  color: var(--color);
  letter-spacing: -0.005em;
}
.wrapper span::before, .wrapper span::after {
  content: attr(data-text);
  display: block;
  position: relative;
  padding: 0 0.1em;
  z-index: 1;
}
.wrapper span::before {
  position: absolute;
  -webkit-text-stroke: 0.1em black;
  z-index: 0;
}
.wrapper span:first-child {
  transform: translate(-0.255em, -0.25em);
}
.wrapper span:last-child {
  --color: #b6acff;
  transform: translate(0.255em, 0.25em);
}

</style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- Old (Start)
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X5WDP7BZ2E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X5WDP7BZ2E');
</script>
Old (End) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-429364927"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'AW-429364927');
</script>
<!--End Global site tag-->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NM3F45G');</script>
  <!-- End Google Tag Manager -->
  
  <link rel="shortcut icon" type="image/jpg" href="{{url_for('static', filename='images/black_logo.png')}}"/>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="{{ url_for('static', filename='css/style.css') }}" as="style">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="prefetch stylesheet" href="https://unpkg.com/flickity@2.2.1/dist/flickity.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name ="robots" content="index, follow"/>
  <meta name="robots" content="noodp " />
  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Unique Homes Worldwide Properties",
    "url": "https://www.uhpae.com",
    "logo": "https://www.uhpae.com/static/images/black_logo.png",
    "alternateName": "UHPAE",
    "sameAs": [
      "https://www.instagram.com/uhpae/"
    ],
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "telephone": "+971549981998",
        "contactType": "sales",
        "email": "bayut@uhpae.com",
        "areaServed": [
          "AE",
          "SA",
          "QA",
          "KW",
          "US",
          "CA",
          "GB",
          "BH"
        ],
        "availableLanguage": [
          "en",
          "ar"
        ]
      }
    ]
  }
  </script>

  <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '387896732959341');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=387896732959341&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->




  {% block metacontent %} {% endblock %}
 

  <meta name="google-site-verification" content="rsJLJJ1s0zZAryF182eOZOKr_6cmzuHNrKMFDa-bn_o" />

</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM3F45G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<header id="header" class="bg-dark fixed-top">
  <nav class="navbar navbar-expand-lg"  style="background-color: #000000;">
    <div class="container-fluid">
    <a href="{{url_for('home')}}" title="Home" class="navbar-brand" href="default.html"><img src="{{url_for('static', filename='images/black_logo.png')}}" style="filter: invert();" class="logoname"></a>
    <button class="navbar-toggler" style=" border: 1px solid black;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <img src="../static/icons/menu.png" style="width: 25px; filter: invert();" alt=""> 
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <nav role="navigation" class="primary-navigation">
          <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href="#">Buy</a>
                <ul class="dropdown dropdown-menu">
                  <h6 style="margin-left: 15px;">Communities</h6>
                  <li><a href="/search?keyword=Al+Reem+Island&units=Sale">Al Reem Island</a></li>
                  <li><a href="/search?keyword=Yas+Island&units=Sale">Yas Island</a></li>
                  <li><a href="/search?keyword=Saadiyat+Island&units=Sale">Saadiyat Island</a></li>
                  <li><a href="/search?keyword=Al+Marina&units=Sale">Al Marina</a></li>
                  <li><a href="/search?keyword=Al+Reef+Villas&units=Sale">Al Reef Villas</a></li>
                  <li><a href="/search?keyword=Al+Ghadeer&units=Sale">Al Ghadeer</a></li>
                  <li><a href="/search?units=Sale">View All</a></li>
                </ul>
                <ul class="dropdown dropdown-menu" style="margin-left: 250px;">
                  <h6 style="margin-left: 15px;">Type</h6>
                  <li><a href="/search?type=Apartment&units=Sale">Apartment</a></li>
                  <li><a href="/search?type=Villa&units=Sale">Villa</a></li>
                  <li><a href="/search?type=Compound&units=Sale">Compound</a></li>
                  <li><a href="/search?type=Townhouse&units=Sale">Townhouse</a></li>
                  <li><a href="/search?type=Office&units=Sale">Office</a></li>
                  <li><a href="/search?type=Land&units=Sale">Land</a></li>
                  <li><a href="/search?units=Sale">View All</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="#">Rent</a>
              <ul class="dropdown dropdown-menu">
                <h6 style="margin-left: 15px;">Communities</h6>
                <li><a href="/search?keyword=Al+Reem+Island&units=Rent">Al Reem Island</a></li>
                <li><a href="/search?keyword=Yas+Island&units=Rent">Yas Island</a></li>
                <li><a href="/search?keyword=Saadiyat+Island&units=Rent">Saadiyat Island</a></li>
                <li><a href="/search?keyword=Al+Marina&units=Rent">Al Marina</a></li>
                <li><a href="/search?keyword=Al+Reef+Villas&units=Rent">Al Reef Villas</a></li>
                <li><a href="/search?keyword=Al+Ghadeer&units=Rent">Al Ghadeer</a></li>
                <li><a href="/search?units=Rent">View All</a></li>
              </ul>
              <ul class="dropdown dropdown-menu" style="margin-left: 250px;">
                <h6 style="margin-left: 15px;">Type</h6>
                <li><a href="/search?type=Apartment&units=Rent">Apartment</a></li>
                <li><a href="/search?type=Villa&units=Rent">Villa</a></li>
                <li><a href="/search?type=Compound&units=Rent">Compound</a></li>
                <li><a href="/search?type=Townhouse&units=Rent">Townhouse</a></li>
                <li><a href="/search?type=Office&units=Rent">Office</a></li>
                <li><a href="/search?type=Land&units=Rent">Land</a></li>
                <li><a href="/search?units=Rent">View All</a></li>
              </ul>
            </li>
            <li><a class="nav-link" href="#">Communities</a>
              <ul class="dropdown dropdown-menu">
                <li><a href="/communities/Al-Reem-Island">Al Reem Island</a></li>
                <li><a href="/communities/Yas-Island">Yas Island</a></li>
                <li><a href="/communities/Saadiyat-Island">Saadiyat Island</a></li>
                <li><a href="/communities/Al-Marina">Al Marina</a></li>
                <li><a href="/communities/Al-Reef-Villas">Al Reef Villas</a></li>
                <li><a href="/communities/Al-Ghadeer">Al Ghadeer</a></li>
                <li><a href="/communities">View All</a></li>
              </ul>
            </li>
            <li><a class="nav-link" href="#">Developers</a>
              <ul class="dropdown dropdown-menu">
                <li><a href="#">View All</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        
    </div>
    </div>
  </nav>
</header>



<!-- These are the botton icons for social media links with images -->
<ul style="bottom: 0;position: fixed; right: 0; margin-right: 18px; z-index: 100; background-color:transparent; border: hidden;" class="list-unstyled">    
      <li>
          <a title="UHPAE Linkedin" href="https://ae.linkedin.com/in/uhp"><img src="{{url_for('static', filename='icons/linkedin.png')}}" class ="iconhover"></a>
          <a title="UHPAE Youtube Channel" href="https://www.youtube.com/channel/UC5Df3cOKL60FJaej0P9E3pg"><img src="{{url_for('static', filename='icons/youtube.png')}}" class ="iconhover"></a>
          <a title="UHPAE SnapChat" href="https://www.snapchat.com/add/uhpae"><img src="{{url_for('static', filename='icons/email.png')}}" class ="iconhover"></a>       
          <a title="UHPAE Instagram" href="https://www.instagram.com/uhpae/"><img src="{{url_for('static', filename='icons/instagram.png')}}" class ="iconhover"></a>
          <a title="UHPAE Facebook" href="https://www.facebook.com/UHPAE/?ref=py_c"><img src="{{url_for('static', filename='icons/facebook.png')}}" class="iconhover" style="z-index: 100;"></a>
          <a title="UHPAE Whatsapp" href="#"><img src="{{url_for('static', filename='icons/whatsapp.png')}}" class="iconhover" style="z-index: 100;"></a>
        </li>
</ul>

<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "112799117707140");
  chatbox.setAttribute("attribution", "biz_inbox");

  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v12.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

{% block content %}{% endblock %}

<div  id="mortgagescroll" style="height: auto;width: 100%">
<section style="background-image: url(/static/images/footer_bg.jpeg); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; background-position: center;height: 100%;">
  <div style="background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.5), rgb(34, 34, 34));">
  <div class="container" style="margin-bottom: 5%; padding-top: 6%;">
    <h2 style="font-family: 'Montserrat'; text-align: center; color: white;"><b>MORTGAGE CALCULATOR</b></h2>
    <div style="-webkit-box-shadow: 0px 10px 19px 4px #000000; box-shadow: 0px 10px 19px 4px #000000; padding-bottom: 2%; width: 250px; height: 250px; border-radius: 50%; margin-left: auto; margin-right: auto; margin-bottom: 2%; border: 7px solid #b19157;">
      <div class="row justify-content-center">
          <h2 id="mortgage" class="nfont" style="background-color: transparent; letter-spacing: 1px; font-family: 'Montserrat'; font-size: 30pt; margin-top: 30%; margin-bottom: 5%;"></h2>
      </div>
      <div class="row justify-content-center">
        <h6 class="nfont" style="background-color: transparent; border: none;letter-spacing: 1px; font-family: 'Montserrat'; font-size: 15pt;">AED</h6>
      </div>
      <div class="row justify-content-center">
          <p class="subfooterheader" style="font-family: 'Montserrat'; font-size: 9px;">Monthly Payment</p> 
      </div>
    </div>
    <div style="background-color: transparent; padding-bottom: 3%;;">
    <div class="row justify-content-center" style="margin-left: auto; margin-right: auto; width: 60%;">
          <div class="col-md-12 col-lg-12 col-sm-12 text-center" style="background-color: white; border-radius: 12px; padding: 2%;">
            <input type="text" class="s_bar_btn_default" style="width: 49% !important; display:inline;" id="pv" placeholder="Property Value">
            <input type="text" class="s_bar_btn_default" style="width: 49% !important; display: inline;" id="dp" min="0" max="100" placeholder="Downpayment (%)">
            <input type="text" class="s_bar_btn_default"  style="width: 49% !important; display: inline;" id="n" placeholder="Loan Term (Years)">
            <input type="text" class="s_bar_btn_default"  style="width: 49% !important; display: inline;" id="r" min="0" max="100" placeholder="Interest Rate (%)">
          </div>
      </div>
    </div>
</div>


<!--
  <div class="container " id="award">
    <div class="row" >
      <div class="col">
        <h4 class="footerheader">AWARDS AND ACHIEVEMENTS</h4>
    </div>
    </div>
    </div>
    <div class="container">

      <div class="row">


        <div class="col text-center" >
        <div class="awardmrg2 awardmrg" style="background-color: rgba(0, 0, 0, 0.5);">
          <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-4 text-lg-right text-md-right text-sm-center">
              <img src="/static/award/trophy2.png" alt="" style="width:78%;-webkit-box-shadow: 0px 10px 19px 4px #000000; box-shadow: 0px 10px 19px 4px #000000; ">
            </div>
          <div class="col awardborder">

            <h2 class="nfont" style="letter-spacing: 3px; font-family: 'Poppins-bold'; margin-top: 20px;">ALDAR HONOUR AWARDS</h2>
            <p class="footerheader awardesc" style="text-align: justify; padding-bottom: 0; padding-top: 0; padding-right: 15px; font-family: 'Poppins-light' !important; color: white;">We are the proud recipient of AlDar honours awards 2020 for "Best Improved Agency". Unique Homes Worldwide Properties LLC was nominated for "Best Customer Service". This wouldn't have been achieved without the hard work & commitment of our team, as well as the support of our clients and partners. </p>
          
          
          </div>
          </div>
        </div>
        </div>






        <div class="col-lg-3 col-md-3 col-sm-12">

         <div class="row">
          
         
         
          <div class="block">
            <div class="cube">
              <div class="face front"><img class="lazy" data-src="/static/award/award7.jpg" alt="" style="width: 100%;"></div>
              <div class="face back"><img class="lazy" data-src="/static/award/award5.jpg" alt="" style="width: 100%;"></div>
              <div class="face right"><img class="lazy" data-src="/static/award/award3.jpg" alt="" style="width: 100%;"></div>
              <div class="face left"><img class="lazy" data-src="/static/award/award4.jpg" alt="" style="width: 100%;"></div>
              <div class="face top"><img class="lazy" data-src="/static/award/award2.jpg" alt="" style="width: 100%;"></div>
              <div class="face bottom"><img class="lazy" data-src="/static/award/award6.jpg" alt="" style="width: 100%;"></div>
            </div>
        </div>

        
        </div>

        <div class="row">
        <div class="block1">


          <div class="cube1">
            <div class="face1 top1"><img class="lazy" data-src="/static/award/shadow.png" alt="" style="width: 100%;opacity: 0.2; filter: invert(0.5); backdrop-filter: blur(20px);"></div>
          </div>

      </div>
      </div>
  


      </div>

      

 
    
    </div>

 
</div>
-->


<div class="container" style="margin-top: 5%;">
    <div class="row" >
      <div class="col">
        <h4 id="window_footer" class="footerheader">UHP AND OUR PARTNER</h4>
    </div>
    </div>
    <div class="row">
      <div class="col">
          
  <div style="border-bottom: 1px solid rgba(255,255,255,.25);">
  </div>

      </div>
    </div>
    </div>
    <div style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="container" style="padding-bottom: 2%;">
    <div  class="row justify-content-between">
      <div class="col" style="padding-top: 3%;">
        <img  style="width: 100%;" class="partners" src="/static/images/partners(new).png" alt="">
    </div>
      </div>
    </div>
    </div>

  <div style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="container" style="padding-top: 1%; padding-bottom: 1%;">
    <div class="row">
      
      <div class="col">
        
        <div class="row">
        <div class="col">

        <form method="post" autocomplete="off" name="base"  style="background-color: rgba(0, 0, 0, 1); padding:5px; border-radius: 12px; padding: 15px;">
          <p class="subfooterheader" style=" margin-bottom: 0px !important;">Get the latest property alerts!</p>
          <input type="text" name="email" class="s_bar_btn" style="height: 20px !important; font-size: 6pt; border-radius: 12px;" placeholder="Email" required>
          <input type="submit" value="Submit" class="s_bar_btn" style="width: 80px !important; height: 20px !important; background-color:#4b4b4b;color: white; font-size: 7pt; border-radius: 12px; font-family: 'Montserrat';">
        </form>   
        
        </div>
      </div>
   
    </div>
    
    <div class="col text-center">
      <ul class="list-unstyled">
        <li class="footerheader" style="font-size: 12pt; font-weight: 900;"><a>About UHP</a></li>
        <li style="margin-top: 7px;" class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;" href="{{url_for('about')}}">Our Story</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;" href="{{url_for('team')}}">Meet our team</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;" href="{{url_for('listing')}}">Why choose us</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;"href="{{url_for('site_map_html')}}">Site Map</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;" href="{{url_for('privacypolicy')}}">Privacy & Team Policy</a></li>
      </ul>
    </div>
    <div class="col text-center">
      <ul class="list-unstyled">
        <li class="footerheader" style="font-size: 12pt; font-weight: 900;"><a>Contact Us</a></li>
        <li style="margin-top: 7px;" class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;" href="#">Phone - +97126439099</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;" href="#">Email - welcome@uhpae.com</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white; font-size: 10pt;" href="{{url_for('careers')}}" style="z-index: 100;">Careers</a></li>
      </ul>
    </div>
    <div class="col text-center">
      <ul class="list-unstyled">
        <li class="footerheader" style="font-size: 12pt; font-weight: 900;"><a>Visit Us</a></li>
        <li style="margin-top: 7px;" class="subfooterheader"><a style="font-family: 'Montserrat';text-decoration: none; color: rgb(255, 255, 255); font-size: 9pt;" title="P.O.BOX 29204, Office 244, Wafra Square Offices,Al Reem Island, Abu Dhabi, UAE" href="#">P.O.BOX 29204, Office 244, Tamouh Tower, Marina Square, Al Reem Island, Abu Dhabi, UAE</a></li>
        </ul>
    </div>
    

    </div>
  </div>
</div>

  <div style="border-bottom: 1px solid rgba(255,255,255,.25);"></div>
  <div class="container">
    <div class="row justify-content-center">

        
        <p style="margin: auto;padding-top: 15px; padding-bottom: 15px;" class="subfooterheader" >&copy; Copyright 2023 - Unique Homes Properties.  All rights reserved.</p>
   
    </div>
  </div>
  
  </div>
</section>
</div>






  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script>

function mortgagecheck(){
  if ($("#r").val() > 100 || $("#dp").val() > 100){
      alert("Choose a value below 100 for Downpayment and Interest Rate")
    }
}



  $( ".s_bar_btn_default" ).keyup(function(){
    var p = $("#pv").val() - (($("#dp").val()/100)*$("#pv").val())
    $("#p").empty()
    $("#p").append("AED "+ p.toLocaleString())
    var n = $("#n").val()*12
    var r = $("#r").val()/(12*100)
    mortgagecheck();
    var mth = (p*r*Math.pow(1+r,n))/(Math.pow(1+r,n)-1)
    $("#mortgage").empty()
    $("#mortgage").append(Math.round(mth).toLocaleString())
  })
  window.onload = $("#mortgage").append("----")
  window.onload = $("#p").append("----")
  $("#mortgagescrollto").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#mortgagescroll").offset().top
    }, 1500);
});
$("#awardscroll").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#award").offset().top-100
    }, 1500);
});
</script>



<script>
  function alertuser() {
var x = document.getElementById("sendername").value;
alert("Thank You, for reaching out to us "+ x );
}
</script>

  {% block scripts %}{% endblock %}
  <script>
    const scriptURLbase = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
    const formbase = document.forms['base']
  
    formbase.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL1, { method: 'POST', body: new FormData(formbase)})
        .then(response => alert("Thanks for being a part of us!"))
        .catch(error => console.error('Error!', error.message))
    })
  </script>

  <script>
    function imgError(image) {
      image.onerror = "";
      image.src = "/static/images/alt_property.jpg";
      return true;}
  </script>

<script>
var pageLink = window.location.href;
var pageTitle = String(document.title).replace(/\&/g, '%26');
var subject = 'Follow Uhpae'
function tbs_click() { window.open('https://twitter.com/intent/tweet?text='+pageTitle+'&url='+pageLink+'','sharer','toolbar=0,status=0,width=626,height=436');return false;}
function fbs_click() { window.open('http://www.facebook.com/sharer.php?u='+pageLink+'&quote='+pageTitle+'','sharer','toolbar=0,status=0,width=626,height=436');return false; }
function lbs_click() { window.open('https://www.linkedin.com/sharing/share-offsite/?url='+pageLink+'}','sharer','toolbar=0,status=0,width=626,height=436');return false;}
var a = document.getElementById('mail');
</script>

<script>


document.addEventListener("DOMContentLoaded", function() {
  var lazyloadImages = document.querySelectorAll("img.lazy");    
  var lazyloadThrottleTimeout;
  
  function lazyload () {
    if(lazyloadThrottleTimeout) {
      clearTimeout(lazyloadThrottleTimeout);
    }    
    
    lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
        });
        if(lazyloadImages.length == 0) { 
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("resize", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
    }, 20);
  }
  
  document.addEventListener("scroll", lazyload);
  window.addEventListener("resize", lazyload);
  window.addEventListener("orientationChange", lazyload);
});
</script>

  </body>
  </html>