<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KPGLXWQ');</script>
  <!-- End Google Tag Manager -->

  <link rel="shortcut icon" type="image/jpg" href="{{url_for('static', filename='images/logo.jpg')}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="{{ url_for('static', filename='css/style.css') }}" as="style">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.2.1/dist/flickity.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="robots" content="noodp" />
  <meta name ="robots" content="index"/>





  {% block metacontent %} {% endblock %}
 
</head>


<body>
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPGLXWQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!--div class="container basenavmrg" style="margin-top: 30px;  margin-right: 7px;">
    <div class="row" >
      <div class="col" style="text-align: right; z-index: 100;">
      <a title="UHPAE Facebook" href="https://www.facebook.com/UHPAE/?ref=py_c"><img src="{{url_for('static', filename='icons/fb.jpg')}}" class="iconhoverfb" style="z-index: 100; cursor: pointer;"></a>
      <a title="UHPAE Instagram" href="https://www.instagram.com/uhpae/"><img src="{{url_for('static', filename='icons/insta.jpg')}}" class ="iconhover"></a>
      <a title="UHPAE Linkedin" href="https://ae.linkedin.com/in/uhp"><img src="{{url_for('static', filename='icons/linkedin.jpg')}}" class ="iconhover"></a>
      <a title="UHPAE SnapChat" href="https://www.snapchat.com/add/uhpae"><img src="{{url_for('static', filename='icons/sc.jpg')}}" class ="iconhover"></a>       
      <a title="UHPAE Twitter" href="https://twitter.com/UHPAE1"><img src="{{url_for('static', filename='icons/twitter.jpg')}}" class ="iconhover"></a>    
      <a title="UHPAE Youtube Channel" href="https://www.youtube.com/channel/UC5Df3cOKL60FJaej0P9E3pg"><img src="{{url_for('static', filename='icons/utube.jpg')}}" class ="iconhover" ></a>
      <a title="Contact Us" href="{{url_for('contact')}}" class="shadow" style="background-color:#A57D2D; padding: 5px; font-family: 'Poppins-light'; z-index: inherit; margin-right: 10px; text-decoration: none; cursor: pointer; color: white;">Get in touch</a>
      <a title="Arabic" href="{{url_for('home_ar')}}"><img src="{{url_for('static', filename='icons/united-arab-emirates.svg')}}" class="iconhover"></a>
      
    </div>
    </div> 
    </div-->
  

    <header id="header" class="bg-dark fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container" id="not_blur">
    <a href="{{url_for('home')}}" title="Home" class="navbar-brand" href="default.html"><img src="{{url_for('static', filename='images/logo.png')}}" class="logoname"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto" style="font-family: 'Poppins-light'; margin-right: -5px;">
        <li class="nav-item dropdown active">
          <a title="Buy Properties" class="nav-link" href="{{ url_for('search', units='buy')}}">
            Buy
          </a>
        </li>
        <li class="nav-item dropdown active">
          <a title="Rent Properties"  class="nav-link"  href="{{ url_for('search', units='rent')}}">
            Rent
          </a>
        </li>
        <li class="nav-item active">
          <a title="Property Listing" class="nav-link" href="{{url_for('listing')}}">Property-Listing</a>
        </li>
        <li class="nav-item active">
          <a title="Communities" href="{{url_for('communities')}}" class="nav-link" >Communities</a>
        </li>
        <li class="nav-item active">
          <a title="All Media"  class="nav-link" href="{{url_for('media')}}" id="navbarDropdownMenuLink">
            Media
          </a>
        </li>
        <li class="nav-item active">
          <a title="Mortgage Calculator" id="mortgagescrollto"  class="nav-link" href="#">Mortgage-Calculator</a>
        </li>
        <li class="nav-item dropdown active">
          <a title="About Us" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a title="Our Message" class="dropdown-item" href={{url_for('about')}}>Our Message</a>
            <a title="Our Team" class="dropdown-item" href={{url_for('team')}}>Our Team</a>
            <a title="Careers" class="dropdown-item" href={{url_for('careers')}}>Careers</a>
            <a title="CRM LOGIN" class="dropdown-item" href={{url_for('careers')}}>CRM LOGIN</a>
          </div>
        </li>

        
        </ul>
    </div>
    </div>
  </nav>
  </header>



<!--
<button onclick="return fbs_click()" target="_blank" style="margin-top: 50px;position: fixed; right: 0; z-index: 100; background-color:transparent; border: hidden;">
  <img src="https://uhpae.com/static/icons/facebook.svg" alt="" width="48vw" >
</button>
<button onclick="return lbs_click()" target="_blank" style="margin-top: 100px;position: fixed; right: 0; z-index: 100; background-color:transparent; border: hidden;">
  <img src="https://uhpae.com/static/icons/linkedin.svg" alt="" width="48vw" >
</button>
<button onclick="return tbs_click()" target="_blank" style="margin-top: 150px;position: fixed; right: 0; z-index: 100; background-color:transparent; border: hidden;">
  <img src="https://uhpae.com/static/icons/twitter.svg" alt="" width="48vw" >
</button>

<button style="margin-top:200px;position: fixed; right: 0; z-index: 100; background-color:transparent; border: hidden;">
  <a id="mail"><img src="https://uhpae.com/static/icons/email.svg" alt="" width="48vw" ></a>
</button>
-->
<ul style="bottom: 0;position: fixed; right: 0; margin-right: 18px; z-index: 100; background-color:transparent; border: hidden;" class="list-unstyled">    
      <li>
          <a title="UHPAE Linkedin" href="https://ae.linkedin.com/in/uhp"><img src="{{url_for('static', filename='icons/linkedin.png')}}" class ="iconhover"></a>
          <a title="UHPAE Youtube Channel" href="https://www.youtube.com/channel/UC5Df3cOKL60FJaej0P9E3pg"><img src="{{url_for('static', filename='icons/youtube.png')}}" class ="iconhover"></a>
          <a title="UHPAE SnapChat" href="https://www.snapchat.com/add/uhpae"><img src="{{url_for('static', filename='icons/email.png')}}" class ="iconhover"></a>       
          <a title="UHPAE Instagram" href="https://www.instagram.com/uhpae/"><img src="{{url_for('static', filename='icons/instagram.png')}}" class ="iconhover"></a>
          <a title="UHPAE Facebook" href="https://www.facebook.com/UHPAE/?ref=py_c"><img src="{{url_for('static', filename='icons/facebook.png')}}" class="iconhover" style="z-index: 100;"></a>
          <a title="UHPAE Whatsapp" href="#"><img src="{{url_for('static', filename='icons/whatsapp.png')}}" class="iconhover" style="z-index: 100;"></a>
        </li>
       </ul>



{% block content %}{% endblock %}

<div  id="mortgagescroll" style="height: auto;width: 100%;background-color: #001524">
<section style="background-image: url(/static/images/world_map_2.png); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; background-position: center;height: 100%;padding-bottom: 5%;">
  <div class="container" style="margin-bottom: 5%; padding-top: 6%;">
   
    <div style="background-color: rgba(0, 0, 0, 0.5); padding-bottom: 5%;">

    <div class="row">
      <div class="col" style="text-align: center; margin-top: 5%; margin-bottom: 5%;">
        <h2 class="nfont" style="letter-spacing: 3px; font-family: 'Poppins-bold';">MORTGAGE CALCULATOR</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-12">
            <input type="text" class="s_bar_btn_default" id="pv">
            <label class="label_default">Property Value</label>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12">
            <input type="text" class="s_bar_btn_default" id="dp" min="0" max="100">
            <label class="label_default">Downpayment (%)</label>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12">
            <input type="text" class="s_bar_btn_default" disabled id="p">
            <label class="label_default">Loan Amount</label>
          </div>
        </div>
        <div class="row mortgagemrg">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <input type="text" class="s_bar_btn_default" id="n">
            <label class="label_default">Loan Term (Years)</label>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <input type="text" class="s_bar_btn_default" id="r" min="0" max="100">
            <label class="label_default">Interest Rate (%)</label>
          </div>
        </div>
    
      </div>
      <div class="col text-center">
        <div class="mortgagepad" style="background-color:rgba(0, 0, 0, 0.5);">
          <div class="row justify-content-center">

              <h2 id="mortgage" class="nfont" style="background-color: transparent; border: none;letter-spacing: 3px; font-family: 'Poppins-bold';"></h2>

          </div>
          <div class="row justify-content-center">

              <p class="subfooterheader">Installment per Month</p>

          </div>
          </div>
      </div>
      </div>
      </div>
    </div>
</div>

  </div>

  <div class="container ">
    <div class="row" >
      <div class="col">
        <h4 id="window_footer" class="footerheader">UHP AND OUR PARTNER</h4>
    </div>
    </div>
    </div>
    <div class="container">
    <div  class="row justify-content-between">
      <div class="col">
        <a href="{{url_for('aldar')}}"><img class="partners" src="/static/images/aldar.png" alt=""></a>
    </div>
    <div class="col text-center">
        <a href="{{url_for('bloom')}}"><img class="partners" src="/static/images/bloom.png"  alt=""></a>
    </div>
        <div class="col text-center">
        <a href="{{url_for('aldar')}}"><img class="partners" src="/static/images/standalon_logo.png" alt=""></a>
      </div>
      <div class="col text-center">
        <a  href="{{url_for('imkan')}}"><img class="partners" src="/static/images/imkan.png"   alt=""></a>
      </div>
      <div class="col text-right">
        <a href="{{url_for('emaar')}}"><img class="partners" src="/static/images/emaar.png" alt=""></a>
      </div>
      </div>
    </div>
    
 
  
  <div style="margin-top: 20px;border-bottom: 1px solid rgba(255,255,255,.25);">

  </div>

  <div class="container" style="margin-top: 5%;">
    <div class="row">
      
      <div class="col">
        <div class="row">
          <div class="col">
            <h4 class="footerheader">SUBSCRIBE</h4>
        </div>
        </div>
        
        <div class="row">
        <div class="col" >

        <form method="post" autocomplete="off" name="base"  style="background-color: rgba(0, 0, 0, 0.75); padding:5px;">
          <input type="text" name="email" class="s_bar_btn" style="width: 150px !important;" placeholder="Email" required>
          <input type="submit" value="Submit" class="s_bar_btn" style="width: 80px !important; background-color:#4b4b4b;color: white;">
        </form>   
        
        </div>
      </div>
   
    </div>
    
    <div class="col text-center">
      <ul class="list-unstyled">
        <li class="footerheader"><a>ABOUT UHP</a></li>
        <li style="margin-top: 10px;" class="subfooterheader"><a style="text-decoration: none; color: white;" href="{{url_for('about')}}">Our Story</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white;" href="{{url_for('team')}}">Meet our team</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white;" href="{{url_for('listing')}}">Why choose us</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white;"href="{{url_for('site_map_html')}}">Site Map</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white;" href="{{url_for('privacypolicy')}}">Privacy & Team Policy</a></li>
      </ul>
    </div>
    <div class="col text-center">
      <ul class="list-unstyled">
        <li class="footerheader"><a>CONTACT US</a></li>
        <li style="margin-top: 10px;" class="subfooterheader"><a style="text-decoration: none; color: white;" href="#">Phone - +97126439099</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white;" href="#">Email - welcome@uhpae.com</a></li>
        <li class="subfooterheader"><a style="text-decoration: none; color: white;" href="{{url_for('careers')}}" style="z-index: 100;">Careers</a></li>
      </ul>
    </div>
    <div class="col text-center">
      <ul class="list-unstyled">
        <li class="footerheader"><a>VISIT US</a></li>
        <li style="margin-top: 10px;" class="subfooterheader"><a style="font-family:'Poppins-light';text-decoration: none; color: white;" href="#">Office No. 1101, P.O.Box 29204 A.D University Tower, Al Nahyan</a></li>
        </ul>
    </div>
    

    </div>
  </div>

</section>

<div style="border-bottom: 1px solid rgba(255,255,255,.25);"></div>
<div class="container"style="padding-top: 10px;">
  <div class="row">
    <div class="col">
      
      <p style=" text-align: center;" class="subfooterheader" >&copy; Copyright 2020 - Unique Homes Properties.  All rights reserved.</p>
    </div>
  </div>
</div>




  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script>

  $( ".s_bar_btn_default" ).keyup(function(){
    var p = $("#pv").val() - (($("#dp").val()/100)*$("#pv").val())
    $("#p").val(p)
    var n = $("#n").val()*12
    var r = $("#r").val()/(12*100)
    var mth = (p*r*Math.pow(1+r,n))/(Math.pow(1+r,n)-1)
    $("#mortgage").empty()
    $("#mortgage").append("AED "+ Math.round(mth))
  })
  window.onload = $("#mortgage").append("AED "+ "----")
  $("#mortgagescrollto").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#mortgagescroll").offset().top
    }, 1500);
});
</script>



<script>
  function alertuser() {
var x = document.getElementById("sendername").value;
alert("Thank You, for reaching out to us "+ x );
}
</script>

  {% block scripts %}{% endblock %}
  <!--script>
    const scriptURLbase = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
    const formbase = document.forms['base']
  
    formbase.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL1, { method: 'POST', body: new FormData(formbase)})
        .then(response => alert("Thanks for being a part of us!"))
        .catch(error => console.error('Error!', error.message))
    })
  </script>
  <script>
$(window).on('load', function() {
  $("#maps").html(
                        '<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3631.585237393159!2d54.38263891451571!3d24.46517136701256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e675cd7963a9b%3A0xfdbd8a2ee9f241e3!2sUnique%20Homes%20Worldwide%20Properties%20L.L.C!5e0!3m2!1sen!2sae!4v1606572916763!5m2!1sen!2sae" width="100%"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>');
                  
})


  
  </script-->
  <script>
    function imgError(image) {
      image.onerror = "";
      image.src = "/static/images/alt_property.jpg";
      return true;}
  </script>
  <script>
var element = document.getElementById("header");
window.onscroll = (function() {
   var hT = $('#window_footer').offset().top,
       hH = $('#window_footer').outerHeight(),
       wH = $(window).height(),
       wS = $(this).scrollTop();
   if (wS > (hT+hH-wH)){
    element.classList.remove("bg-dark");
    element.classList.add("bg-dark-const");
   }
   else {
    element.classList.remove("bg-dark-const");
    element.classList.add("bg-dark");
   }
});

  </script>
<script>
var pageLink = window.location.href;
var pageTitle = String(document.title).replace(/\&/g, '%26');
var subject = 'Follow Uhpae'
function tbs_click() { window.open('https://twitter.com/intent/tweet?text='+pageTitle+'&url='+pageLink+'','sharer','toolbar=0,status=0,width=626,height=436');return false;}
function fbs_click() { window.open('http://www.facebook.com/sharer.php?u='+pageLink+'&quote='+pageTitle+'','sharer','toolbar=0,status=0,width=626,height=436');return false; }
function lbs_click() { window.open('https://www.linkedin.com/sharing/share-offsite/?url='+pageLink+'}','sharer','toolbar=0,status=0,width=626,height=436');return false;}
var a = document.getElementById('mail');
</script>





  </body>
  </html>