{% extends "base.html" %}
{% block metacontent %}

 <title>About BLOOM</title>
 <meta property="og:image" content="https://www.uhpae.com/static/images/bloom.jpg" /> 
 <meta property="og:title" content="Our Partner - BLOOM">
 <meta property="og:description" content="Since our establishment in 2007, Bloom Holding has risen with bold momentum.">
{% endblock %}
{% block content %}



<section style="background-image:url({{thumbnail}});background-repeat: no-repeat;background-position: top center, top center, bottom center; background-size: cover;">
  <div class="container" style="padding-top: 100px;">
      <div class="row">
          <div class="col">
              <h2 class="developer">
                  BLOOM - {{status}}
                </h2>  
          </div>
  
        <div class="col text-right">
            <img class="partners" src="/static/images/bloom.png" alt=""  >
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 10%;">
    <div class="row justify-content-center">
        <div class="col shadow" style="text-align: justify; background-color: rgba(255, 255, 255, 0.8);"">
          <br>  
          <p class="simple"><b>Growing together everyday</b></p>
            <p class="simple">
As one of the UAE’s foremost companies, we are committed to developing premium real estate and enriching the lives of our customers through our excellence in managing and operating our communities, schools and hotels. Over the years, our team has grown and our strategies have evolved, yet an essential aspect remains unchanged – the driving force of our success: our people’s passion.
Our transparent internal communication and strong sense of belonging naturally extends outward to our customers. We are keen to address your needs before they arise.
With that sentiment in our hearts, we have witnessed a rapid pace of development: Over 3,500 properties were delivered in 2019 and there are 6,000 more in the pipeline, including a leasing portfolio of 769 premium residential units in key locations in Abu Dhabi and Dubai, 630 hotel rooms, Grade A office spaces, 7 schools and 1 nursery.
</p><p class="simple">
Since our establishment in 2007, Bloom Holding has risen with bold momentum. Bloom entered the market during a relatively volatile period, poised for challenges and enduring stiff competition. Fuelled by team spirit, openness, and transparency, our distinguished product quality and service set us apart.
Bloom Properties has grown and launched multiple new projects, both in Dubai and Abu Dhabi, since 2015. This has established Bloom Properties as being one of the few Abu Dhabi developers to venture successfully into Dubai with mid-market offerings.
</p><p class="simple">
Our development philosophy reflects that of our customers. We are highly selective in our decision-making centred on creating returns by capitalizing on opportunities that contribute to the economic potential of markets and added value to communities.
</p><p class="simple">
Simultaneously, Bloom Education supports the development of future generations through our education partnerships with best-in-class international schools and by serving the national community through Abu Dhabi’s Charter Schools programme. Bloom Education’s growth rate doubled from 2018 to 2019, with a current total of 8 teaching establishments across the emirates.
Hospitality offers internationally recognized five-star hotels and luxury hotel apartments in association with Marriott International, with 630 guest rooms including 128 executive apartments.
bfm has continued to grow as a subsidiary of Bloom Holding, where it was awarded four ISO quality standards for its operations, processes and management in 2019. Most recently, Bloomscape, with extensive landscaping and contracting services, has been an exciting new addition to our expansive list of services.
</p><p class="simple">
International growth and presence are key factors in our upcoming projects. With tremendous opportunities in the region we have set our sights on regional diversification into untapped markets.
In Education, we partnered with premium brands such as Brighton College, Dwight School and MindChamps Nursery across Abu Dhabi, Dubai and Al Ain.
In Hospitality, we partnered with renowned operators offering lavish experiences. We boast over 630 guest rooms including 128 executive apartments in the UAE capital, including the Abu Dhabi EDITION and the Marriott Hotel Downtown Abu Dhabi.
</p>
<p class="simple"><b>
Values</b>
</p>
<ul class="simple">
    <li>
Passion
    </li>
    <li>
Inspiration
    </li>
    <li>
Ambition
    </li>
    <li>
Integrity
    </li>
    <li>
Togetherness
    </li>
    <li>
Caring
    </li>
</ul>

        </div>
    </div>

</div>

</section>

<div class="container">
    {% if sub_community.items()|length > 0 %}
<div class="row">
  <div class="col">
    <h2 style="color: black;" class="location_header" >
      Bloom {{status}} Communities
    </h2>
  </div>
</div>

{% for key, value in sub_community.items() %}
  <div class="row">
    <div class="col">
      <h2 class="sub_community">{{key}}</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 2.5rem;">
  {% for i in value %}
  <div class="col-lg-3 col-md-3">
    <div class="box">
      <a href="/communities/{{i[0]|replace(' ','-')}}/{{i[1]|replace(' ','-')}}">
        <figure class="snip1193 content">
          <img src="{{i[2]}}" alt="{{i[1]}}" title="{{i[1]}}" style="object-fit: cover;">
          <figcaption>
          <h4 class="imgtext">{{i[8]}}</h4>
          <p>-SEE MORE-</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  {% endfor %}
  </div>
{% endfor %}
{% endif %}
</div>



{% endblock %}
