{% extends "base.html" %}
{% block metacontent %}
<meta property="og:image" content="https://www.uhpae.com/static/images/Logo2.jpg" /> 
 <title>Careers Page</title>
 <meta property="og:title" content="Search for your ideal Job">
 <meta property="og:description" content="Be a part of our diverse team!">
{% endblock %}

{% block content %}
<div class="container" style="margin-top:40px;">
    <div class="row">
      <div class="col">
        <p class="simple"><a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Roboto', sans-serif;" class="sizelink">Home ></a><a style="color: #8e8a8a;font-family: 'Roboto', sans-serif;" class="sizelink" href="{{url_for('careers')}}"> Careers </a>
  </p>
    </div>
    </div>
  </div>
  
    
   <div class="container-fluid" style=" margin-top: 20px;">
    <div class="container" style="padding-top: 25px; padding-bottom: 25px;">
    <h2 class="nfont">CAREERS</h2>
    <p class="simple">Send in Your resumes by clicking the 'Apply Now' button</p>
    </div>
</div>
<br>

<div class="container">
<h4 class="nfont">JOIN OUR TEAM</h4>
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header" style="font-family: Audrey; color: #A57D2D;">DESIRED POSITION</h5>
            <div class="card-body">
              <!--h5 class="card-title" style="font-family: Audrey; color: #A57D2D;">Desired Position</h5-->
              <p class="card-text simple">We don't have any current openings at the moment! However, feel free to submit your CV and we will reach out to you soon as we find a suitable position!</p>
              <div class="row">
                  <div class="col" style="text-align: right;">
              <a href={{url_for('submitcv')}} style="padding: 10px; right: 0; " >Apply Now</a>
              </div>
              </div>
            </div>
          </div>



    </div>
    
</div>
</div>

{% endblock %}