{% extends "base.html" %}
{% block metacontent %}
<meta property="og:image" content="https://www.uhpae.com/static/communities/{{area}}.webp" /> 
<meta property="og:title" content="{{area}} Properties">
<meta property="og:description" content="Go through a wide range of Properties available in {{area}} communities">
<meta name="keyword" content="{{area}} Properties, {{area}} communities, {{area}} apartments"/>
<meta name="title" content="{{area}} Properties">
<meta name="description" content="Go through a wide range of Properties available in {{area}} communities, {{area}}">
{% endblock %}

{% block content %}
<section style="background-image: url(/static/images/scaledbg.webp); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
  <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75); padding-bottom: 12%;">
<div class="container" style="padding-top: 90px;">
    <div class="row">
      <div class="col">
        <div class="dropdown">
            <button type="button" class="s_bar_btn" data-toggle="dropdown" >
          Filter by ▼
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" onclick=sale() style="cursor: pointer;">Sale</a>
            <a class="dropdown-item" onclick=rent() style="cursor: pointer;">Rent</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id = "sale" style="margin-top: 20px;">
      <div class="col justify-content-around" >
          
        {% for item in rooms %}
        
        
        <a href={{url_for('search', beds=item[2], area=area, units = 'buy')}} style="margin: 10px; margin-left: 0px; font-family: 'Poppins-light'; color: #A57D2D; background-color: #E8E8E8; font-size: 12pt; padding: 5px; border: 1px solid #e8E8E8;"><p style="display: inline;">{{item[1]}}</p><p style="display: inline;">({{item[0]}})</p></a>
        {% endfor %}
    </div>
    </div>
    <div class="row" id="rent" style="margin-top: 20px;">
        <div class="col">
             
        {% for item in rent_rooms %}
        <a href={{url_for('search', beds=item[2], area=area, units = 'rent')}} style="margin: 10px; margin-left: 0px; font-family: 'Poppins-light'; color: #0e4a88; background-color: #E8E8E8; font-size: 12pt; padding: 5px; border: 1px solid #e8E8E8;"><p style="display: inline;">{{item[1]}}</p><p style="display: inline;">({{item[0]}})</p></a>
        {% endfor %}
    </div>
    </div>
</div>
<div id="window_footer"></div>
<div class="container" style="margin-top: 30px;">
    <div class="row">
{% for item in result %}

<div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center" style="margin-bottom: 10px;">
<div class="card" style="width: 18rem; height: 350px; position:relative; border-radius:0px; margin-top:20px; border:none;">
<img class="card-img-top1" src="../static/communities/{{item[0]}}.jpg" onerror="imgError(this);" style="height: 160px; object-fit:cover;">
<div class="card-img-overlay" style="z-index:0;"><div class="card-content"><a href="/communities/{{item[1]}}/{{item[0]}}">
<button class="viewmore">VIEW MORE</button></a></div></div>
<div class="card-body" style="z-index:2; border-radius: 0px;">
<div class="row" style="margin-top: -10px;margin-bottom:5px;"><div class="col"><h5 class="card-title" style =  "font-family: 'Poppins-light';font-size: 11pt;text-transform: uppercase;">{{item[0]}}</h5></div></div>
<div class="row" style="margin-top:-9px;"><div class="col"><p style ="font-family: 'Poppins-light'; font-size: 7.5pt;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;" >{{item[2]|truncate(100)}}</p></div></div>
<div class="row" style=" position: absolute; bottom: 0;">
<div class="col"><a href="{{url_for('search', property = item[3], units = 'buy')}}" class="s_bar_btn" style="float: left;">Units for Sale</a></div>
<div class="col"><a href="{{url_for('search', property = item[3], units = 'rent')}}" class="s_bar_btn" style="float: left;">Units for Rent</a> </div>
</div>
</div>
</div>
</div>




{% endfor %}
</div>

</div>

</div>
</section>
<script>
  function imgError(image) {
    image.onerror = "";
    image.src = "/static/images/alt_sub_community.jpg";
    return true;}
</script>



{% endblock %}
{% block scripts %}


<script>
    var sales = document.getElementById("sale");
    var rents = document.getElementById("rent");
    sales.style.display = "none";
    rents.style.display = "none";
  
    function sale(){
        if (rents.style.display = "none"){
          sales.style.display = ""
        }
        else if (rents.style.display = ""){
          rents.style.display = "none";
          sales.style.display = "";
        }
      }
  
      function rent(){
        if (sales.style.display = "none"){
          rents.style.display = ""
        }
        else if (sales.style.display = ""){
          sales.style.display = "none";
          rents.style.display = "";
        }
      }
  
  </script>
 {% endblock %}