{% extends "base.html" %}
{% block metacontent %}
<meta name="title" content="Commercial Properties For You">
<meta name="description" content="Find properties in Reem Island, Yas Island, Saadiyat, Al Reef and many more!">
<meta name="keywords" content="reem, saadiyat, yas, Raha, Island, Al reef, Al Ghadeer,buy, sell, rent, communities, real estate">
 <title>Commercial Properties For You</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:image" content="https://www.uhpae.com/static/images/highlight.jpeg" /> 
<meta property="og:url" content="https://www.uhpae.com/communities">
<meta property="og:title" content="Commercial Properties For You">
<meta property="og:description" content="Find properties in Reem Island, Yas Island, Saadiyat, Al Reef and many more!">
{% endblock %}
{% block content %}
<div style="background-color: #F8F8F8; margin-top: 30px;">
  <div class="container ">
    <div class="row" style="padding-top: 2vh" >
      <div class="col">
      <h2 class="nfont" ><b>COMMUNITIES</b></h2>
        </div>

          
</div>
</div>
</div>
<div class="container">

  <div class="row">
    {% for item in x %}
    <div class="col-4" style="margin-bottom: 10px; margin-top: 10px;">
      <div class="content">
         <a href="/communities/{{item}}">
              <div class="content-overlay" style="border-radius: 5px;"></div> 
              <img class="content-image" style="box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
              border-radius: 5px;height: 300px;width: 100%;" src="/static/communities/{{item}}.jpg">
              <div class="content-details fadeIn-bottom">
                  <h6 class="content-title">{{ item | replace('-',' ') }}</h6>
                  <p class="content-text"><i class="fa fa-map-marker"></i> ^</p>
              </div>
          </a> 
        </div>
  </div>
    {% endfor %}
  </div>

</div>


{% endblock %}