{% extends "base.html" %}
{% block metacontent %}

 <title>About Imkan</title>
 <meta property="og:image" content="https://www.uhpae.com/static/imagesimkan.jpg" /> 
 <meta property="og:title" content="Our Partner - IMKAN">
 <meta property="og:description" content="Imkan residential, retail, hospitality and commercial projects all have something in common">
{% endblock %}
{% block content %}



<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col">
            <p class="nfont" style="display: inline; margin-left: 20px;"><b>IMKAN</b></p>
        </div>
        <div class="col text-right">
            <img class="partners" src="/static/images/imkan.jpg" alt="" style="display: inline; ">
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row justify-content-center">
        <div class="col shadow" style="text-align: justify;"><p class="simple">Imkan residential, retail, hospitality and commercial projects all have something in common. They aspire to stimulate immediate surroundings and enrich the lives of the people that interact with them. By collaborating, engaging, and enriching; Imkan purpose is to feed the soul, foster innovation, and cultivate an organic sense of community within each and every one of Imkan projects.
            With a strong Research and Development platform at Imkan core, Imkan team of dedicated researchers work to help articulate, initiate, develop and facilitate creative solutions at every stage of the Property Development cycle. Imkan mission is to contribute to the environment, ecosystem and community of every property we develop so we can raise the overall standard of living. Imkan are driven by the team – because it’s the people that make us what we are today and will ensure we deliver on our promise.
            Imkan has developments in 3 Continents,  6 Countries, and 26 Projects. With total of 30 Million Square Meters of Land. Imkan has a Global Perspective with Local Insight.
            </p>
            <ul class='simple'><b>Imkan Projects</b> 
                <li>
                    Pixel Al Reem Island</li>
                    <li> Al Jurf Al Reem Island</li><li>Nudra Saadiyat Island</li><li>The Artery Al Reem Island</li><li>Makers District Al Reem Island</li><li>Shiekha Fatima Park Khalidiyah Abu Dhabi</li>
                   
                    
                    
                    
                    
                
            </ul>
    </div>
    </div>
    </div>
{% endblock %}
