{% extends "base.html" %}
{% block metacontent %}
<meta name="title" content="List your property with the best Real Estate Company in Abu Dhabi">
<meta name="description" content="UHP Listing team is the artery for the sales and leasing teams, as they act as advocates for landlords and property owners by considering a high level of confidentiality">
<meta name="keywords" content="List, Property, email, name, leasing, listing">
<title>List your property with the best Real Estate Company, UHPAE in Abu Dhabi</title>
<meta property="og:image" content="https://www.uhpae.com/static/images/propertymk.jpg" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content="https://www.uhpae.com/services">
<meta property="og:title" content="List your property with the best Real Estate Company in Abu Dhabi">
<meta property="og:description" content="UHP Listing team is the artery for the sales and leasing teams, as they act as advocates for landlords and property owners by considering a high level of confidentiality">
{% endblock %}

{% block content %}
<section style="background-image: url(/static/images/scaledbg.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
    <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75); padding-bottom: 12%;">
<div style="background-color: rgb(0, 2, 22)">
    <div class="container ">
      <div class="row" style="padding-top: 90px" >
        <div class="col">
        <h2 class="nfont" ><b>PROPERTY LISTING</b></h2>
          </div>

</div>
</div>
</div>
<div class="container" style="margin-top:40px;">
    <div class="row">
      <div class="col">
        <p class="simple" style="color:white;"><a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink">Home ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink" href="{{url_for('team')}}"> Team </a>
  </p>
    </div>
    </div>
  </div>
<div class="container">
<div class="row" style="margin-top: 7%;">
    <div class="col">
    <div class="row"><div class="col">
        <h1 class="nfontchanged mblview grow" style="display: inline;">THINK</h1><h3 class="nfontchanged mblview less" style="margin-left: 5px; display: inline;"> LESS</h3>
    </div></div>
    <div class="row"><div class="col">
        <h3 class="nfontchanged mblview less" style="display: inline;">GROW</h3><h1 class="nfontchanged mblview rich" style="margin-left: 5px; display: inline; "> RICH</h1>
    </div></div>
    <div class="row">
        <div class="col">
            
                <p class="simple" style="text-align: justify; font-family: 'Poppins-light'; color: white;">
                UHP Listing team is the artery for the sales and leasing teams,
                as they act as advocates for landlords and property owners by 
                considering a high level of confidentiality, while getting maximum 
                exposure for their property using the most advanced technologies 
                form CRM our free web portals to paid portals.The team is aligned 
                with the overall strategy, so it’s very important to work cross 
                functionally with other teams such as Sales, Leasing, and Marketing
                to arrange Photo shooting sessions for the properties, liaise with
                landlords for viewings, and virtual tours for the property.
                </p>
            </div>          
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <h2 class="nfont" >WHY LIST WITH US?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="simple" style="text-align: justify; color: white;">Unique Homes Worldwide Properties (UHP) was established in 2018 to continue to be an active member and one of the leading real estate companies in the UAE.
                Committed to provide diverse and complete real estate solutions, equipped with the knowledge and skills in many different dimensions including but not limited to Off-Plan properties (Land, Villas & Apartments), Ready Properties (Commercial & Residential), and Resale in Abu Dhabi & Dubai.
                Maintaining the growth level over years, created new opportunities to undertake in multiple markets, and allowed us to provide new services to our clients.</p>
        </div>
    </div>


</div>

</div>



</div>

<div class="container">
    <div class="row">
        <div class="col" >
            <form method="post" autocomplete="off" name="google-sheet" style=" background-color: rgba(0, 0, 0, 0.75);-webkit-box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.65);
            -moz-box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.65);
            box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.65); z-index: 20; padding:20px; " class="listform">

                    <div class="form-group" style='font-family: "Roboto";'>
                        <div class="row " style="margin-top: 20px;">
                            <div class="col" style="text-align: center;">
                        <p style="font-family: 'Poppins'; font-weight: bold; color:  #8e8a8a; font-size: 3vh;">HOW TO LIST YOUR PROPERTY WITH US ?</p>
                        </div>
                        </div>
                    
        
                        <div class="row" style="margin-top: 20px;">
                            <div class="col">
                        <input type="text" class="form-control inpsize simple" id="sendername" name="name" placeholder="Full name" required>
                        </div>
                        </div>
                    
                    <div class="row" style="margin-top: 20px;">
                            <div class="col">
                      <input type="text" class="form-control inpsize simple" name="email" aria-describedby="emailHelp" placeholder="Email" required>
                    </div></div>
                    <div class="row" style="margin-top: 20px;">
                            <div class="col">
                        <input type="text" class="form-control inpsize simple" name="phonenumber" placeholder="Phone Number" required>
                      </div></div>
                    <div class="row" style="margin-top: 20px;">
                            <div class="col">
                      <input type="text" class="form-control inpsize simple" name="type" aria-describedby="emailHelp" placeholder="Property Type" required>
                    </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                            <div class="col">
                        <input type="text" class="form-control inpsize simple" name="location" placeholder="Location" required>
                      </div></div>
                    
        
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                     <input type="date" class="form-control inpsize simple" name="meeting_date" required>
                    </div>  
                    </div>
                    
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                            <select name="time" class="custom-select inpsize" required>
                                <option value="">Available Time</option>
                                <option value="8am">8:00 AM</option>
                                <option value="9am">9:00 AM</option>
                                <option value="10am">10:00 AM</option>
                                <option value="11am">11:00 AM</option>
                                <option value="12pm">12:00 PM</option>
                                <option value="1pm">1:00 PM</option>
                                <option value="anytime">Anytime</option>
                              </select>
                    </div>  
                    </div>
        
                    <div class="row justify-content-center" style="margin-top: 20px;">
                        <div class="col" style="text-align: center;">
                            <input type="hidden" id="strReferrer" name="strReferrer" />
                        <input type="submit" value="Submit" class="btn inpsize" style="background-color: #001524; color: white; width: 20%;">
                            </div>
                    </div>
                </div>
                
            </form>
        
        </div>
    </div>
</div>

<div class="container"  style="margin-top: 50px">


    <div class="row">
        
            <div class="col">
        <h2 class="nfont" style="margin-bottom: 50px">WHY CHOOSE US?</h2>
            </div>
        </div>
<div class="row justify-content-center">
<div class="col" style="text-align: center;">
      
<div class="shadow" style="padding-top: 20px; position: relative;">
     
<img src="{{url_for('static', filename='icons/experience.png')}}" class="listingicons" width="100px">
<p class="simple" style="color:black; background-color: white;padding-top: 20px; padding-bottom: 20px;text-transform: uppercase;font-family: 'Poppins-bold';">Unique Experiences</p>
<p style="font-size: 40pt; color: #8e8a8a; font-family: 'Poppins-light'; position: absolute; margin-top: -45px; margin-left: 80px;">1</p> 
</div></div>
<div class="col" style="text-align: center;"><div class="shadow" style="padding-top: 20px; position: relative;">
   
<img src="{{url_for('static', filename='icons/mission.png')}}" class="listingicons" width="100px">
<p class="simple" style="color:black; background-color: white;padding-top: 20px; padding-bottom: 20px;text-transform: uppercase;font-family: 'Poppins-bold';">Excellent Reputation</p>
<p style="font-size: 40pt; color: #8e8a8a; font-family: 'Poppins-light'; position: absolute; margin-top: -45px; margin-left: 80px;">2</p> 
</div></div>

<div class="col" style="text-align: center;"><div class="shadow" style="padding-top: 20px; position: relative;">
   
<img src="{{url_for('static', filename='icons/project-management.png')}}" class="listingicons" width="100px">
<p class="simple" style="color:black; background-color: white;padding-top: 20px; padding-bottom: 20px;text-transform: uppercase;font-family: 'Poppins-bold';">Latest Technology</p>
<p style="font-size: 40pt; color: #8e8a8a; font-family: 'Poppins-light'; position: absolute; margin-top: -45px; margin-left: 80px;">3</p> 
</div></div>
<div class="col" style="text-align: center;">
    <div class="shadow bruhh" style="padding-top: 20px;  position: relative;">
   
<img src="{{url_for('static', filename='icons/digital-marketing.png')}}" class="listingicons" width="100px">
<p class="simple" style="color:black; background-color: white;padding-top: 20px; padding-bottom: 20px;text-transform: uppercase;font-family: 'Poppins-bold';">Industry Knowledge</p>
<p style="font-size: 40pt; color: #8e8a8a; font-family: 'Poppins-light'; position: absolute;  margin-top: -45px; margin-left: 80px;">4</p> 
</div>
</div>

<div class="col" style="text-align: center;">
    <div class="shadow bruhh" style="padding-top: 20px;  position: relative;">
  
<img src="{{url_for('static', filename='icons/date.png')}}" class="listingicons" width="100px">
<p class="simple" style="color:black; background-color: white;padding-top: 20px; padding-bottom: 20px;text-transform: uppercase;font-family: 'Poppins-bold';">Commitment</p>
<p style="font-size: 40pt; color: #8e8a8a; font-family: 'Poppins-light'; position: absolute; margin-top: -45px; margin-left: 80px;">5</p> 
</div>
</div>

</div>

</div>
  
</div>
</section>


{% endblock %}
{% block scripts %}
<script>
    document.getElementById('strReferrer').value = window.location.href;
    var element = document.getElementById("header");
    element.classList.remove("bg-dark");
    element.classList.add("bg-dark-const");
   </script>
   
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
  const form = document.forms['google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
      .catch(error => console.error('Error!', error.message))
  })
</script>{% endblock %}