{% extends "base.html" %}
{% block metacontent %}
<meta name="title" content="UHPAE Video Gallery">
<meta name="description" content="Watch us participate in the real estate community through our Youtube videos">
<meta name="keywords" content="media, youtube, sales, corporate,events">
 <title>UHPAE Video Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content="https://www.uhpae.com/media">
<meta property="og:image" content="https://www.uhpae.com/static/images/marketingsales.jpg" /> 
<meta property="og:title" content="UHPAE Video Gallery">
<meta property="og:description" content="Watch us participate in the real estate community through our Youtube videos">
{% endblock %}

{% block content %}

<section style="background-image: url(/static/images/scaledbg.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
  <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75); padding-bottom: 12%;">
  <div class="container ">
    <div class="row" style="padding-top: 90px" >
      <div class="col text-center">
      <h2 class="nfont" ><b>MEDIA</b></h2>
        </div>

          
</div>
</div>


<div class="container" >
  <div class="row">
    <div class="col">
      <p class="simple"><a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"   >Home ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('media')}}"> Media </a>
</p>
  </div>
  </div>
</div>


<div class="container" style="margin-top: 30px;">
  
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <iframe width="100%" class="videoheight sales" src="https://www.youtube.com/embed/agSDoJ3QAhg?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
          <iframe width="100%"  class="videoheight events" src="https://www.youtube.com/embed/2XhsEj8_wWA?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    
        <div class="col-lg-3 col-md-3 col-sm-12">
          <iframe width="100%"  class="videoheight sales" src="https://www.youtube.com/embed/zIG1JBqc264?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <iframe width="100%"  class="videoheight sales" src="https://www.youtube.com/embed/clDyCnEvzSY?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <div class="row"  style="margin-bottom: 20px;">
    
      <div class="col-lg-3 col-md-3 col-sm-12">
        <iframe width="100%"  class="videoheight corp" src="https://www.youtube.com/embed/eEJI2O7RD6A?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <iframe width="100%"  class="videoheight corp" src="https://www.youtube.com/embed/DqieIFMFkTA?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
    
        <div class="col-lg-3 col-md-3 col-sm-12">
            <iframe width="100%"  class="videoheight sales" src="https://www.youtube.com/embed/oXJYURiDU0k?autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <iframe width="100%"  class="videoheight corp" src="https://www.youtube.com/embed/rPro6OP5zw0?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <iframe width="100%"  class="videoheight corp" src="https://www.youtube.com/embed/MxVHHrGS4w4?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
      
        </div> 
        <div id="window_footer"></div>

    
</div>
</div>
</section>


{% endblock %}
{% block scripts %}{% endblock %}