{% extends "base.html" %}

{% block metacontent %} <meta name="title" content="">
<meta property="og:title" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />                        
<title></title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center p_mrg">
            <h2 class="nfont">-CAMPAIGN #2-</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <a href="{{url_for('campaign2')}}">
        <img src="../static/images/newsletter2.jpeg" width="100%" alt="">
        </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center p_mrg">
            <h2 class="nfont">-CAMPAIGN #1-</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <a href="{{url_for('campaign')}}">
        <img src="../static/images/newsletter.jpeg" width="100%" alt="">
        </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center p_mrg">
            <h2 class="nfont">-LATEST OFFER-</h2>
        </div>
    </div>
<div class="row">
<div class="col">
<a href="{{url_for('landingpage')}}">
<img src="../static/newsletter/Insta copy.webp" width="100%" alt="">
</a>
</div>
</div>
<div class="row">
        <div class="col text-center p_mrg">
            <h2 class="nfont">- SAADIYAT RESERVE OFFER-</h2>
        </div>
    </div>
<div class="row">
<div class="col text-center">
<a href="https://saadiyatreserve.uhpae.com/offer"><img src="../static/newsletter/saadiyat.webp" width="100%" alt=""></a>
</div>
</div>
<div class="row">
    <div class="col text-center p_mrg">
        <h2 class="nfont">-ARTICLE #1-</h2>
    </div>
</div>
<div class="row">
<div class="col">
<a href="http://blogs.uhpae.com/%D9%86%D8%B5%D8%A7%D8%A6%D8%AD%20%D8%AA%D8%B1%D9%81%D8%B9%20%D9%85%D9%86%20%D9%82%D9%8A%D9%85%D8%A9%20%D8%A7%D9%84%D8%B9%D9%82%D8%A7%D8%B1.html"><img src="../static/newsletter/6tips.jpg" width="100%" alt=""></a>
</div>
</div>
<div class="row">
    <div class="col text-center p_mrg">
        <h2 class="nfont">-ARTICLE #2-</h2>
    </div>
</div>
<div class="row">
<div class="col">
<a href="http://blogs.uhpae.com/%D9%83%D9%8A%D9%81%20%D8%AA%D8%AF%D8%AE%D9%84%20%D9%85%D8%AC%D8%A7%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AB%D9%85%D8%A7%D8%B1%20%D8%A7%D9%84%D8%B9%D9%82%D8%A7%D8%B1%D9%8A%20%D9%81%D9%8A%20%D8%A3%D8%A8%D9%88%D8%B8%D8%A8%D9%8A.html"><img src="../static/newsletter/secondarticle.jpg" width="100%" alt=""></a>
</div>
</div>



</div>








{% endblock %}
{% block scripts %}

{% endblock %}