{% extends "base.html" %}
{% block metacontent %}
<meta name="title" content="{{url}} | UHPAE">
<meta name="description" content="{{details[2]}} properties {{details[0]}},{{details[1]}}">
<meta name="keywords" content="{{url}} properties, {{community | replace('-', ' ')}}, {{details[1] | replace('-', ' ')}}, {{details[0]}},{{details[2]}}, Abu-Dhabi">
 <title>{{url}} | UHPAE</title>
 <meta property="og:image" content="https://www.uhpae.com/static/projects/{{folder}}/1.jpg" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:title" content="{{url}} | UHPAE">
<meta property="og:description" content="{{details[2]}} properties {{details[0]}},{{details[1]}}">
{% endblock %}
{% block content %}


<!--div class="modal-bg" id="signup">
    <div class="modalthis">
        <form method="post" autocomplete="off" name="google-sheet">
          <div class="container" style="background-color: white;">
            <div class="row">
                <div class="col" style="position: relative;">
                    <img src="../../static/images/Popup.webp" alt="" style="width: 100%;position: relative;">
                    <div class="row adrow" style="position: absolute;">
                        <div class="col" >
                            <button class="adrectangle" onclick="red('Saadiyat-Island','Mamsha-Al-Saadiyat')" style=" margin-left: 10px;" type="submit">
                            
                            </button>
                        </div>
                        <div class="col" >
                                <button class="adrectangle" onclick="red('Al-Ghadeer','Al-Ghadeer-Community')" style="" type="submit">
                            
                            </button>
                        </div>
                        <div class="col" >
                            
                                <button class="adrectangle" onclick="red('Yas-Island','Water\'S-Edge')" style=" margin-right: 10px;" type="submit">
                            
                            </button>
                        </div>
                        
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div class="col text-center">
                            <input type="hidden" id="strReferrer" name="strReferrer" />
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                     <input type="text" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" style="width: 100%;" id="email" name="email" placeholder="Email">
                                </div>
                            
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <input type="tel" pattern='[\+]\d{3}\d{2}\d{7}' title='Phone Number (Format: +971009999999)' style="width: 100%;" id="phonenumber" name="phonenumber" placeholder="or Phone No.">
                                </div>
                            </div>
                              <div class="row">
                                <div class="col text-center">
                                      <p class="simple">Choose any Property above!</p>
                                </div>
                              </div>
                                    
                              
                        </div>
                    </div>
                </div>
            </div>  
            
  
              <div class="row">
                  <div class="col"><p class="simple" style="display: inline;">Close Ad in </p>
                    <span id="countdown" class="simple" style="display: inline;">12</span>
                      <span id="close" class="modalclose simple" style="font-weight: bold;float: right;">Close</span>
                  </div>
              </div>
            </div>
        </form>
    </div>
  </div-->
  
  <section style="background-image: url(/static/images/scaledbg.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
    <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75); padding-bottom: 12%;">
  
      <div class="container ">
        <div class="row" style="padding-top: 90px" >
          <div class="col text-center">
          <h2 class="nfont" style="text-transform: uppercase;" ><b>{{url}}</b></h2>
            </div>
    
              
    </div>
    </div>
    

<div class="container">
<div class="row">
    <div class="col" style="font-size: 9pt;">
    <a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"   >Home ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('search', units='all')}}"> Abu Dhabi ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('communities')}}"> Communities ><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="/communities/{{community}}"> {{community}} ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="/communities/{{community}}/{{url | replace(' ', '-')}}"> {{url}}</a>
</div>
</div>

<div style=" background-color: rgba(0, 0, 0, 0.75);margin-top: 30px;">
    <div class="container ">
      <div class="row" style="padding-top: 2vh; padding-bottom: 2vh" >
        <div class="col">
        <button onclick="scrolltodiv('over')" class="s_bar_btn overview" style="border: hidden;">Overview</button>
        <button onclick="scrolltodiv('features')" class="s_bar_btn" style="border: hidden;">Features</button>
        <button onclick="scrolltodiv('unitsforsale')" class="s_bar_btn" style="border: hidden;">Units</button>
        <button onclick="scrolltodiv('floorplans')" class="s_bar_btn" style="border: hidden;">Floorplans</button>
        <button onclick="scrolltodiv('location')" class="s_bar_btn" style="border: hidden;">Location</button>
       <button  class="s_bar_btn"><a href="{{url_for('listing')}}" style="color: black;text-decoration: none;">List Your Property</a></button>
       </div>
            
  </div>
  </div>
  </div>

<div class="row p_mrg">
<div class="col">
<h4 class = "proploc" style="font-family: 'Poppins-light', sans-serif;" id="over">Overview</h4>
</div>
</div>

    <div class="row">
    <div class="col simple" style="color: white;">
        <p style="text-align: justify;">{{overview | safe}}</p>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="s_bar_btn" style="border:hidden" onclick="readmore()" id="readmore">Read more</button>
        </div>
</div>

<div class="row p_mrg">
    <div class="col">
    <h4 class = "proploc" style="font-family: 'Poppins-light', sans-serif;">Property Details</h4>
    </div>
    </div>
        <div class="row">
          <div class="col">
            <div class="project_details"><img class="p_icons" src="../../static/icons/select.png" alt=""><p class="simple" style="display: inline;color: white;">{{details[0]}}</p></div>
            <div class="project_details"><img src="../../static/icons/calculator.png" class="p_icons" style="height: 25px;" alt=""><p class="simple" style="display: inline; color: white;">{{details[1]}}</p></div>
            <div class="project_details"><img src="../../static/icons/unite.svg" class="p_icons" style="height: 25px;" alt=""><p class="simple" style="display: inline; color: white;">{{details[2]}}</p></div>
        </div>
</div>
</div>

<div class="container" style="margin-top: 30px;">
    <div class="row">
      <div id="window_footer"></div>
      <div class="col-lg-12">
        
  <div id="imgcarousel4">
    
  
  </div>
  
  </div>
  </div>
  </div>


<div class="container" style="margin-top: 30px;">
    <div class="row p_mrg">
        <div class="col">
        <h4 class = "proploc" style="font-family: 'Poppins-light', sans-serif;" id="unitsforsale">Units for Sale</h4>
        </div>
        </div>
            <div class="row">
        <div class="col">
    <div class="container-property" id="displaysale">
    
    </div>
</div>
</div>
</div>
<div class="container" style="margin-top: 30px;">
    <div class="row p_mrg">
        <div class="col">
        <h4 class = "proploc" style="font-family: 'Poppins-light', sans-serif;" id="unitsforrent">Units for Rent</h4>
        </div>
        </div>
            <div class="row">
        <div class="col">
    <div class="container-property" id="displayrent">
    
    </div>
</div>
</div>
</div>



<div class="container p_mrg">
    <div class="row">
        <div class="col">
        <h4 class = "proploc" style="font-family: 'Poppins-light', sans-serif;" id="location">Location</h4>
        </div>
        </div>
        <div class="row">
            <div class="col">
                {{maparea | safe}}
            </div>
        </div>
            <div class="row p_mrg">
<div class="col-4">
<div class="row">
    <div class="col  text-center">
        <button onclick="loc('schools')" class="s_bar_btn" style="cursor: pointer;" >Schools nearby</button>
    </div>
</div>
    <div class="row">
        <div class="col" >
            <div id = "schools" class="simple shadow" >
                {% for item in schools %}
                <p class="ldec" style="display: block; color: white; text-align: center;">{{item}}</p>
                {% endfor %} 
            </div>
        </div>


</div>
</div>
<div class="col-4">
    <div class="row">
        <div class="col text-center">
            <button onclick="loc('hospitals')" class="s_bar_btn" style="cursor: pointer;">Hospitals nearby</button>
        </div>
    </div>
        <div class="row">
            <div class="col" >
              <div id="hospitals"  class="simple shadow" >
                    {% for item in hospitals %}
                    <p class="ldec" style="display: block;  color: white; text-align: center;"> - {{item}}</p>
                    {% endfor %} 
              </div>
            </div>
    
    
    </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col text-center">
                <button onclick="loc('landmarks')" class="s_bar_btn" style="cursor: pointer;">Landmarks nearby</button>
            </div>
        </div>
            <div class="row">
                <div class="col" >
                  <div id="landmarks" class="simple shadow">
                        {% for item in landmarks %}
                        <p class="ldec" style="display: block;  color: white; text-align: center;"> - {{item}}</p>
                        {% endfor %} 
                  </div>
                </div>
        
        
        </div>
        </div>
</div>
</div>
<!--Vt-->
{% if vt != "" %}
<div class="container">
  <div class="row p_mrg">
    <div class="col">
    <h4 class = "proploc" style="font-family: 'Poppins-light', sans-serif;" id="floorplans">Virtual Tour</h4>
    </div>
    <div class="col text-right">
      <a href="{{vt}}" title="{{vt}}" class="s_bar_btn" style="cursor: pointer; padding: 3px;">View in Fullscreen</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <iframe src="{{vt}}" frameborder="0" width="100%" class="vt"></iframe>
    </div>
  </div>
</div>
{% endif %}


<div class="container p_mrg" style="background-color: rgba(0, 0, 0, 0.75); padding-top: 1%;padding-bottom: 1%;">
    <div class="row">
        <div class="col">
        <h4 class = "proploc" style="font-family: 'Poppins-light', sans-serif;">Book a Viewing</h4>
        </div>
        </div>
            <div class="row">
        <div class="col">
            <form autocomplete="off" name="book" class="simple">
                <div class="row justify-content-center">
                    <div class="col">
                <textarea rows="4" style="width: 100%;" type="text" name="message">Hello! Im interested in {{url}}'s properties and would like to know more
                </textarea>
                </div>
                </div>
                <br>
                <div class="row justify-content-center"><div class="col">
                <textarea type="text" name="name" rows="1" style="width: 100%;" id="sendername" placeholder="Your Name" required></textarea>
                </div></div>
                <br>
                <div class="row justify-content-center"><div class="col">
                <textarea type="text" name="email" rows="1" style="width: 100%;"  placeholder="Email address" required></textarea>
                </div></div>
                <br>
                <div class="row justify-content-center"><div class="col">
                <textarea type="text" name="phonenumber" rows="1" style="width: 100%;"  placeholder="Phone/ Mobile Number" required></textarea>
                </div></div>
                <br>
                <input type="hidden" id="strReferrer" name="strReferrer" />
                <input type="submit" value="submit" class="s_bar_btn">
                
              </form>

              




        </div>
        
    </div>


</div>

</div>
</section>



{% endblock %}
{%block scripts%}
<script>
  document.getElementById('hospitals').style.display = "none"
  document.getElementById('schools').style.display = "none"
  document.getElementById('landmarks').style.display = "none"
  function loc(s){
    if (document.getElementById(s).style.display == "none")
    {document.getElementById(s).style.display = ""}
    else{document.getElementById(s).style.display = "none"}
  }
</script>
<script>
    document.getElementById('strReferrer').value = window.location.href;
   </script>
   
<script>
    function scrolltodiv(parameter) {
        var getscroll = document.getElementById(parameter);
        getscroll.scrollIntoView();
    }
</script>
<script>
    function red(a,b){
    path = "/communities/"+a+"/"+b;
    }
    function your_func(){
        window.location.href = path;
    }

    const scriptURL = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
    const form = document.forms['google-sheet']
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      var x = document.forms["google-sheet"]["email"].value;
      var p = document.forms["google-sheet"]["phonenumber"].value;
    if (x == "" && p == "") {
    alert("Kindly Fill in your name or number, then click on either of the 3 Properties given");
    return false;}
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon...")).then(sessionStorage.setItem('#signup', 'true')).then(setTimeout(function() { your_func(); }, 5000))
        .catch(error => console.error('Error!', error.message))
    })

  </script>
<script>
    const scriptURL1 = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
    const form1 = document.forms['book']
  
    form1.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL1, { method: 'POST', body: new FormData(form1)})
        .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
        .catch(error => console.error('Error!', error.message))
    })
  </script>

  
<script>
    
    var b = JSON.parse('{{ sale | tojson | safe}}');
    var data ='';
    var pagebtn = ''
    $.each(b, function(key, value){var area = value.area;
      var area = value.area;
                    var newarea = area.replace(/\s/g, '-')
                    var property = value.property;
                    var newproperty = property.replace(/\s/g, '-')
                    if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y =  "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "gold-"; 
                    }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "";
                      }
     
                      if (value.beds == "ST"){
                    beds = ''}
                  else {
                    beds = ' Bed'
                  }
                 
                  data += '<div class="card" style="width: 16rem; height: 16.5rem;  position:relative; border-radius:0px; border:none; margin-right:20px;">'
                  data += '<img class="card-img-top1" src="'+value.image+'"  onerror="imgError(this);" style="height: 160px; object-fit:cover;">'
                  data += '<div class="card-img-overlay" style="z-index:0;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"><div class="card-content"><button class="viewmore">'+value.title+'</button></div></a></div>'
                  data += '<div class="card-body" style="z-index:2; border-radius: 0px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'">'
                  data += '<div class="row" style="margin-top: -10px;margin-bottom:5px;"><div class="col"><h5 class="card-title" style =  "'+ y +'font-size: 11pt;text-transform: uppercase;  overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">'+value.property+'</h5></div></div>'
                  data += '<div class="row" ><div class="col"><h5 class="card-title" style =  "'+ y +' font-size: 7.5pt;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">'+value.type+', '+value.area+'</h5></div><div class="col-3"><p class="card-text" style ="float:right;'+ y +'font-size: 7.5pt;">'+value.beds+beds+'</p></div></div>'
                  data += '<div class="row" style="margin-top:-7px;"><div class="col"><p class="card-text" style ="'+ y +'font-size: 7.5pt;">Abu Dhabi</p></div><div class="col-5"><p style ="'+ y +'font-size: 7.5pt;float:right; margin-top:7px;" >AED '+value.price+'</p></div></div>'
                  data += '</a></div>'
                  data += '</div>'

                
        
                })

    $('#displaysale').append(data);
  
</script>
<script>
    
    var b = JSON.parse('{{ rent | tojson | safe}}');
    var data ='';
    var pagebtn = ''
    $.each(b, function(key, value){var area = value.area;
      var area = value.area;
                    var newarea = area.replace(/\s/g, '-')
                    var property = value.property;
                    var newproperty = property.replace(/\s/g, '-')
                    if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y =  "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "gold-"; 
                    }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "";
                      }
                  
  
                      if (value.beds == "ST"){
                    beds = ''}
                  else {
                    beds = ' Bed'
                  }
                 
                  data += '<div class="card" style="width: 16rem; height: 16.5rem;  position:relative; border-radius:0px; border:none; margin-right:20px;">'
                  data += '<img class="card-img-top1" src="'+value.image+'"  onerror="imgError(this);" style="height: 160px; object-fit:cover;">'
                  data += '<div class="card-img-overlay" style="z-index:0;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"><div class="card-content"><button class="viewmore">'+value.title+'</button></div></a></div>'
                  data += '<div class="card-body" style="z-index:2; border-radius: 0px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'">'
                  data += '<div class="row" style="margin-top: -10px;margin-bottom:5px;"><div class="col"><h5 class="card-title" style =  "'+ y +'font-size: 11pt;text-transform: uppercase;  overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">'+value.property+'</h5></div></div>'
                  data += '<div class="row" ><div class="col"><h5 class="card-title" style =  "'+ y +' font-size: 7.5pt;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">'+value.type+', '+value.area+'</h5></div><div class="col-3"><p class="card-text" style ="float:right;'+ y +'font-size: 7.5pt;">'+value.beds+beds+'</p></div></div>'
                  data += '<div class="row" style="margin-top:-7px;"><div class="col"><p class="card-text" style ="'+ y +'font-size: 7.5pt;">Abu Dhabi</p></div><div class="col-5"><p style ="'+ y +'font-size: 7.5pt;float:right; margin-top:7px;" >AED '+value.price+'</p></div></div>'
                  data += '</a></div>'
                  data += '</div>'

                
        
                })
    if (data==""){
        document.getElementById('unitsforrent').style.display = "none"
    }
    $('#displayrent').append(data);
                
</script>
<script>
  /*
    var x = {{images|tojson}}
    var imagedata = '';
    for (i = 0; i < x.length; i++) {
      imagedata += '<div class="imagescell">'
      imagedata += '<img src="' + x[i] + '">'
      imagedata += '</div>'
      }
      $('#imgcarousel4').append(imagedata);
*/
    var x = {{images|tojson}}
    var imagedata = '';
    imagedata += '<div class="carousel  carousel-main" data-flickity>'
    for (i = 0; i < x.length; i++) {
      imagedata += '<div class="carousel-cell" >'
      imagedata += '<img class="carousel-cell-image" style="left:50%;" src="' + x[i] + '">'
      imagedata += '</div>'
      }
      imagedata += '</div>'
      imagedata += '<div class="carousel carousel-nav" '+"data-flickity='"+'{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "prevNextButtons": false}'+"'>"
        for (i = 0; i < x.length; i++) {
      imagedata += '<div class="carousel-cell">'
      imagedata += '<img style="width: 100px;height: 100px;" src="' + x[i] + '">'
      imagedata += '</div>'
      }
      imagedata += '</div>'
        $('#imgcarousel4').append(imagedata);







</script>

<script>
  
    $(".container-property").flickity({
      wrapAround: true,
      contain: true,
      imagesLoaded: true,
      pageDots: true,
      prevNextButtons: true
    }); 
    

    </script>

  <script>
      
      try{var studio = document.getElementById('studio')}catch(e){}
      try{var one = document.getElementById('one')}catch(e){}
      try{var two = document.getElementById('two')}catch(e){}
      try{var three = document.getElementById('three')}catch(e){}
      try{var four = document.getElementById('four')}catch(e){}
      try{four.style.display = "none"}catch(e){}
      try{three.style.display = "none"}catch(e){}
      try{two.style.display = "none"}catch(e){}
      try{one.style.display = ""}catch(e){try{two.style.display = ""}catch(e){}}
      try{studio.style.display = "none" }catch(e){}  
    function s(){
        try{three.style.display = "none"}catch(e){}  
        try{two.style.display = "none"}catch(e){}  
        try{one.style.display = "none"}catch(e){}  
        studio.style.display = ""
        try{four.style.display = "none" }catch(e){}  
    }
    function b1(){
        try{three.style.display = "none"}catch(e){}  
        try{two.style.display = "none"}catch(e){}  
        one.style.display = ""
        try{studio.style.display = "none" }catch(e){}  
        try{four.style.display = "none"}catch(e){}   
      }
    function b2(){
        try{three.style.display = "none"}catch(e){}  
        two.style.display = ""
        try{one.style.display = "none"}catch(e){}  
        try{studio.style.display = "none"}catch(e){}  
        try{four.style.display = "none" }catch(e){}    
        }
    function b3(){
        three.style.display = ""
        try{two.style.display = "none"}catch(e){}  
        try{one.style.display = "none"}catch(e){}  
        try{studio.style.display = "none"}catch(e){}  
        try{four.style.display = "none"}catch(e){}     
        } 
    function bsad4(){
        four.style.display = ""
        try{two.style.display = "none"}catch(e){}  
        try{one.style.display = "none"}catch(e){}  
        try{studio.style.display = "none"}catch(e){}  
        try{three.style.display = "none"}catch(e){}  
    }
  </script>
 

 <script>
    var modalbg = document.querySelector('.modal-bg');
    var modalclose = document.getElementById('close')
    modalclose.style.display = "none"
    var seconds = 12, $seconds = document.querySelector('#countdown');
    (function countdown() {
        $seconds.textContent = seconds + ' second' + (seconds == 1 ?  '' :  's')
        if (seconds==0)
        {
            modalclose.style.display=""
        }
        if(seconds --> 0)
        {setTimeout(countdown, 1000);}
        
    })();
    
    
    
    $(document).ready(function(){
          if (sessionStorage.getItem('#signup') !== 'true'){
         setTimeout(function(){
          modalbg.classList.add('bg-active');
         },2000);
         
      }
      });
      
    
    modalclose.addEventListener('click',function(){
        modalbg.classList.remove('bg-active');
        sessionStorage.setItem('#signup', 'true');
    });
    </script>

    <script>
        function readmore() {
  try {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("readmore");

  if (dots.style.display == "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
} catch(err){}}

readmore()
readmore()
    </script>


{% endblock %}