{% extends "arabicbase.html" %}
{% block metacontent %}
<meta name="title" content="{{url}},{{community}}, Abu Dhabi">
<meta name="description" content="{{details[2]}},{{details[0]}},{{details[1]}}">
<meta name="keywords" content="{{url}},{{community}},{{details[1]}},{{details[0]}},{{details[2]}}, Abu-Dhabi">
 <title>{{url}},{{community}}, Abu Dhabi</title>
 <meta property="og:image" content="{{images[0]}}" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:title" content="{{url}},{{community}}, Abu Dhabi">
<meta property="og:description" content="{{details[2]}},{{details[0]}},{{details[1]}}">
{% endblock %}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap" rel="stylesheet"> 
<style>
    body{
        text-align: right;     
    }
    h4 {
        font-family: 'Cairo' !important;
    }
    p {
        font-family: 'Cairo' !important;
    }
</style>


<div class="modal-bg">
    <div class="modalthis">
        
          <div class="container" style="background-color: white;">
            <div class="row">
                <div class="col" style="position: relative;">
                    <img src="../../../static/images/Popup.webp" alt="" style="width: 100%;position: relative;">
                    <div class="row adrow" style="position: absolute;">
                        <div class="col" >
                            <a onclick="red('Yas-Island','Water\'S-Edge')">
                            <div class="adrectangle" style=""></div>
                            </a>
                        </div>
                        <div class="col" >
                            <a onclick="red('Al-Ghadeer','Al-Ghadeer-Community')">
                            <div class="adrectangle" style=" margin-left: -25px;"></div>
                            </a>
                        </div>
                        <div class="col" >
                            <a onclick="red('Saadiyat-Island','Mamsha-Al-Saadiyat')">
                            <div class="adrectangle" style="margin-left: -25px;"></div>
                            </a>
                        </div>
                        
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div class="col text-center">
                            <form name="myForm" id="popform" action="{{ url_for('sendmail') }}" onsubmit="return validateForm()" method="post">
                                <p class="simple">Email: <input type="text" id="email" name="email">
                                <input disabled type="submit" value="اختر أي عقار أعلاه!"></p>
                              </form>
                        </div>
                    </div>
                </div>
            </div>  
            
  
              <div class="row">
                  <div class="col"><p class="simple" style="display: inline;">إغلاق الإعلان في </p>
                    <span id="countdown" class="simple" style="display: inline;">12 </span>
                      <span id="close" class="modalclose simple" style="font-weight: bold;float: left;">Close</span>
                  </div>
              </div>
            </div>
  
    </div>
  </div>
  

<div class="container">
<div class="row">
    <div class="col">
    <a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink">Home ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink" href="{{url_for('search', units='all')}}"> Abu Dhabi ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink" href="{{url_for('communities')}}"> Communities ><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink" href="/communities/{{community}}"> {{community}} ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink" href="{{url_for('search', area = 'Al Ghadeer' )}}"> {{url}}</a>
</div>
</div>

<div class="row p_mrg">
    <div class="col">
        <h4 class="p_header">{{url}}</h4>
    </div>
</div>
<div style="background-color: #F8F8F8; margin-top: 30px;">
    <div class="container ">
      <div class="row" style="padding-top: 2vh; padding-bottom: 2vh;" >
        <div class="col-md-9 col-lg-9">
        <button onclick="scrolltodiv('over')" class="p_button" style="border: hidden; margin-right: 10px; font-family: 'Cairo';">نظرة عامة</button>
        <button onclick="scrolltodiv('features')" class="p_button" style="border: hidden;margin-right: 10px; font-family: 'Cairo';">المميزات</button>
        <button onclick="scrolltodiv('unitsforsale')" class="p_button" style="border: hidden;margin-right: 10px; font-family: 'Cairo';">وحدات للبيع</button>
        <button onclick="scrolltodiv('unitsforrent')" class="p_button" style="border: hidden;margin-right: 10px; font-family: 'Cairo';">وحدات للايجار</button>
        <button onclick="scrolltodiv('floorplans')" class="p_button" style="border: hidden;margin-right: 10px; font-family: 'Cairo';">خطط المبنى</button>
        <button onclick="scrolltodiv('location')" class="p_button" style="border: hidden;margin-right: 10px; font-family: 'Cairo';">موقعك</button>
          </div>
       <div class="col">
        <a href="{{url_for('listing')}}" class="p_button" style=" font-family: 'Cairo';border: hidden;margin-right: 10px; background-color:#A57D2D; text-decoration: none; padding: 2px;">قائمة الممتلكات الخاصة بك</a>
       </div>
            
  </div>
  </div>
  </div>

<div class="row p_mrg">
<div class="col">
<h4 class="p_overview" id="over" >نظرة عامة</h4>
</div>
</div>
    <div class="row">
    <div class="col">
        <p class="simple" style="text-align: justify;">{{overview}}</p>
    </div>
</div>

<div class="row p_mrg">
    <div class="col">
    <h4 class="p_subcap" style=" font-family: 'Cairo';">تفاصيل اوضح</h4>
    </div>
    </div>
        <div class="row">
    <div class="col">
        <img class="p_icons" src="../../../static/icons/select.png" alt=""><p class="simple" style="display: inline;">{{details[0]}}</p><img src="../../../static/icons/calculator.png" class="p_icons" style="height: 25px; margin-left: 10px;" alt=""><p class="simple" style="display: inline;">{{details[1]}}</p><p class="simple" style="display: inline; margin-left: 10px;">{{details[2]}}</p>
    </div>
</div>
</div>

<div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col-lg-12">
        
  <div id="imgcarousel4" class="container-property">
    
  
  </div>
  </div>
  </div>
  </div>


<div class="container">
    <div class="row p_mrg">
        <div class="col">
        <h4 class="p_overview" id="features">وسائل الراحة والميزات</h4>
        </div>
        </div>
            <div class="row">
    {% for item in amenities %}
    {% if "gym" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/gym.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">نادي رياضي</p></div>
    {% endif %}
    {% if "maintenance" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/maintenance.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">اعمال صيانة</p></div>
    {% endif %}
    {% if "mosque" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/mosque.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">مسجد</p></div>
    {% endif %}
    {% if "pool" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/swimmer.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">حمام السباحة</p></div>
    {% endif %}
    {% if "cycling" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/bicycle.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">ركوب الدراجات</p></div>
    {% endif %}
    {% if "parking" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/indoor-parking.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">موقف سيارات</p></div>
    {% endif %}
    {% if "landscapes" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/comview.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">المناظر الطبيعية</p></div>
    {% endif %}
    {% if "park" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/comview.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">منتزه</p></div>
    {% endif %}
    {% if "bal" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/balcony.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">شرفة</p></div>
    {% endif %}
    {% if "restaurant" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/dish.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">مطعم</p></div>
    {% endif %}
    {% if "play" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/playground.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">ملعب</p></div>
    {% endif %}
    {% if "beach" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/sunset.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">شاطئ بحر</p></div>
    {% endif %}
    {% if "water" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/sailboat.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">الواجهة البحرية</p></div>
    {% endif %}
    {% if "shop" in item.lower() %}
     <div class="col-md-4" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/shopping-bag.svg"><p class="simple" style="text-align: left; display: inline;margin-left: 10px; margin-right:10px;">متجر</p></div>
    {% endif %}
    {% endfor %}

</div>
</div>
<div class="container" style="margin-top: 30px;">
    <div class="row p_mrg">
        <div class="col">
        <h4 class="p_overview" id="unitsforsale">وحدات للبيع</h4>
        </div>
        </div>
            <div class="row">
        <div class="col">
    <div class="container-property" id="displaysale">
    
    </div>
</div>
</div>
</div>
<div class="container" style="margin-top: 30px;">
    <div class="row p_mrg">
        <div class="col">
        <h4 class="p_overview" id="unitsforrent">وحدات للايجار</h4>
        </div>
        </div>
            <div class="row">
        <div class="col">
    <div class="container-property" id="displayrent">
    
    </div>
</div>
</div>
</div>


<div class="container">
    <div class="row p_mrg">
        <div class="col">
            <h4 class="p_overview" id="floorplans">خطط المبنى</h4>
        </div>
        </div>
        {% for item in floorplans %}
        
    {% if 'studio' in item %}
    
        <div class="row"  style="margin-top: 30px;">
            <div class="col text-center" style="background-color: rgb(198,173,120,0.5);">
                <button onclick="s()" class="p_subcap" style="background-color: transparent;border: hidden;font-family: 'Cairo';" >الاستوديو</button>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <img id="studio" src="{{item}}" alt="" width="100%">
        </div>
    </div>
    {% endif %}
    {% if '1bed' in item %}
    
        <div class="row" style="margin-top: 30px;">
            <div class="col text-center" style="background-color: rgb(198,173,120,0.5);">
                <button onclick="b1()" class="p_subcap" style="background-color: transparent;border: hidden;font-family: 'Cairo';" >1 غرفة نوم</button>
            </div>
        </div>

        <div id="one">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-75" style="margin: auto;" src="{{floorplans_1[0]}}" alt="First slide">
                  </div>
                  {% for item in floorplans_1[1:] %}
                  <div class="carousel-item">
                    <img class="d-block w-75" style="margin: auto;" src="{{item}}" alt="Second slide">
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
    {% endif %}
    {% if '2bed' in item %}
        <div class="row" style="margin-top: 30px;">
            <div class="col text-center" style="background-color: rgb(198,173,120,0.5);">
                <button onclick="b2()" class="p_subcap" style="background-color: transparent;border: hidden;font-family: 'Cairo';" >2 غرفة نوم</button>
            </div>
        </div>
       <div id="two">
        <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-75" style="margin: auto;" src="{{floorplans_2[0]}}" alt="First slide">
              </div>
              {% for item in floorplans_2[1:] %}
              <div class="carousel-item">
                <img class="d-block w-75" style="margin: auto;" src="{{item}}" alt="Second slide">
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
            
    {% endif %}
    {% if '3bed' in item %}
        <div class="row" style="margin-top: 30px;">
            <div class="col text-center" style="background-color: rgb(198,173,120,0.5);">
                <button onclick="b3()" class="p_subcap" style="background-color: transparent;border: hidden;font-family: 'Cairo';" >3 غرفة نوم</button>
            </div>
        </div>

        <div id="three">
            <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-75" style="margin: auto;" src="{{floorplans_3[0]}}" alt="First slide">
                  </div>
                  {% for item in floorplans_3[1:] %}
                  <div class="carousel-item">
                    <img class="d-block w-75" style="margin: auto;" src="{{item}}" alt="Second slide">
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
    {% endif %}
    {% if '4bed' in item %}
        <div class="row" style="margin-top: 30px;">
            <div class="col text-center" style="background-color: rgb(198,173,120,0.5);">
                <button onclick="bsad4()" class="p_subcap" style="background-color: transparent;border: hidden;" >4 غرفة نوم</button>
            </div>
        </div>

        <div id="four">
            <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-75" style="margin: auto;" src="{{floorplans_4[0]}}" alt="First slide">
                  </div>
                  {% for item in floorplans_4[1:] %}
                  <div class="carousel-item">
                    <img class="d-block w-75" style="margin: auto;" src="{{item}}" alt="Second slide">
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <script>
                document.getElementById('four').style.display = "none"
                function bsad4(){
                    if (document.getElementById('four').style.display == "none"){
                        document.getElementById('four').style.display = ""
                    }
                    else {
                        document.getElementById('four').style.display =3bed "none"  
                    }
                }
            </script>
    {% endif %}
    {% endfor %} 
</div>



<div class="container" >
    <div class="row p_mrg">
        <div class="col">
        <h4 class="p_overview" id="location">موقعك</h4>
        </div>
        </div>
        <div class="row">
            <div class="col">
                {{maparea | safe}}
            </div>
        </div>
            <div class="row">
<div class="col-4">
<div class="row">
    <div class="col">
        <img src="../../../static/projects/p1.jpg" alt="" width="100%">
        <p class="p_button" style="font-size: 12pt;">{{url}} المدارس القريبة</p>
    </div>
</div>
    <div class="row">
        <div class="col">
            <ul class="simple shadow dec">
                {% for item in schools %}
                <li class="ldecar">{{item}}</li>
                {% endfor %} 
            </ul>
        </div>


</div>
</div>
<div class="col-4">
    <div class="row">
        <div class="col">
            <img src="../../../static/projects/p2.jpg" alt="" width="100%">
            <p class="p_button" style="font-size: 12pt;">{{url}} المستشفيات القريبة</p>
        </div>
    </div>
        <div class="row">
            <div class="col ">
                <ul class="simple shadow dec">
                    {% for item in hospitals %}
                    <li class="ldecar">{{item}}</li>
                    {% endfor %} 
                </ul>
            </div>
    
    
    </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col">
                <img src="../../../static/projects/p3.jpg" alt="" width="100%">
                <p class="p_button" style="font-size: 12pt;">{{url}} معالم قريبة من</p>
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <ul class="simple shadow dec">
                        {% for item in landmarks %}
                        <li class="ldecar">{{item}}</li>
                        {% endfor %} 
                    </ul>
                </div>
        
        
        </div>
        </div>
</div>
</div>


<div class="container">
    <div class="row p_mrg">
        <div class="col">
        <h4 class="p_overview">حجز مشاهدة</h4>
        </div>
        </div>
            <div class="row">
        <div class="col">
            <form id="c-form" action="{{ url_for('sendmail') }}" style="font-family: 'Cairo';" method="post" class="simple">
                <div class="row justify-content-center">
                    <div class="col">
                <textarea rows="4" style="width: 100%;" type="text" name="message">مرحبا! أنا مهتم بخصائص {{url}} وأود معرفة المزيد
                </textarea>
                </div>
                </div>
                <br>
                <div class="row justify-content-center"><div class="col">
                <textarea type="text" name="name" rows="1" style="width: 100%;" id="sendername" placeholder="اسمك" required></textarea>
                </div></div>
                <br>
                <div class="row justify-content-center"><div class="col">
                <textarea type="text" name="email" rows="1" style="width: 100%;"  placeholder="عنوان البريد الالكترونى" required></textarea>
                </div></div>
                <br>
                <div class="row justify-content-center"><div class="col">
                <textarea type="text" name="phone" rows="1" style="width: 100%;"  placeholder="رقم الهاتف" required></textarea>
                </div></div>
                <br>
                <div class="row">
                    <div class="col">
                    <p>:أدخل كود الكابتشا</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                    <input type="text" class="form-control" readonly id="capt">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" required id="textinput">
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                <input onclick="captcha()" value="إرسال" style="background-color:#0e4a88; color: white; font-family: 'Poppins-light';  border: hidden; cursor: pointer;">
                      </div>
        
                </div>
              </form>

              




        </div>
        
    </div>


</div>




{% endblock %}{%block scripts%}
<script>
    function scrolltodiv(parameter) {
        var getscroll = document.getElementById(parameter);
        getscroll.scrollIntoView();
    }
</script>


<script>
    
    var b = JSON.parse('{{ sale | tojson | safe}}');
    var data ='';
    var pagebtn = ''
    $.each(b, function(key, value){var area = value.area;
      var newarea = area.replace(/\s/g, '-')
      var property = value.property;
      var newproperty = property.replace(/\s/g, '-')
                   if (value.tag == "hot")
                  { var f = "display:block;"}
                  else 
                  {var f = "display:none;"}
                  if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y = "color: #0e4a88; font-family: 'Poppins-light'";
                      var z = "#0e4a88";
                      var color = "gold-"
                      ;
                      }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #A57D2D; font-family: 'Poppins-light'";
                      var z = "#A57D2D";
                      var color = "";
                      }
                  else {var x = "" }
                  
                  data += '<div class="card" style="width: 18rem; margin: 5px; position:relative;">'
                  data += '<img class="card-img-top1" src="'+value.image+'" alt="'+value.property+'" style="height: 250px;">'
                  data += '<div class="card-img-overlay" style="z-index:0;"><div class="container"><div class="row"><div class="col" style="text-align:left; color:white;" ><p style="background-color: '+z+';text-align:center; width: 42px;padding:2px;font-family:"Roboto";" >'+units+'</p></div><div class="col text-left" style="margin-left:-136px; margin-top:-9px;"><p class="hotcardbtnar" style="'+f+'">الحار</p></div></div></div></div>'
                  data += '<div class="card-body" style="z-index:2">'
                  data += '<h5 class="card-title" style =  "'+ y +'">'+value.property+'</h5>'
                  data += '<p class="card-text card-desc" >'+value.type+', '+value.area+'</p>'
                  data += '<p class="card-text card-desc" style="color: #8e8a8a !important;">'+value.title+'</p>'
                  data += '<p class="card-text">'+'<img src="/static/icons/bed.svg" width="20px">'+'  '+value.beds+'  '+'<img  src="/static/icons/bath.svg" width="20px"  style="margin-left:7px;">'+'  '+value.baths+'  '+'<img  src="/static/icons/squares.svg" width="15px"  style="margin-left:7px;">'+'  '+value.size+' Sqft'+'</p>'
                  data += '<div class="row"><p style = " margin-left:15px;'+ y +'" ><b>AED '+value.price+'</b></p></div>'
                  data += '<div class="row" style="margin-left:3px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'" style="text-decoration: none;color:'+z+';border-radius: 25px; border: 1px solid '+z+'; height: 28px; width: 80px; margin-right: 5px; padding-right: 1px;padding-left: 1px;  font-size:10pt; text-align:center;"><p style="font-family:"Roboto";" >'+cosmo+'</p></a>'
                  data += '<a href="tel:+97126439099"><img class="ikon" src="/static/icons/001-'+color+'phone-call.svg"></a>'
                  data += '<a data-toggle="modal" data-id="'+value.ref_no+ '" title="Add this item" class="open-AddBookDialog" href="#addBookDialog"><img class="ikon" src="/static/icons/email.svg"></a>'
                  data += '<a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20'+value.ref_no+'%20property%20for%20sale.%20Link-%20http://uhpae.com/property/'+value.ref_no+'%20"><img class="ikon" src="/static/icons/003-whatsapp.svg"></a>'
                  data += '</div>'
                  data += '</div>'
                  data += '</div>'

                })

    $('#displaysale').append(data);
  
</script>
<script>
    
    var b = JSON.parse('{{ rent | tojson | safe}}');
    var data ='';
    var pagebtn = ''
    $.each(b, function(key, value){var area = value.area;
      var newarea = area.replace(/\s/g, '-')
      var property = value.property;
      var newproperty = property.replace(/\s/g, '-')
                   if (value.tag == "hot")
                  { var f = "display:block;"}
                  else 
                  {var f = "display:none;"}
                  if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y = "color: #0e4a88; font-family: 'Poppins-light'";
                      var z = "#0e4a88";
                      var color = "gold-"
                      ;
                      }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #A57D2D; font-family: 'Poppins-light'";
                      var z = "#A57D2D";
                      var color = "";
                      }
                  else {var x = "" }
                  
                  data += '<div class="card" style="width: 18rem; margin: 5px; position:relative;">'
                  data += '<img class="card-img-top1" src="'+value.image+'" alt="'+value.property+'" style="height: 250px;">'
                  data += '<div class="card-img-overlay" style="z-index:0;"><div class="container"><div class="row"><div class="col" style="text-align:left; color:white;" ><p style="background-color: '+z+';text-align:center; width: 42px;padding:2px;font-family:"Roboto";" >'+units+'</p></div><div class="col text-right" style="margin-left:150px; margin-top:-46px;"><img src="/static/icons/hot.png" width="70px" style="'+f+'"></div></div></div></div>'
                  data += '<div class="card-body" style="z-index:2">'
                  data += '<h5 class="card-title" style =  "'+ y +'">'+value.property+'</h5>'
                  data += '<p class="card-text card-desc" >'+value.type+', '+value.area+'</p>'
                  data += '<p class="card-text card-desc" style="color: #8e8a8a !important;">'+value.title+'</p>'
                  data += '<p class="card-text">'+'<img src="/static/icons/bed.svg" width="20px">'+'  '+value.beds+'  '+'<img  src="/static/icons/bath.svg" width="20px"  style="margin-left:7px;">'+'  '+value.baths+'  '+'<img  src="/static/icons/squares.svg" width="15px"  style="margin-left:7px;">'+'  '+value.size+' Sqft'+'</p>'
                  data += '<div class="row"><p style = " margin-left:15px;'+ y +'" ><b>AED '+value.price+'</b></p></div>'
                  data += '<div class="row" style="margin-left:3px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'" style="text-decoration: none;color:'+z+';border-radius: 25px; border: 1px solid '+z+'; height: 28px; width: 80px; margin-right: 5px; padding-right: 1px;padding-left: 1px;  font-size:10pt; text-align:center;"><p style="font-family:"Roboto";" >'+cosmo+'</p></a>'
                  data += '<a href="tel:+97126439099"><img class="ikon" src="/static/icons/001-'+color+'phone-call.svg"></a>'
                  data += '<a data-toggle="modal" data-id="'+value.ref_no+ '" title="Add this item" class="open-AddBookDialog" href="#addBookDialog"><img class="ikon" src="/static/icons/email.svg"></a>'
                  data += '<a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20'+value.ref_no+'%20property%20for%20sale.%20Link-%20http://uhpae.com/property/'+value.ref_no+'%20"><img class="ikon" src="/static/icons/003-whatsapp.svg"></a>'
                  data += '</div>'
                  data += '</div>'
                  data += '</div>'

                })
    if (data==""){
        document.getElementById('unitsforrent').style.display = "none"
    }
    $('#displayrent').append(data);
                
</script>
<script>
    var x = {{ images|tojson }}
    var imagedata = '';
    for (i = 0; i < x.length; i++) {
      imagedata += '<div class="imagescell">'
      imagedata += '<img src="' + x[i] + '">'
      imagedata += '</div>'
      }
      $('#imgcarousel4').append(imagedata);
    </script>
<script>
  
    $(".container-property").flickity({
      wrapAround: true,
      contain: true,
      imagesLoaded: true,
      pageDots: true,
      prevNextButtons: true
    }); 
    </script>

  <script>
      
      var studio = document.getElementById('studio')
      var one = document.getElementById('one')
      var two = document.getElementById('two')
      var three = document.getElementById('three')
      three.style.display = "none"
      two.style.display = "none"
      one.style.display = "none"
      studio.style.display = "none"  
    function s(){
        three.style.display = "none"
        two.style.display = "none"
        one.style.display = "none"
        studio.style.display = ""
    }
    function b1(){
        three.style.display = "none"
        two.style.display = "none"
        one.style.display = ""
        studio.style.display = "none" 
      }
    function b2(){
        three.style.display = "none"
        two.style.display = ""
        one.style.display = "none"
        studio.style.display = "none"  
        }
    function b3(){
        three.style.display = ""
        two.style.display = "none"
        one.style.display = "none"
        studio.style.display = "none"    
        }
  </script>
 
  <script>
      function captcha(){
      var stg1 = document.getElementById("capt").value;
      var stg2 = document.getElementById('textinput').value;
      if (stg1==stg2){
          alert("Thank you for your Submission");
          document.getElementById("c-form").submit();
          return True;
      }
      else {
          alert("please input a valid captcha");
          return False;

      }
  }
  </script>

<script>
    var modalbg = document.querySelector('.modal-bg');
    var modalclose = document.getElementById('close')
    modalclose.style.display = "none"
    var seconds = 12, $seconds = document.querySelector('#countdown');
    (function countdown() {
        $seconds.textContent = seconds + ' second' + (seconds == 1 ?  '' :  's')
        if (seconds==0)
        {
            modalclose.style.display=""
        }
        if(seconds --> 0)
        {setTimeout(countdown, 1000);}
        
    })();
    
    
    
    $(document).ready(function(){
       setTimeout(function(){
        modalbg.classList.add('bg-active');
       },2000); // 5000 to load it after 5 seconds from page load
    });
    
    modalclose.addEventListener('click',function(){
        modalbg.classList.remove('bg-active');
    });
    </script>
    <script>
      function validateForm() {
    var x = document.forms["myForm"]["email"].value;
    if (x == "") {
      alert("يرجى ملء اسمك ، ثم النقر فوق أي من الخصائص الثلاث المحددة");
      return false;
    }
  }
      function red(a,b){
          var x = document.forms["myForm"]["email"].value;
    if (x == "") {
      alert("يرجى ملء اسمك ، ثم النقر فوق أي من الخصائص الثلاث المحددة");
      return false;}
      path = "/communities/"+a+"/"+b
      email = $("#email").val();
      $.ajax({
                method:"post",
                url:"/sendmail",
                data:{email:email, name:path},
                success:function(res){
      window.location.href = path;
      }});}
  </script>

{% endblock %}