{% extends "base.html" %}

{% block metacontent %} <meta name="title" content="{{result[4]}} BR {{result[28]}} in {{result[3]}} for {{result[30]}}">
<meta property="og:title" content="{{result[4]}} BR {{result[28]}} in {{result[3]}} for {{result[30]}}" />
<meta property="og:url" content="https://www.uhpae.com/communities/{{result[31]|replace(' ','-')}}/{{result[27]|replace(' ','-')}}/{{result[7]}}" />
<meta property="og:image" content="{{images[0]}}" />                        
<title>{{result[4]}} BR {{result[28]}} in {{result[3]}} for {{result[30]}}</title>
{% endblock %}

{% block content %}

<section style="background-image: url(/static/images/scaledbg.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
  <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75); padding-bottom: 12%;">

<div id="scrdisp" style="width: 100%;border-bottom: 1px solid #000;position: fixed; top: 10%;z-index: 100; background-color: white;">
  <div class="container">
<br>
    <div class="row">
      <div class="col">
      <h2 style="font-family: 'Poppins'; color: #144A86;font-size: 12pt;"><b>{{result[27]}}</b></h2>
      </div>
      <div class="col">
      <h2 style="font-family: 'Poppins'; color: #144A86;font-size: 12pt; margin-left: auto;"><b>AED {{result[29]}}</b></h2>
        </div>
    </div>
    
    <div class="row">
      <div class="col">
      <h2 style="font-family: 'Poppins-light', sans-serif; font-size: 11pt;"><u>{{result[3]}}</u></h2>
     </div>
     <div class="col">
     <button onclick="drop()" style="background-color:  #0e4e88;; color: white; 
      border: hidden; width: 120px; height: 20px; font-family: 'Poppins-light'; border-radius: 5px; margin-left: auto; margin-right: 10px; margin-top: 2px;font-size: 10pt;">Book Viewing</button>
  <button onclick="mapdrop()" style="background-color:  #0e4e88;; color: white; 
  border: hidden; width: 120px; height: 20px; font-family: 'Poppins-light'; border-radius: 5px;margin-top: 2px; font-size: 10pt;">Find Location</button>
  </div>  
  </div>
  <div class="row"><div class="col"><p style = "font-family: 'Poppins-light', sans-serif; font-size: 11pt;">{{result[2]}}</p></div>
  </div>
</div>
<div class="container" >
  <div class="row">
    <div class="col-11"></div>
    <div class="col-1">
      <div  style="position: fixed; bottom: 0;z-index: 50; margin-bottom: 20px;">
        <div class="row" style="margin-bottom: 7px; ">
  <a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20{{result[7]}}%20property%20for%20sale.%20Link-http://uhpae.com/property/{{result[7]}}%20"><img class = "ikon2" style="cursor: pointer;" src="/static/icons/003-whatsapp.svg"></a>
  </div><div class="row">
  <a href="tel:+97126439099"><img class="ikon2" style="cursor: pointer; background-color: white; border-radius: 25px;" src="/static/icons/001-phone-call.svg"></a>
    </div>
</div>
</div>
</div>
</div>
</div>



<div class="container" style="padding-top: 90px;">
  <div class="row">
    <div class="col">
      <p class="simple"><a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Poppins-light';"   >Home ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('search', units='all')}}"> Abu Dhabi ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('communities')}}"> Communities ></a>
    <a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="/communities/{{loc | replace (' ', '-')}}"> {{ loc }} ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('search', property = result[27] )}}"> {{result[27]}} ></a>
    <a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('search', beds = result[4], area=loc)}}">{{result[4]}} Bedroom APT></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="#"> Property ID {{result[7]}}</a></p>
  </div>
  </div>
</div>




  <div class="container ">
    <div class="row" style="padding-top: 2vh; padding-bottom: 2vh" >
      <div class="col-lg-8 col-md-8 col-sm-12">
      
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
    <h2 class="nfont" style="text-transform: uppercase;">{{result[27]}}</h2>
        </div>
        </div>
  </div>



    <!--div class="col respbook" style="text-align: right;">
      <button onclick="drop()" class="s_bar_btn">Book Viewing</button>
    
    <button onclick="mapdrop()" class="s_bar_btn">Find Location</button>
    
  </div-->
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
    <h2 class="proploc" style="font-family: 'Poppins-light'; text-transform: uppercase;">{{result[3]}}</h2>
        </div>
  </div>
      <div class="row">
        <div class="col">
        <p class="proptitle">{{result[2]}}</p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h2 class="proploc" style="font-family: 'Poppins-light'; color: white; text-align: right;">AED {{result[29]}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
       <h6 class="proptitle" style="text-align: right;">*{{result[4]}} Beds  *{{result[5]}} Baths  *{{result[6]}} Sqft</h6>
        </div>
      </div>
    </div>
  <!--div class="col text-right">
    
    <a href="tel:+97126439099" class="saaa3" style="margin-left:5px;color: #8e8a8a;font-family: 'Poppins-light', sans-serif; display: inline; "><img style="width: 15px; margin-right: 2px;" src="/static/icons/phonecall.png">Contact</a>
        <a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20{{result[7]}}%20property%20for%20sale.%20Link-http://uhpae.com/property/{{result[7]}}%20" class="saaa3" style="margin-left:5px;color: #8e8a8a;font-family: 'Poppins-light', sans-serif; display: inline;  "><img style="width: 15px; margin-right: 2px;" src="/static/icons/whatsapp.png">Whatsapp</a>
</div-->
</div>

      <div class="row">
        <div class="col">
          
    <div id="imgcarousel">
      
    
    </div>
    </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-between">
        <button onclick="scrolltodiv('description')" class="s_bar_btn" style="border: hidden;">Description</button>
    
        <button onclick="scrolltodiv('amenities')" class="s_bar_btn" style="border: hidden;">Amenities</button>
     
        <button onclick="scrolltodiv('map')" class="s_bar_btn" style="border: hidden;">Map</button>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-between">
        <button onclick="scrolltodiv('nearby')" class="s_bar_btn" style="border: hidden;">Nearby</button>

        <button onclick="scrolltodiv('drop')" class="s_bar_btn" style="border: hidden;">Book Viewing</button>
   
        <button onclick="scrolltodiv('suggestion')" class="s_bar_btn" style="border: hidden;">Suggestion</button>
      </div>
    </div>
      </div>

  <div class="col">
    
  </div>
      <div class="col-lg-3 col-md-3 col-sm-12" >
        
  <form method="post" autocomplete="off" name="google-sheet" class="simple">
    <div class="row"> 
      <div class="col text-center"><h2 class = "proploc" style="font-family: 'Poppins-light', sans-serif;">Book a Viewing</h2></div>
    </div>
  <div style="background-color:rgba(0, 0, 0, 0.8); padding-bottom:10px; padding-top:10px;">
    <div class="row justify-content-center" >
      <div class="col text-center">
    <textarea rows="3" style="width: 90%;" type="text" name="message">Hello! The property '{{result[3]}}' with an ID of {{result[7]}} has caught my eye and I'm wondering when will it available for viewing? Thanks.
    </textarea>
    </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col text-center">
    <textarea type="text" name="name" rows="1" style="width: 90%;" placeholder="Your Name" required></textarea>
    </div></div>
    <br>
    <div class="row justify-content-center">
      <div class="col text-center">
    <textarea type="text" name="email" rows="1" style="width: 90%;" placeholder="Email address" required></textarea>
    </div></div>
    <br>
    <div class="row justify-content-center">
      <div class="col text-center">
    <textarea type="text" name="phonenumber" rows="1" style="width: 90%;"  placeholder="Phone/ Mobile Number" required></textarea>
    </div>
  </div>
    <br>
    <div class="row">
      <div class="col text-center">
          <input type="submit" value="I'm Booking" class="s_bar_btn">
          <input type="hidden" id="strReferrer" name="strReferrer" />
      </div>
    </div>
  </div>
  </form>
  <div class="row" style="margin-top: 20px;">
    <div class="col text-center"><h2 class = "proploc" style="font-family: 'Poppins-light', sans-serif;display: inline;">Similar Properties</h2></div>
  </div>
  <div style="background-color:rgba(0, 0, 0, 0.8); padding-bottom:10px; padding-top:10px;">
  <div class="row justify-content-center" id="display">
  
  </div>
  <div class="row">
    <div class="col text-center">
      <button onclick="suggestions()" class="s_bar_btn">Refresh</button>
    </div>
  </div>
</div>
      </div>





  </div>
</div>



<div id="description" class="container">
  <br><br>
  <div class="row">
    <div class="col">
    <h2 class= "proploc" style="font-family: 'Poppins-light';">Description</h2>
  </div>
  </div>


  <br>
    <div class="row" >
     
      <div class="col simple" style="text-align: justify; color: white;">
        <div class="row">
          <div class="col">
            {{desc | safe}}
          </div>
        </div>
        <div class="row">
          <div class="col">
       
                  <button class="s_bar_btn" style="border:hidden" onclick="readmore()" id="readmore">Read more</button>
         
          </div>
        </div>
      </div>


    <div class="col-lg-5 col-md-5 col-sm-12">
     <div class="row">
       <div class="col">
        <div class="s_bar_btn" style="width: 100% !important;"><p style="text-align:center;margin-top:5px;">Property Type</p></div>
       </div>
       <div class="col">
        <div class="s_bar_btn" style="color: #686868;width: 100% !important;"><p style="text-align:center;margin-top:5px">{{result[28]}}</p></div>
       </div>
     </div>
    <div class="row">
      <div class="col">
        <div class="s_bar_btn" style="width: 100% !important;"><p style="text-align:center;margin-top:5px">Community</p></div>
      </div>
      <div class="col">
        <div class="s_bar_btn" style="color: #686868; width: 100% !important;"><p style="text-align:center;margin-top:5px">{{loc}}</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="s_bar_btn" style="width: 100% !important;" ><p style="text-align:center;margin-top:5px">Sub Community</p></div>
      </div>
      <div class="col">
        <div class="s_bar_btn" style="color:  #686868;width: 100% !important;"><p style="text-align:center;margin-top:5px">{{result[27]}}</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="s_bar_btn" style="width: 100% !important;"><p style="text-align:center;margin-top:5px">Status</p></div>
      </div>
      <div class="col">
        <div class="s_bar_btn" style="color: #686868;width: 100% !important;"><p style="text-align:center;margin-top:5px">Available</p></div>
      </div>
    </div>


    </div>

    </div>
    

</div>


<div id="amenities" class="container">
  <br><br>
  <div class="row">
    <div class="col">
    <h2 class = "proploc" style="font-family: 'Poppins-light', sans-serif;">Amenities</h2>
      </div>
  </div> 
  <br>
<div class="row">
  <!--ul style ="list-style-type: none;"-->
  {% for item in features %}
  {% if item == 'Balcony' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/balcony.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Basement parking' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/basement-parking.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Built in wardrobes' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/wardrobe.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Central air conditioning' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/ac.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Central heating' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/heating.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Community View' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/comview.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Covered parking' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/indoor-parking.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Maids room' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/maid.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Satellite/Cable TV' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/satellite.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Gymnasium' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/gym.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Shared swimming pool' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/swimmer.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Fully furnished' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/couch.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Fully fitted kitchen' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/kitchen.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == '24 hours Maintenance' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/maintenance.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  {% if item == 'Laundry/washing room' %}
  <div class="col-lg-4 col-xs-12" style="margin-bottom: 10px;"><img style="width: 22px;" src="/static/icons/washing-machine.svg"><h4 class = "proptitle" style="display: inline; font-family: 'Poppins-light';margin-left: 10px; color: white; letter-spacing:0px;">{{item}}</h4></li></div>
  {% endif %}
  


  
  
    {% endfor %}
<!--/ul-->  </div>

  
    <br><br>
    <div id="map" class="row">
      <div class="col">
      <h2 class="proploc" style="font-family: 'Poppins-light', sans-serif;">Map</h2></div>
    </div>
    <br>
    <div class="row justify-content-center" id="map">
      <div class="col" id="nearby">
    {{temp | safe}}
      </div>
</div>
<div class="row p_mrg" >
  <div class="col-4">
  <div class="row">
      <div class="col text-center">
          <button onclick="loc('schools')" class="s_bar_btn" style="cursor: pointer; width: 100% !important;" >Schools near {{url}}</button>
      </div>
  </div>
      <div class="row">
          <div class="col" >
              <div id = "schools" class="simple shadow">
                  {% for item in schools %}
                  <p class="ldec" style="display: block;text-align: center;">{{item}}</p>
                  {% endfor %} 
              </div>
          </div>
  
  
  </div>
  </div>
  <div class="col-4">
      <div class="row">
          <div class="col text-center">

              <button onclick="loc('hospitals')" class="s_bar_btn" style="cursor: pointer;width: 100% !important;">Hospitals near {{url}}</button>
          </div>
      </div>
          <div class="row">
              <div class="col" >
                <div id="hospitals"  class="simple shadow" >
                      {% for item in hospitals %}
                      <p class="ldec" style="display: block;text-align: center;">{{item}}</p>
                      {% endfor %} 
                </div>
              </div>
      
      
      </div>
      </div>
      <div class="col-4">
          <div class="row">
              <div class="col text-center">
                  <button onclick="loc('landmarks')" class="s_bar_btn" style="cursor: pointer;width: 100% !important;">Landmarks near {{url}}</button>
              </div>
          </div>
              <div class="row">
                  <div class="col" >
                    <div id="landmarks" class="simple shadow">
                          {% for item in landmarks %}
                          <p class="ldec" style="display: block; text-align: center;">{{item}}</p>
                          {% endfor %} 
                    </div>
                  </div>
          
          
          </div>
          </div>
  </div>
</div>
<!--vt-->
{% if vt != "" %}
<div class="container">
  <div class="row p_mrg">
    <div class="col">
    <h4 class="p_overview" id="floorplans">Virtual Tour</h4>
    </div>
    <div class="col text-right">
      <a href="{{vt}}" title="{{vt}}" class="s_bar_btn" style="cursor: pointer; padding: 3px;">View in Fullscreen</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <iframe src="{{vt}}" frameborder="0" width="100%" height="500px"></iframe>
    </div>
  </div>
</div>
{% endif %}
<!--Suggestions-->
<div id="suggestion" class="container">
  <br><hr><br>
 
  <br>




</div>



</div>
</section>

<script>
 document.getElementById('strReferrer').value = window.location.href;
</script>

<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
  const form = document.forms['google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
      .catch(error => console.error('Error!', error.message))
  })
</script>



{% endblock %}
{% block scripts %}
<script>
  document.getElementById('hospitals').style.display = "none"
  document.getElementById('schools').style.display = "none"
  document.getElementById('landmarks').style.display = "none"
  function loc(s){
    if (document.getElementById(s).style.display == "none")
    {document.getElementById(s).style.display = ""}
    else{document.getElementById(s).style.display = "none"}
  }
</script>
<script type = 'text/javascript'>
  function mapdrop() {
    var elmnt = document.getElementById("map");
    elmnt.scrollIntoView();
  }
  function drop() {
    var elmnt = document.getElementById("drop");
    elmnt.scrollIntoView();
  }
  document.getElementById('scrdisp').style.display="none";
  /*window.onscroll = function() {scr()};
    
  function scr() {
    if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1100) {
    document.getElementById('scrdisp').style.display="";
    }
    else{
      document.getElementById('scrdisp').style.display="none";
    }
    
  }
 
    var x = {{ images|tojson }}
    var imagedata = '';
    for (i = 0; i < x.length; i++) {
      imagedata += '<div class="imagescell">'
      imagedata += '<img src="' + x[i] + '">'
      imagedata += '</div>'
      }
      $('#imgcarousel').append(imagedata);
    */
      
    var x = {{images|tojson}}
    var imagedata = '';
    imagedata += '<div class="carousel  carousel-main" data-flickity>'
    for (i = 0; i < x.length; i++) {
      imagedata += '<div class="carousel-cell" style="height:400px;">'
      imagedata += '<img class="carousel-cell-image" src="' + x[i] + '">'
      imagedata += '</div>'
      }
      imagedata += '</div>'
      imagedata += '<div class="carousel carousel-nav" '+"data-flickity='"+'{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "prevNextButtons": false}'+"'>"
        for (i = 0; i < x.length; i++) {
      imagedata += '<div class="carousel-cell">'
      imagedata += '<img style="width: 100px;height: 100px;" src="' + x[i] + '">'
      imagedata += '</div>'
      }
      imagedata += '</div>'
        $('#imgcarousel').append(imagedata);
  
  </script>
  
<script>
  
  $(".container-property").flickity({
    wrapAround: true,
    contain: true,
    imagesLoaded: true,
    pageDots: true,
    prevNextButtons: true
  }); 
  </script>

<script>



function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}


  var b = JSON.parse('{{ queryRes | tojson | safe}}');
  
  
  function suggestions(){
  $('#display').empty();
  c = shuffle(b).slice(0,1)
  var data ='';
  $.each(c, function(key, value){
    var area = value.area;
      var newarea = area.replace(/\s/g, '-')
      var property = value.property;
      if (value.property == "")
      {value.property = "no name"} 
      var newproperty = property.replace(/\s/g, '-')
                   if (value.tag == "hot")
                  { var f = "display:block;"}
                  else 
                  {var f = "display:none;"}
                  if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y =  "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "gold-"; 
                    }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "";
                      }
                      if (value.beds == "ST"){
                    beds = ''}
                  else {
                    beds = ' Bed'
                  }
                  
                  data += '<div class="col d-flex justify-content-center" style="margin-bottom: 10px;">'
                    data += '<div class="card" style="width: 18rem; height: 15.5rem;  position:relative; border-radius:0px; border:none;">'
                  data += '<img class="card-img-top1" src="'+value.image+'"  onerror="imgError(this);" style="height: 160px; object-fit:cover;">'
                  data += '<div class="card-img-overlay" style="z-index:0;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"><div class="card-content"><button class="viewmore">'+value.title+'</button></div></a></div>'
                  data += '<div class="card-body" style="z-index:2; border-radius: 0px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'">'
                  data += '<div class="row" style="margin-top: -10px;margin-bottom:5px;"><div class="col"><h5 class="card-title" style =  "'+ y +'font-size: 11pt;text-transform: uppercase;  overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">'+value.property+'</h5></div></div>'
                  data += '<div class="row" ><div class="col"><h5 class="card-title" style =  "'+ y +' font-size: 7.5pt;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">'+value.type+', '+value.area+'</h5></div><div class="col-3"><p class="card-text" style ="float:right;'+ y +'font-size: 7.5pt;">'+value.beds+beds+'</p></div></div>'
                  data += '<div class="row" style="margin-top:-7px;"><div class="col"><p class="card-text" style ="'+ y +'font-size: 7.5pt;">Abu Dhabi</p></div><div class="col-5"><p style ="'+ y +'font-size: 7.5pt;float:right; margin-top:7px;" >AED '+value.price+'</p></div></div>'
                  data += '</a></div>'
                  data += '</div>'
                  data += '</div>'
              })
              $('#display').append(data);
            }

 
  suggestions()

  setInterval(suggestions, 10000);
</script>
<script>
  function scrolltodiv(parameter) {
      var getscroll = document.getElementById(parameter);
      getscroll.scrollIntoView();
  }
</script>

<script>
  function readmore() {
try {
var dots = document.getElementById("dots");
var moreText = document.getElementById("more");
var btnText = document.getElementById("readmore");

if (dots.style.display == "none") {
dots.style.display = "inline";
btnText.innerHTML = "Read more";
moreText.style.display = "none";
} else {
dots.style.display = "none";
btnText.innerHTML = "Read less";
moreText.style.display = "inline";
}
} catch(err){}}

readmore()
readmore()
</script>



  {% endblock %}