{% extends "base.html" %}
{% block metacontent %}
{% if meta == "" %}
<meta name="title" content="Search for your ideal home">
<meta name="description" content="Search Results of all the properties close to your liking">
<meta name="keywords" content="buying, selling, renting, ammenities,units, communities, real estate, buy, rent, discover, details">
<meta property="og:image" content="https://www.uhpae.com/static/images/logo.png" /> 
<title>Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content="https://www.uhpae.com/search">
<meta property="og:title" content="Search for your ideal home">
<meta property="og:description" content="buying, selling, renting, ammenities,units, communities, real estate, buy, rent, discover,details">
{% else %}
<meta name="title" content="{{meta[0]}}">
<meta name="description" content="{{meta[1]}}">
<meta name="keywords" content="{{meta[2][0]}} , {{meta[2][1]}} , {{meta[2][2]}} , property in abu dhabi">
<meta property="og:image" content="https://www.uhpae.com/static/images/logo.png" /> 
<title>{{meta[0]}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content={{url}}>
<meta property="og:title" content="{{meta[0]}}">
<meta property="og:description" content="{{meta[1]}}">
{% endif %}

{% endblock %}
{% block content %}


<div class="container">
  <div class="row justify-content-center">
    
    <div class="dropdown dropdownedit">
      <form class="form-inline" action="{{ url_for('search') }}" method="POST">
      
      
        <select id="buyorsell" class="custom-select wantobtn">
        <option value="">I Want to..</option>
        <option value="buy">I'm Buying</option>
        <option value="rent">I'm Renting</option>
      </select>
      
      
      <input type="text" id="keywordaddss" class="keysearch" placeholder="Enter Keyword or Ref#" >
      
      
      
      <button class="btn btn-secondary filterbtn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span>See More</span> <img src="/static/icons/filter.png" alt="" class="fltrimg">
      </button>
      

      <div class="dropdown-menu dropsearchpos" aria-labelledby="dropdownMenu2">
        <div class="container dropsearch" >
          <div class="row">
              <div class="col" style="text-align: right;">
              <input type="reset" class = "searchfont2" style="border: hidden;" value="Reset">
              </div>
          </div>
         
          <div class="row justify-content-center dropmrg">
            <div class="col">
              <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>Contract</b></p>
        <select id="contract" class="custom-select searchfont2" style="width: 120px;">
          <option value="">Any</option>
          <option value="residential">Residential</option>
          <option value="commercial">Commercial</option>
          </select>
          </div>
          <div class="col">
            <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>City</b></p>
            <select id="city" class="custom-select searchfont2" style="width: 120px;">
              <option value="">Any</option>
              <option value="Abu Dhabi">Abu Dhabi</option>
              <option value="Dubai">Dubai</option>
              <option value="Alain">Al ain</option>
              </select>
                </div>
          <div class="col">
            <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>Min Price</b></p>
        <input type="number" id="pricefrom" placeholder="Min" class="searchfont2" style="width: 120px; height: 38px;">   
            </div>
            <div class="col">
              <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>Max Price</b></p>
        <input type="number" id="priceto" placeholder="Max" class="searchfont2" style="width: 120px; height: 38px;" >   
              </div>
                
          </div>

          <div class="row justify-content-center dropmrg">
            <div class="col">
              <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>Bedrooms</b></p>
          <select  id="bedrooms" class="custom-select searchfont2" style="width: 120px;" >
            <option value="">Any</option>
            <option value="ST">Studio</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            </select>
            </div>
            <div class="col">
              <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>Bathrooms</b></p>
            <select id="baths" class="custom-select searchfont2" style="width: 120px;">
            
              <option value="">Any</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
              <option value="6">Six</option>
              <option value="7">Seven</option>
              </select>
            </div>
            <div class="col">
              <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>Property Type</b></p>
              <select  id="propertytype" class="custom-select searchfont2" style="width: 120px;">
              <option value="">Any</option>
              <option value="Apartment">Apartment</option>
              <option value="Villa">Villa</option>
              <option value="Compound">Compound</option>
              <option value="Townhouse">Townhouse</option>
              <option value="Land Residential">Land Residential</option>
              <option value="Office">Office</option>
              </select>
            </div>
          <div class="col">  
            <p class="searchfont2" style="color:#0e4a88; margin-bottom: 5px; "><b>Location</b></p>
            <select  id="location" class="custom-select searchfont2" style="width: 120px;">
              <option value="">Any</option>
              <option value="Al Reem Island">Reem Island</option>
              <option value="Yas Island">Yas Island</option>
              <option value="Al Raha Beach">Al Raha</option>
              <option value="Saadiyat Island">Al Saadiyat</option>
              <option value="Al Reef">Al Reef</option>
              <option value="Khalifa City A">Khalifa City</option>
              </select>
    </div>
    </div>
    <div class="row justify-content-center dropmrg">
    <div class="col">
    <input id="offplan" type="checkbox" value="offplan" style="display: inline;" > <p class = "searchfont2" style="color:#0e4a88; display: inline;">Offplan</p>
    
    <input id="ready" type="checkbox" value="ready" style="display: inline;" > <p class = "searchfont2" style="color:#0e4a88; display: inline;">Ready</p>
    
  </div>
    </div>
    <div class="row dropmrg" >
      <div class="col">

        <p class="searchfont2" style="color:#0e4a88; display: inline;"><b>Features</b></p>
        
      </div>
    </div>
    <div class="row justify-content-center amedropmrgin">
      <div class="col">
      <input id="balcony" type="checkbox" value="Balcony" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Balcony</p>
      </div>
      <div class="col">
        <input id="bparking" type="checkbox" value="Basement parking" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Basement Parking</p>
        </div>
        <div class="col">
          <input id="wardrobes" type="checkbox" value="Built in wardrobes" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Wardrobes</p>
          </div>
          <div class="col">
            <input id="cac" type="checkbox" value="Central air conditioning" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Air Conditioning</p>
            </div>

          </div>
          <div class="row justify-content-center amedropmrgin">
            <div class="col">
              <input id="ch" type="checkbox" value="Central heating" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Central Heating</p>
              </div>
              <div class="col">
                <input id="view" type="checkbox" value="Community View" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Community View</p>
                </div>
                <div class="col">
                  <input id="sat" type="checkbox" value="Satellite/Cable TV" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Satellite/Cable</p>
                  </div>
                  <div class="col">
                    <input id="kitchen" type="checkbox" value="Fully fitted kitchen" style="display: inline;"> <p class = "searchfont2" style="display: inline;">Fitted Kitchen</p>
                    </div>
    </div>

    <div class="row amedropmrgin" style="margin-bottom: 5px;">
      <div class="col" style="text-align: right;">
      <button class="searchfont2" style=" border: hidden;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Hide</button>
    </div>
    <div>
      <button  class="searchfont2" style=" border: hidden;" type="submit" formmethod="get|post"><b>Search</b></button>
    </div>
    </div>
      </div>
      </div>


      <input class = "searchbtn" type="button" value="Search" onclick="myFunction()">
    </form>
    </div>
  </div>


</div>

<div class="container">
<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" style="margin-top: 50px;">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <a href={{url_for('search', tag="hot", property="West Yas")}}><img class="d-block w-100" src="/static/images/westyas.jpg" alt="First slide"></a>
      
    </div>
    <div class="carousel-item">
      <a href={{url_for('search', tag="hot", property="Yas Acres")}}><img class="d-block w-100" src="/static/images/yasacres.jpg" alt="Second slide"></a>

    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="container">
  <h3 style="font-family: 'Roboto'; margin-top: 10px;"><a href="{{url}}">{{search}}</a></h3>
</div>

<div class="container">
  <div class="row">
    <div class="col text-right mrg" >
    <a href="#" onclick="displaygrid()"><img  src="{{ url_for('static', filename='icons/grid.svg') }}" style="margin: 20px; width: 20px;"></a>
    <a href="#" onclick="displaylist()"><img src="{{ url_for('static', filename='icons/list.svg') }}" style="margin: 20px; width: 20px;"></a>
  </div>
  </div>

  <div class="row justify-content-center" id="display">
   
    
  </div>
    <div class="row justify-content-center" id="display-list">
  
    </div>
    
</div>

  




{% endblock %}
{% block scripts %}

<script>
  document.getElementById("display-list").style.display="none"; 
</script>


<script>
    var b = JSON.parse('{{ queryRes | tojson | safe}}');
    var data ='';
    var data_list = '';
    var script_properties = '';
    var cardid = 1;
    var pagebtn = ''
    $.each(b, function(key, value){
      console.log(value.property)
      var area = value.area;
      var newarea = area.replace(/\s/g, '-')
      var property = value.property;
      if (value.property == "")
      {value.property = "no name"} 
      var newproperty = property.replace(/\s/g, '-')
                   if (value.tag == "hot")
                  { var f = "display:block;"}
                  else 
                  {var f = "display:none;"}
                  if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y = "color: #0e4a88; font-family: 'Roboto'";
                      var z = "#0e4a88";
                      var color = "gold-"
                      ;
                      }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #A57D2D; font-family: 'Roboto'";
                      var z = "#A57D2D";
                      var color = "";
                      }
                  else {var x = "" }
                  
                  data += '<div id="'+cardid+'" class="card" style="width: 18rem; margin: 5px; position:relative;">'
                  data += '<img class="card-img-top1" src="'+value.image+'" alt="'+value.property+'" style="height: 250px;">'
                  data += '<div class="card-img-overlay" style="z-index:0;"><div class="container"><div class="row"><div class="col" style="text-align:left; color:white;" ><p style="background-color: '+z+';text-align:center; width: 42px;padding:2px;font-family:"Roboto";" >'+units+'</p></div><div class="col text-right" style="margin-left:150px; margin-top:-46px;"><img src="/static/icons/hot.png" width="70px" style="'+f+'"></div></div></div></div>'
                  data += '<div class="card-body" style="z-index:2">'
                  data += '<h5 class="card-title" style =  "'+ y +'">'+value.property+'</h5>'
                  data += '<p class="card-text card-desc" >'+value.type+', '+value.area+'</p>'
                  data += '<p class="card-text card-desc" style="color: #8e8a8a !important;">'+value.title+'</p>'
                  data += '<p class="card-text">'+'<img src="/static/icons/bed.svg" width="20px">'+'  '+value.beds+'  '+'<img  src="/static/icons/bath.svg" width="20px"  style="margin-left:7px;">'+'  '+value.baths+'  '+'<img  src="/static/icons/squares.svg" width="15px"  style="margin-left:7px;">'+'  '+value.size+' Sqft'+'</p>'
                  data += '<div class="row"><p style = " margin-left:15px;'+ y +'" ><b>AED '+value.price+'</b></p></div>'
                  data += '<div class="row" style="margin-left:3px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'" style="text-decoration: none;color:'+z+';border-radius: 25px; border: 1px solid '+z+'; height: 28px; width: 80px; margin-right: 5px; padding-right: 1px;padding-left: 1px;  font-size:10pt; text-align:center;"><p style="font-family:"Roboto";" >'+cosmo+'</p></a>'
                  data += '<a href="tel:+97126439099"><img class="ikon" src="/static/icons/001-'+color+'phone-call.svg"></a>'
                  data += '<a data-toggle="modal" data-id="'+value.ref_no+ '" title="Add this item" class="open-AddBookDialog" href="#addBookDialog"><img class="ikon" src="/static/icons/email.svg"></a>'
                  data += '<a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20'+value.ref_no+'%20property%20for%20sale.%20Link-%20http://uhpae.com/property/'+value.ref_no+'%20"><img class="ikon" src="/static/icons/003-whatsapp.svg"></a>'
                  data += '</div>'
                  data += '</div>'
                  data += '</div>'
                  
                  cardid = cardid + 1
                  
                  data_list += '<div class="container">'
                  data_list += '<div class="col">'
                  data_list += '<div class="card" style="background: #fff;display: inline-block;border: 1px solid #ddd; width:100%;">'
                  data_list += '<div class="image pull-left" style=" float: left; background: #000;width: 35%; ">'
                  data_list += '<img class="imgcover"  src="'+value.image+'" alt="'+value.property+'">'
                  data_list += '</div>'
                  data_list += '<div class="content pull-left" style="float: left;width: 65%;overflow: hidden;padding: 5px;">'
                  data_list += '<div class ="row" ><div class ="col" style="margin-left:5px; white-space: nowrap;"><h5 class = "caption" style =  "'+ y +'">'+value.property+'</h5></div><div class ="col"><p class = "moni" style = "'+ y +'" >AED '+value.price+'</p></div></div>'
                  data_list += '<div class ="row" style="margin-left:6px;" ><p class = "saaa" style =" font-family:"Roboto"; margin-top:-20px;" >'+value.type+', '+value.area+'</p></div>'
                  data_list += '<div class="row" style="margin-left:6px;"  ><p class = "saaa2"  style="color: #8e8a8a !important; margin-top:-20px">'+value.title+'</p></div>' 
                  data_list += '<div class="row" style="margin-left:6px;"  ><p class = "saaa" style =  " margin-top:-15px;">'+'<img src="/static/icons/bed.svg" width="20px">'+'  '+value.beds+'  '+'<img  src="/static/icons/bath.svg" width="20px"  style="margin-left:7px;">'+'  '+value.baths+'  '+'<img  src="/static/icons/squares.svg" width="15px"  style="margin-left:7px;">'+'  '+value.size+' Sqft'+'</p></div>'
                  data_list += '<div class="row" style="margin-left:6px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'" style="text-decoration: none;color:'+z+';border-radius: 25px; border: 1px solid '+z+'; height: 28px; width: 80px; margin-right: 5px; padding-right: 1px;padding-left: 1px;font-size:10pt; text-align:center;"><h7 style="font-family:"Roboto";" >'+cosmo+'</h7></a>'
                  data_list += '<a href="tel:+97126439099"><img class="ikon" src="/static/icons/001-'+color+'phone-call.svg"></a>'
                  data_list += '<a data-toggle="modal" data-id="'+value.ref_no+ '" title="Add this item" class="open-AddBookDialog" href="#addBookDialog"><img class="ikon" src="/static/icons/email.svg"></a>'
                  data_list += '<a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20'+value.ref_no+'%20property%20for%20sale.%20Link-%20http://uhpae.com/property/'+value.ref_no+'%20"><img class="ikon" src="/static/icons/003-whatsapp.svg"></a>'
                  data_list += '</div>'
                  data_list += '</div>'
                  data_list += '</div>'
                  data_list += '</div>'
                  data_list += '</div>'             
                
                  script_properties +='{"@context" : "https://schema.org","@type" : "Product","name" : "'+value.property+'","image" : "'+value.image+'","description" : "'+value.title+'","url" : "https://uhpae.com/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'","offers" : {"@type" : "Offer","price" : "'+value.price+'","availability" : "InStock","priceCurrency" : "Dirhams","url" : "https://uhpae.com/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"},"brand" : {"@type":"Brand","name" : "Unique Home Properties"},"address":{"@type":"PostalAddress","addressRegion":"Abu Dhabi","addressLocality":"'+value.area+'","areaServed":"'+value.size+'"},"category" : "'+value.type+'"},'


                })
    
                
     
    

    $('#display').append(data);
    $('#display-list').append(data_list);
    
        function Scrolldown() {
     window.scroll(0,400); 
}

window.onload = Scrolldown;
var script = $('<script type="application/ld+json">[ {"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","name":"For '+window.location.href+'","item":" '+window.location.href+'","position":1}],"numberOfItems":1},'+script_properties.slice(0,-1)+']</' + 'script>').appendTo(document.head);




</script>

<script>
    
    
  function myFunction(){
      propertytype = $("#propertytype").val();
      baths = $("#baths").val();
      keyword1 = $("#keywordaddss").val();
      pricefrom = $("#pricefrom").val();
      priceto = $("#priceto").val();
      textinlivebox = $("#city").val();
      textinlocation = $("#location").val();
      rdbutton = $("#buyorsell").val();
      select = $("#bedrooms").val();
      contract = $("#contract").val();
      if ($("#offplan").is(":checked"))
      {offplan = $("#offplan").val()}
      else {offplan = ""}
      if ($("#ready").is(":checked"))
      {ready = $("#ready").val()}
      else {ready = ""}
      if ($("#balcony").is(":checked"))
      {balcony = $("#balcony").val()}
      else {balcony = ""}
      if ($("#bparking").is(":checked"))
      {bparking = $("#bparking").val()}
      else {bparking = ""}
      if ($("#wardrobes").is(":checked"))
      {wardrobes = $("#wardrobes").val()}
      else {wardrobes = ""}
      if ($("#cac").is(":checked"))
      {cac = $("#cac").val()}
      else {cac = ""}
      if ($("#ch").is(":checked"))
      {ch = $("#ch").val()}
      else {ch = ""}
      if ($("#view").is(":checked"))
      {view = $("#view").val()}
      else {view = ""}
      if ($("#sat").is(":checked"))
      {sat = $("#sat").val()}
      else {sat = ""}
      if ($("#kitchen").is(":checked"))
      {kitchen = $("#kitchen").val()}
      else {kitchen = ""}

          $.ajax({
              method:"post",
              url:"/livesearch",
              data:{text:textinlivebox, location:textinlocation, 
              rdbutton:rdbutton, selectbox:select, contract:contract, offplan:offplan
              ,ready:ready, pricefrom:pricefrom, priceto:priceto, keyword:keyword1,
               baths:baths,propertytype:propertytype,balcony:balcony,bparking:bparking,
              wardrobes:wardrobes, cac:cac,ch:ch,view:view,sat:sat,kitchen:kitchen},
              success:function(res){

                $('#display').empty();
                  $('#display-list').empty();
                  var data ='';
                  var data_list = '';
                  
                  $.each(res, function(key, value){
                    var area = value.area;
                    var newarea = area.replace(/\s/g, '-')
                    var property = value.property;
                    var newproperty = property.replace(/\s/g, '-')
                    if (value.units == "rent"){
                    var units = "Rent";
                    var cosmo = "Discover";
                    var x = "background-color: #0e4a88 !important;";
                    var y = "color: #0e4a88; font-family: 'Roboto'";
                    var z = "#0e4a88";
                    var color = "gold-"
                    ;
                    }
                else if (value.units == "buy"){
                    var units = "Buy";
                    var cosmo = "Details"
                    var x = "background-color: #A57D2D !important;";
                    var y = "color: #A57D2D; font-family: 'Roboto'";
                    var z = "#A57D2D";
                    var color = "";
                    }
                else {var x = "" }
                data += '<div class="card" style="width: 18rem; margin: 5px; position:relative;">'
                data += '<img class="card-img-top1" src="'+value.image+'" alt="'+value.property+'" style="height: 250px;">'
                data += '<div class="card-img-overlay" style="z-index:0;"><div class="labeldesc" style=" background-color: '+z+'; width:20%; text-align:center; color:white;" >'+units+'</div></div>'
                data += '<div class="card-body" style="z-index:2">'
                data += '<h5 class="card-title" style =  "'+ y +'">'+value.property+'</h5>'
                data += '<p class="card-text card-desc" >'+value.type+', '+value.area+'</p>'
                data += '<p class="card-text card-desc" style="color: #8e8a8a !important;">'+value.title+'</p>'
                data += '<p class="card-text">'+'<img src="/static/icons/bed.svg" width="20px">'+'  '+value.beds+'  '+'<img  src="/static/icons/bath.svg" width="20px"  style="margin-left:7px;">'+'  '+value.baths+'  '+'<img  src="/static/icons/squares.svg" width="15px"  style="margin-left:7px;">'+'  '+value.size+' Sqft'+'</p>'
                data += '<div class="row"><p style = " margin-left:15px;'+ y +'" ><b>AED '+value.price+'</b></p></div>'
                data += '<div class="row" style="margin-left:3px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'" style="text-decoration: none;color:'+z+';border-radius: 25px; border: 1px solid '+z+'; height: 28px; width: 80px; margin-right: 12px; padding-right: 1px;padding-left: 1px;  font-size:10pt; text-align:center;"><p style="font-family:"Roboto";" >'+cosmo+'</p></a>'
                data += '<a href="tel:+97126439099"><img class="ikon" src="/static/icons/001-'+color+'phone-call.svg"></a>'
                data += '<a data-toggle="modal" data-id="'+value.ref_no+ '" title="Add this item" class="open-AddBookDialog" href="#addBookDialog"><img class="ikon" src="/static/icons/email.svg"></a>'
                data += '<a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20'+value.ref_no+'%20property%20for%20sale.%20Link-%20http://uhpae.com/property/'+value.ref_no+'%20"><img class="ikon" src="/static/icons/003-whatsapp.svg"></a>'
                data += '</div>'
                data += '</div>'
                data += '</div>'
                  

                data_list += '<div class="container">'
                data_list += '<div class="col">'
                data_list += '<div class="card" style="background: #fff;display: inline-block;border: 1px solid #ddd; width:100%;">'
                data_list += '<div class="image pull-left" style=" float: left; background: #000;width: 35%; ">'
                data_list += '<img class="imgcover"  src="'+value.image+'" alt="'+value.property+'">'
                data_list += '</div>'
                data_list += '<div class="content pull-left" style="float: left;width: 65%;overflow: hidden;padding: 5px;">'
                data_list += '<div class ="row" ><div class ="col" style="margin-left:5px; white-space: nowrap;"><h5 class = "caption" style =  "'+ y +'">'+value.property+'</h5></div><div class ="col"><p class = "moni" style = "'+ y +'" >AED '+value.price+'</p></div></div>'
                data_list += '<div class ="row" style="margin-left:6px;" ><p class = "saaa" style =" font-family:"Roboto"; margin-top:-20px;" >'+value.type+', '+value.area+'</p></div>'
                data_list += '<div class="row" style="margin-left:6px;"  ><p class = "saaa2"  style="color: #8e8a8a !important; margin-top:-20px">'+value.title+'</p></div>' 
                data_list += '<div class="row" style="margin-left:6px;"  ><p class = "saaa" style =  " margin-top:-15px;">'+'<img src="/static/icons/bed.svg" width="20px">'+'  '+value.beds+'  '+'<img  src="/static/icons/bath.svg" width="20px"  style="margin-left:7px;">'+'  '+value.baths+'  '+'<img  src="/static/icons/squares.svg" width="15px"  style="margin-left:7px;">'+'  '+value.size+' Sqft'+'</p></div>'
                data_list += '<div class="row" style="margin-left:6px;"><a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'" style="text-decoration: none;color:'+z+';border-radius: 25px; border: 1px solid '+z+'; height: 28px; width: 80px; margin-right: 12px; padding-right: 1px;padding-left: 1px;font-size:10pt; text-align:center;"><h7 style="font-family:"Roboto";" >'+cosmo+'</h7></a>'
                data_list += '<a href="tel:+97126439099"><img class="ikon" src="/static/icons/001-'+color+'phone-call.svg"></a>'
                data_list += '<a data-toggle="modal" data-id="'+value.ref_no+ '" title="Add this item" class="open-AddBookDialog" href="#addBookDialog"><img class="ikon" src="/static/icons/email.svg"></a>'
                data_list += '<a href="https://wa.me/+971565256226?text=Im%20interested%20in%20your%20'+value.ref_no+'%20property%20for%20sale.%20Link-%20http://uhpae.com/property/'+value.ref_no+'%20"><img class="ikon" src="/static/icons/003-whatsapp.svg"></a>'
                data_list += '</div>'
                data_list += '</div>'
                data_list += '</div>'
                data_list += '</div>'
                data_list += '</div>'         
              })
                 
                  $('#display').append(data);
                  $('#display-list').append(data_list);
                  document.getElementById('display-list').style.display="none";
              }
          })
  }

 
</script>

<script>
 

 function displaylist() {
      document.getElementById('display-list').style.display="";
      document.getElementById('display').style.display="none";
      
      }
      function displaygrid() {
      document.getElementById('display-list').style.display="none";
      document.getElementById('display').style.display="";
      
      }

</script>




{% endblock %}