{% extends "base.html" %}
{% block metacontent %}
{% if meta == "" %}
<meta name="title" content="Search for your ideal home">
<meta name="description" content="Search Results of all the properties close to your liking">
<meta name="keywords" content="buying, selling, renting, ammenities,units, communities, real estate, buy, rent, discover, details">
<meta property="og:image" content="https://www.uhpae.com/static/images/logo.png" /> 
<title>Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content="https://www.uhpae.com/search">
<meta property="og:title" content="Search for your ideal home">
<meta property="og:description" content="buying, selling, renting, ammenities,units, communities, real estate, buy, rent, discover,details">
{% else %}
<meta name="title" content="{{meta[1]}}">
<meta name="description" content="{{meta[2]}}">
<meta name="keywords" content="{{meta[0]}}">
<meta property="og:image" content="https://www.uhpae.com/static/images/logo.png" /> 
<title>{{meta[1]}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content={{url}}>
<meta property="og:title" content="{{meta[1]}}">
<meta property="og:description" content="{{meta[2]}}">
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",         "name": "https://www.uhpae.com",        
    "potentialAction": {
    "@type": "SearchAction",
    "target": "http://https://www.uhpae.com/search?keyword={search_term}",
    "query-input": "required name=search_term"
  }, "url": "https://www.uhpae.com"
  }
</script>

{% endif %}
{% endblock %}
{% block content %}





  <section style="background-image: url(/static/images/scaledbg.webp); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
    <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75);">
  
<form autocomplete="off" id="my-form-id" style="padding-top: 80px;position: relative;">
    <div class="container">
    <div style="display: flex;justify-content: space-between; flex-wrap: wrap;">
            <input id="keyword" name="keyword" type="text" class="typeahead search_community searchwidth" style="background-color: rgb(0, 0, 0,0.7); margin-top: 10px;margin-bottom: 10px;" data-provide="typeahead" placeholder="Community or Location" />
            <script>
              var data = {{ search_list|tojson }}
              var $input = $(".typeahead");
              $input.typeahead({
                  source: data,
                  autoSelect: true,
              });
              $input.change(function () {
                  var current = $input.typeahead("getActive");
                  matches = [];
                  if (current) {
                      if (current.name == $input.val()) {
                          matches.push(current.name);
                      }
                  }
              });
            </script>
        <select id="units" name="units" class="search_option"  style="color: black;margin-top: 10px;margin-bottom: 10px;">
          <option value="" disabled selected>Buy / Sell</option>
          <option value="Sale">Buy</option>
          <option value="Rent">Rent</option>
        </select>

        <select id="beds" name="beds" class="search_option" style="color: black;margin-top: 10px;margin-bottom: 10px;">
          <option value="" disabled selected>Beds</option>
          <option value="ST">Studio</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
          <option value="5">Five</option>
          <option value="6">Six</option>
          </select>

            <select id="type" name="propertytype" class="search_option" style="color: black;margin-top: 10px;margin-bottom: 10px;" >
            <option value="" disabled selected>Type</option>
            <option value="Apartment">Apartment</option>
            <option value="Villa">Villa</option>
            <option value="Compound">Compound</option>
            <option value="Townhouse">Townhouse</option>
            <option value="Land Residential">Land Residential</option>
            <option value="Penthouse">Penthouse</option>
            <option value="Office">Office</option>
            </select>
</div>
<div style="display: flex; justify-content: left">
  <button class="search_option" style="background-color: #001524; text-align: center; margin-top: 10px;margin-bottom: 10px;" type="button"  onclick="myFunction('1')" formmethod="get|post">Search</button>
 </div> 
</div>

</form>


<div class="container">
  <div class="row">
    <div class="col">
      <p class="simple" style="color: #8e8a8a; font-size: 20px; text-transform: capitalize;font-family: 'Poppins-light',sans-serif; padding-top: 25px;">Searched for: {{meta[1]}}</p>
    </div>
  </div>
</div>
<div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75);padding-top:15px;padding-bottom: 15px;margin-top: 20px;">
<div class="container">

  <div id="window_footer"></div>

  <div class="row justify-content-center" id="display">
   
    
  </div>



</div>
<div class="container">
  <div class="row justify-content-center" style="margin-top: 20px;">
      <input id="current_page" type="hidden" value="1">
        <ul class="pagination">
          <button class="page_move" id="previous" onclick="prev()"></button>
          <button class="page_current" disableds id="current"></button>
          <button class="page_move" id="next" onclick="next()"></button>
        </ul>
  </div>

</div>
</div>
</div>
</section>



{% endblock %}
{% block scripts %}

{% for item in pl %}
<script>

document.getElementById('{{item[0]}}').value='{{item[1]}}' 
</script>
{% endfor %}


<script>
  var args = JSON.parse('{{ search_args | tojson }}') 
  for (const [key, value_] of Object.entries(args)) {
    document.getElementById(key).value = value_
  }
    document.getElementById("current").innerHTML = $("#current_page").val();
    document.getElementById("previous").innerHTML = "{{ start_page }}"
    document.getElementById("next").innerHTML = "{{ end_page }}"
    var b = JSON.parse('{{ queryRes | tojson | safe}}');
    var data ='';
    var data_list = '';
    var script_properties = '';
    var cardid = 1;
    var pagebtn = ''
    $.each(b, function(key, value){
      var area = value.area;
      var newarea = area.replace(/\s/g, '-')
      var property = value.property;
      if (value.property == "")
      {value.property = "no name"} 
      var newproperty = property.replace(/\s/g, '-')
                   if (value.tag == "hot")
                  { var f = "display:block;"}
                  else 
                  {var f = "display:none;"}
                  if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y =  "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "gold-"; 
                    }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "";
                      }

                      if (value.beds == "ST"){
                    beds = ''}
                  else {
                    beds = ' Bed'
                  }
                  data += '<div class="col-lg-3 col-md-6 col-sm-12" style="margin-top: 20px;">'
                  data += '<div class="container_foto">'
                  data += '<div class="ver_mas text-center">'
                  data += '<a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"><span  class="lnr lnr-eye"><p>More Details</p></span></a>'
                  data += '</div>'
                  data += '<article class="text-left">'
                  data += '<h2>AED '+value.price+'<p style="float:right;">'+value.beds+beds+'</p></h2>'
                  data += '<h4 class="card_desc">'+value.property+'<br>'+value.type+', '+value.area+'</h4>'
                  data += '</article>'
                  data += '<img src="'+value.image+'" onerror="imgError(this);" alt="">'
                  data += '</div>'
                  data += '</div>'
                  data += '</div>'
                  
                  cardid = cardid + 1
                
                
                  script_properties +='{"@context" : "https://schema.org","@type" : "Product","name" : "'+value.property+'","image" : "'+value.image+'","description" : "'+value.title+'","url" : "https://uhpae.com/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'","offers" : {"@type" : "Offer","price" : "'+value.price+'","availability" : "InStock","priceCurrency" : "Dirhams","url" : "https://uhpae.com/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"},"brand" : {"@type":"Brand","name" : "Unique Home Properties"},"address":{"@type":"PostalAddress","addressRegion":"Abu Dhabi","addressLocality":"'+value.area+'","areaServed":"'+value.size+'"},"category" : "'+value.type+'"},'


                })


    $('#display').append(data);
    


        function Scrolldown() {
     window.scroll(0,100); 
}

window.onload = Scrolldown;
var script = $('<script type="application/ld+json">[ {"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","name":"For '+window.location.href+'","item":" '+window.location.href+'","position":1}],"numberOfItems":1},'+script_properties.slice(0,-1)+']</' + 'script>').appendTo(document.head);


</script>

<script>
  function prev(){
    cp = $("#current_page").val();
    cp = parseInt(cp) - 1;
    if (cp != 0){
      myFunction(cp)
    }
  }
  function next(){
    cp = $("#current_page").val();
    cp = parseInt(cp) + 1;
    myFunction(cp)
  }
  
  function myFunction(x){
      $("#current_page").val(x);
      units = $("#units").val();
      propertytype = $("#type").val();
      beds = $("#beds").val();
      keyword = $("#keyword").val();
      page = x
          $.ajax({
              method:"post",
              url:"/livesearch",
              data:{units:units,keyword:keyword, propertytype:propertytype, 
              beds:beds, page:page},
              success:function(res){
                document.getElementById("current").innerHTML = $("#current_page").val();
                document.getElementById("previous").innerHTML = res.start_page;
                document.getElementById("next").innerHTML = res.end_page;
                $("#current_page").val()
                $('#display').empty();
                  var data ='';
                  $.each(res.queryres, function(key, value){
                    var area = value.area;
                    var newarea = area.replace(/\s/g, '-')
                    var property = value.property;
                    var newproperty = property.replace(/\s/g, '-')
                    if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y =  "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "gold-"; 
                    }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "";
                      }

                      if (value.beds == "ST"){
                    beds = ''}
                  else {
                    beds = ' Bed'
                  }
                  data += '<div class="col-lg-3 col-md-6 col-sm-12" style="margin-top: 20px;">'
                  data += '<div class="container_foto">'
                  data += '<div class="ver_mas text-center">'
                  data += '<a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"><span  class="lnr lnr-eye"><p>More Details</p></span></a>'
                  data += '</div>'
                  data += '<article class="text-left">'
                  data += '<h2>AED '+value.price+'<p style="float:right;">'+value.beds+beds+'</p></h2>'
                  data += '<h4 class="card_desc">'+value.property+'<br>'+value.type+', '+value.area+'</h4>'
                  data += '</article>'
                  data += '<img src="'+value.image+'" onerror="imgError(this);" alt="">'
                  data += '</div>'
                  data += '</div>'
                  data += '</div>'
                  
              })
                 
                  $('#display').append(data);
           
              }
          })
  }

 
</script>


{% endblock %}