{% extends "base.html" %}
{% block metacontent %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<style>
.child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  border-radius: 12px;
  color: white;

}

.child01 {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
  color: white;
}

.parrot {
  border: transparent;
  vertical-align: middle;
  padding-top: 90px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: rgb(129, 129, 129);
}
.searchinputs::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
}
::placeholder {
  padding-left: 3%;
  font-family: 'Montserrat'
}
</style>

{% if meta == "" %}
<meta name="title" content="Search for your ideal home">
<meta name="description" content="Search Results of all the properties close to your liking">
<meta name="keywords" content="buying, selling, renting, ammenities,units, communities, real estate, buy, rent, discover, details">
<meta property="og:image" content="https://www.uhpae.com/static/images/logo.png" /> 
<title>Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content="https://www.uhpae.com/search">
<meta property="og:title" content="Search for your ideal home">
<meta property="og:description" content="buying, selling, renting, ammenities,units, communities, real estate, buy, rent, discover,details">
{% else %}
<meta name="title" content="{{meta[1]}}">
<meta name="description" content="{{meta[2]}}">
<meta name="keywords" content="{{meta[0]}}">
<meta property="og:image" content="https://www.uhpae.com/static/images/logo.png" /> 
<title>{{meta[1]}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content={{url}}>
<meta property="og:title" content="{{meta[1]}}">
<meta property="og:description" content="{{meta[2]}}">
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",         "name": "https://www.uhpae.com",        
    "potentialAction": {
    "@type": "SearchAction",
    "target": "http://https://www.uhpae.com/search?keyword={search_term}",
    "query-input": "required name=search_term"
  }, "url": "https://www.uhpae.com"
  }
</script>

{% endif %}
{% endblock %}
{% block content %}


<section style="background-image: url(/static/images/dark_bg.png); background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
  <div style="height: 100%;width: 100%;background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgb(34, 34, 34, 1.0));">
    <div class="container-fluid parrot" style="text-align: center;">
      <form autocomplete="off" id="my-form-id">
      <div class="container">
          <input id="keyword" name="keyword"  style="width: 20%; height: 70% !important; " type="text" class="filter_add05 typeahead search_community searchwidth" data-provide="typeahead" placeholder="Location, Community">
          <script> // The search option with the dropdown menu
            var data = {{ search_list|tojson }} 
            var $input = $(".typeahead");
            $input.typeahead({
                source: data,
                autoSelect: true,
            });
            $input.change(function () {
                var current = $input.typeahead("getActive");
                matches = [];
                if (current) {
                    if (current.name == $input.val()) {
                        matches.push(current.name);
                    }
                }
            });
          </script>

        <div class="child" style="margin-left: 0px;">
        <select name="beds" id="beds" class="filter_add02" style="height: 80%;">
          <option disabled selected hidden value="">Beds</i></option>
          <option value="ST">Studio</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        <select name="propertytype" id="type" class="filter_add02" style="height: 80%;">
          <option selected="selected" value=''>Type</option>
          <option value='Villa'>Villa</option>
          <option value='Apartment'>Apartment</option>
          <option value='Loft Apartment'>Loft Apartment</option>
          <option value='Residential Floor'>Residential Floor</option>
          <option value='Residential Plot'>Residential Plot</option>
          <option value='Townhouse'>Townhouse</option>
          <option value='Residential Building'>Residential Building</option>
          <option value='Penthouse'>Penthouse</option>
          <option value='Villa Compound'>Villa Compound</option>
          <option value='Hotel Apartment'>Hotel Apartment</option>
          <option value='Office'>Office</option>
          <option value='Land'>Land</option>
          <option value='Other'>Other</option>
        </select>
        <select name="units" id="units" class="filter_add02" style="height: 80%;">
          <option selected="selected" value="">Purpose</option>
          <option value="Sale">Sale</option>
          <option value="Rent">Rent</option>
        </select>
      </div>
      <div class="child">
        <input type="number" name="minprice" id="minprice" class="filter_add02" placeholder="Min. Price" aria-label="minprice" style="height: 80%;">
        <input type="number" name="maxprice" id="maxprice" class="filter_add02" placeholder="Max. Price" aria-label="maxprice" style="height: 80%;">
      </div>
      <button class="search_option" style="background-color: #000000; text-align: center; margin-bottom: 10px; border-radius: 15px; border: 1px solid #000000; width: 100px; padding: 0.2%;" type="button"  onclick="myFunction('1')" formmethod="get|post"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 0;" src="/static/images/magnifier.png"/><span style="font-size: 15px;">Search</span></button>
      </div>
    </form>
    </div>


<div class="container">
  <div class="row">
    <div class="col">
      <p class="simple" id="statement" name="statement" style="color: #ffffff; font-size: 20px; text-transform: capitalize;font-family: 'Poppins-light',sans-serif; padding-top: 25px;"></p>
    </div>
  </div>
</div>

<div style="height: 100%;width: 100%; padding-top:15px;padding-bottom: 15px;margin-top: 20px;">
<div class="container">

  <div id="window_footer"></div>

  <div class="row justify-content-center" id="display">
   
    
  </div>



</div>
<div class="container">
  <div class="row justify-content-center" style="margin-top: 20px;">
      <input id="current_page" type="hidden" value="1">
        <ul class="pagination">
          <button class="page_move" id="previous" onclick="prev()"></button>
          <button class="page_current" disableds id="current"></button>
          <button class="page_move" id="next" onclick="next()"></button>
        </ul>
  </div>

</div>
</div>
</div>
</section>



{% endblock %}
{% block scripts %}

{% for item in pl %}
<script>

document.getElementById('{{item[0]}}').value='{{item[1]}}' 
</script>
{% endfor %}


<script>
  var args = JSON.parse('{{ search_args | tojson }}') 
  console.log(args)
  for (const [key, value_] of Object.entries(args)) {
    document.getElementById(key).value = value_
  }
    document.getElementById("current").innerHTML = $("#current_page").val();
    document.getElementById("previous").innerHTML = "{{ start_page }}"
    document.getElementById("next").innerHTML = "{{ end_page }}"
    var b = JSON.parse('{{ queryRes | tojson | safe}}');
    var data ='';
    var data_list = '';
    var script_properties = '';
    var cardid = 1;
    var pagebtn = ''
    $.each(b, function(key, value){
      var area = value.area;
      var newarea = area.replace(/\s/g, '-')
      var property = value.property;
      if (value.property == "")
      {value.property = "no name"} 
      var newproperty = property.replace(/\s/g, '-')
                  if (value.tag == "hot")
                  { var f = "display:block;"}
                  else 
                  {var f = "display:none;"}
                  if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y =  "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "gold-"; 
                    }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "";
                      }

                      if (value.beds == "ST"){
                    beds = ''}
                  else {
                    beds = ' Bed'
                  }
                  data += '<div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px; background-color: transparent";>'
                  data += '<div class="container_foto">'
                  data += '<div class="ver_mas text-center">'
                  data += '<a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"><span  class="lnr lnr-eye"><p style="font-size:15px; font-family: "Century Gothic", sans-serif;"><b>Preview</b></p></span></a>'
                  data += '</div>'
                  data += '<article class="text-left">'
                  data += '<h2>AED '+value.price+'<p style="float:right;">'+value.beds+beds+'</p></h2>'
                  data += '<h4 class="card_desc">'+value.property+'<br>'+value.type+', '+value.area+'</h4>'
                  data += '</article>'
                  data += '<img src="'+value.image+'" onerror="imgError(this);" alt="">'
                  data += '</div>'
                  data += '</div>'
                  data += '</div>'
                  
                  cardid = cardid + 1
                
                
                  script_properties +='{"@context" : "https://schema.org","@type" : "Product","name" : "'+value.property+'","image" : "'+value.image+'","description" : "'+value.title+'","url" : "https://uhpae.com/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'","offers" : {"@type" : "Offer","price" : "'+value.price+'","availability" : "InStock","priceCurrency" : "Dirhams","url" : "https://uhpae.com/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"},"brand" : {"@type":"Brand","name" : "Unique Home Properties"},"address":{"@type":"PostalAddress","addressRegion":"Abu Dhabi","addressLocality":"'+value.area+'","areaServed":"'+value.size+'"},"category" : "'+value.type+'"},'


                })


    $('#display').append(data);
    


var script = $('<script type="application/ld+json">[ {"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","name":"For '+window.location.href+'","item":" '+window.location.href+'","position":1}],"numberOfItems":1},'+script_properties.slice(0,-1)+']</' + 'script>').appendTo(document.head);


</script>

<script>
  function prev(){
    cp = $("#current_page").val();
    cp = parseInt(cp) - 1;
    if (cp != 0){
      myFunction(cp)
    }
  }
  function next(){
    cp = $("#current_page").val();
    cp = parseInt(cp) + 1;
    myFunction(cp)
  }
  
  function myFunction(x){
      $("#current_page").val(x);
      units = $("#units").val();
      propertytype = $("#type").val();
      beds = $("#beds").val();
      keyword = $("#keyword").val();
      minprice = $("#minprice").val();
      maxprice = $("#maxprice").val();
      if (propertytype != "")
      {
        statement = propertytype+" for "
      } 
      else
      {
        statement = "Properties for "
      }
      if (units != "" || unit != null)
      {
        statement += "Sale "
      } 
      if (keyword != '')
      {
        statement += "in "+keyword+" "
      } 
      if (beds != null)
      {
        statement += "with "+beds+" bedroom(s)"
      } 
      document.getElementById("statement").innerHTML = "Searched for: "+statement;
      console.log(statement)
      page = x
          $.ajax({
              method:"post",
              url:"/livesearch",
              data:{units:units,keyword:keyword, propertytype:propertytype, 
              beds:beds,minprice:minprice,maxprice:maxprice, page:page},
              success:function(res){
                document.getElementById("current").innerHTML = $("#current_page").val();
                document.getElementById("previous").innerHTML = res.start_page;
                document.getElementById("next").innerHTML = res.end_page;
                $("#current_page").val()
                $('#display').empty();
                  var data ='';
                  $.each(res.queryres, function(key, value){
                    var area = value.area;
                    var newarea = area.replace(/\s/g, '-')
                    var property = value.property;
                    var newproperty = property.replace(/\s/g, '-')
                    if (value.units == "rent"){
                      var units = "Rent";
                      var cosmo = "Discover";
                      var x = "background-color: #0e4a88 !important;";
                      var y =  "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "gold-"; 
                    }
                  else if (value.units == "buy"){
                      var units = "Buy";
                      var cosmo = "Details"
                      var x = "background-color: #A57D2D !important;";
                      var y = "color: #000; font-family: 'Poppins-light';font-size: 9pt;display: inline;";
                      var color = "";
                      }

                      if (value.beds == "ST"){
                    beds = ''}
                  else {
                    beds = ' Bed'
                  }
                  data += '<div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;">'
                  data += '<div class="container_foto">'
                  data += '<div class="ver_mas text-center">'
                  data += '<a href="/communities/'+newarea+'/'+newproperty+'/'+value.ref_no+'"><span  class="lnr lnr-eye"><p style="font-size:15px; font-family: "Montserrat""><b>Preview</b></p></span></a>'
                  data += '</div>'
                  data += '<article class="text-left">'
                  data += '<h2>AED '+value.price+'<p style="float:right;">'+value.beds+beds+'</p></h2>'
                  data += '<h4 class="card_desc">'+value.property+'<br>'+value.type+', '+value.area+'</h4>'
                  data += '</article>'
                  data += '<img src="'+value.image+'" onerror="imgError(this);" alt="">'
                  data += '</div>'
                  data += '</div>'
                  data += '</div>'
                  
              })
                 
                  $('#display').append(data);
           
              }
          })
  }

 
</script>


{% endblock %}