{% extends "base.html" %}
{% block metacontent %}
<meta name="title" content="No. 1 real estate service providers in Abu Dhabi">
<meta name="description" content="Our team from UHPAE offers a wide variety of property services such as consulting, leasing, listing, sales, management, marketing and financial advise">
<meta name="keywords" content="consulting, leasing, listing, sales, management, marketing, real estate, financial, advisory">
 <title>No. 1 real estate service providers in Abu Dhabi</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:url" content="https://www.uhpae.com/services">
<meta property="og:image" content="https://www.uhpae.com/static/images/salesservice.png" /> 
<meta property="og:title" content="No. 1 real estate service providers in Abu Dhabi">
<meta property="og:description" content="Our team from UHPAE offers a wide variety of property services such as consulting, leasing, listing, sales, management, marketing and financial advise">
{% endblock %}

{% block content %}

  <div style="background-color: #F8F8F8;">
    <div class="container ">
      <div class="row" style="padding-top: 2vh" >
        <div class="col">
        <h2 class="nfont" ><b>OUR SERVICES</b></h2>
          </div>

</div>
</div>
</div>

<div class="container" style="margin-top:40px;">
  <div class="row">
    <div class="col">
      <p class="simple"><a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink">Home ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;" class="sizelink" href="{{url_for('search', units='all')}}"> Services </a>
</p>
  </div>
  </div>
</div>


<div class="container">
<div class="row justify-content-center" style="margin-top: 50px;"> 
  <div class="col colcenter">
    <div class="card cardzoom" style="width: 18rem;">
      <img class="card-img-top" src="../static/images/salesservice.png" height="164px">
      <div class="card-body">
        <h5 class="card-title proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">Property Sales</h5>
        <p class="card-text simple">The sales team at UHP acts as an advocate for property buyers, by advising property buyers on market ...</p>
        <div class="row">
          <div class="col" style="text-align: right;">
        <a href="/services/property-sales" class="seeallbtn" style="padding: 5px; border-radius: 0px;">Explore</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardzoom" style="width: 18rem;">
      <img class="card-img-top" src="../static/images/servicesales.jpg" height="164px">
      <div class="card-body">
        <h5 class="card-title proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">Property Leasing</h5>
        <p class="card-text simple"> Our property leasing is the connection with clients on behalf of landloards, they make sure to exceed the ...</p>
        <div class="row">
          <div class="col" style="text-align: right;">
        <a href="/services/property-leasing" class="seeallbtn" style="padding: 5px; border-radius: 0px;">Explore</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardzoom" style="width: 18rem;">
      <img class="card-img-top" src="../static/images/listingsales.jpg" height="164px">
      <div class="card-body">
        <h5 class="card-title proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">Property Listing</h5>
        <p class="card-text simple">UHP Listing team is the artery for the sales and leasing teams, as they act as advocates for landlords ...</p>
        <div class="row">
          <div class="col" style="text-align: right;">
        <a href="/services/property-listing" class="seeallbtn" style="padding: 5px; border-radius: 0px;">Explore</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" style="margin-top: 50px;">
  
  <div class="col">
    <div class="card cardzoom" style="width: 18rem;">
    <img class="card-img-top" src="../static/images/marketingsales.jpg">
    <div class="card-body">
      <h5 class="card-title proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">Property Marketing</h5>
      <p class="card-text simple"> Because we understand the importance of marketing, we at UHP made sure to have an in-house marketing team ...</p>
      <div class="row">
          <div class="col" style="text-align: right;">
        <a href="/services/property-marketing" class="seeallbtn" style="padding: 5px; border-radius: 0px;">Explore</a>
        </div>
        </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card cardzoom" style="width: 18rem;">
    <img class="card-img-top" src="../static/images/leasingsales.jpg">
    <div class="card-body">
      <h5 class="card-title proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">Property Management</h5>
      <p class="card-text simple">Advertising the property, handle tenant inquiries, screen applicants, select suitable candidates draw up a ...</p>
      <div class="row">
          <div class="col" style="text-align: right;">
        <a href="/services/property-management" class="seeallbtn" style="padding: 5px; border-radius: 0px;">Explore</a>
        </div>
        </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card cardzoom" style="width: 18rem;">
    <img class="card-img-top" src="../static/images/managementsales.png">
    <div class="card-body">
      <h5 class="card-title proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">Financial & Advisory</h5>
      <p class="card-text simple">Over years UHP managed to build and sustain strong partnerships with the many financial providers in the UAE ...</p>
      <div class="row">
          <div class="col" style="text-align: right;">
        <a href="/services/property-advisory" class="seeallbtn" style="padding: 5px; border-radius: 0px;">Explore</a>
        </div>
        </div>
    </div>
  </div>
</div>


</div>

<div class="row justify-content-center" style="margin-top: 50px;">
  <div class="col">
    <div class="card cardzoom" style="width: 18rem;">
      <img class="card-img-top" src="../static/images/managementsales.png">
      <div class="card-body">
        <h5 class="card-title proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">Fit-Out Services</h5>
        <p class="card-text simple">We have gathered a team of creative, technical, and commercial talents to ensure your property wither it’s  ...</p>
        <div class="row">
            <div class="col" style="text-align: right;">
          <a href="/services/property-fitout" class="seeallbtn" style="padding: 5px; border-radius: 0px;">Explore</a>
          </div>
          </div>
      </div>
    </div>
  </div>

</div>

</div>




   {% endblock %}