{% extends "base.html" %}
{% block metacontent %}

 <title>About {{heading}}</title>
 <meta property="og:image" content="https://www.uhpae.com/static/images/{{image}}" /> 
 <meta property="og:title" content="{{heading}} service">
<meta property="og:description" content="Our team from UHPAE offers a wide variety of property services such as consulting, leasing, listing, sales, management, marketing and financial advise">
{% endblock %}

{% block content %}
<div style="background-color: #F8F8F8; margin-top: 30px;">
    <div class="container ">
      <div class="row" style="padding-top: 2vh" >
        <div class="col">
        <h2 class="nfont" ><b>OUR SERVICES</b></h2>
          </div>

            
</div>
</div>
</div>
<div class="container servimg">
<div class="row">
    <div class="col" style="text-align: right;">
<img class="servimgsize" src="../static/images/{{image}}" >
        </div>
</div>
</div>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col">
            <h5 class="proploc" style="font-family: 'Poppins'; color: #A57D2D; font-weight: bold;">{{heading}}</h5>  
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="simple" style="text-align: justify;">{{content}}</p>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px;">
    
    <div class="row"> 
      <div class="col">
        <h5 class="proploc" style="font-family: 'Poppins-light'; color: #144A8e; font-weight: bold; margin-bottom: 20px;">Contact Us</h5>
        </div>
    </div>
    
    <form method="post" autocomplete="off" name="google-sheet">
      <div class="row justify-content-center">
          <div class="col">
      <textarea rows="4" style="width: 100%;" type="text" name="message">Hello! Im interested in your {{heading}} services and would like to know more.
      </textarea>
      </div>
      </div>
      <br>
      <div class="row justify-content-center"><div class="col">
      <textarea type="text" name="name" rows="1" style="width: 100%;" id="sendername" placeholder="Your Name" required></textarea>
      </div></div>
      <br>
      <div class="row justify-content-center"><div class="col">
      <textarea type="text" name="email" rows="1" style="width: 100%;"  placeholder="Email address" required></textarea>
      </div></div>
      <br>
      <div class="row justify-content-center"><div class="col">
      <textarea type="text" name="phonenumber" rows="1" style="width: 100%;"  placeholder="Phone/ Mobile Number" required></textarea>
      </div></div>
      <br>
      <div class="row">
        <div class="col">
          <input type="hidden" id="strReferrer" name="strReferrer" />
      <input type="submit" value="Submit" style="background-color:#0e4a88; color: white; font-family: 'Poppins-light';  border: hidden;">
            </div>
            <div class="col" style="text-align: right;">
              <a href="{{url_for("service")}}" style="background-color:#0e4a88; color: white; font-family: 'Poppins-light';  border: hidden; padding: 3px;">Back</a>
                    </div>
  
      </div>
    </form>
  
  </div>


{% endblock %}
{% block scripts %}
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
  const form = document.forms['google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
      .catch(error => console.error('Error!', error.message))
  })
</script>
<script>
  document.getElementById('strReferrer').value = window.location.href;
 </script>
 {% endblock %}