{% extends "base.html" %}

{% block metacontent %}

 <title>UHPAE Team</title>

{% endblock %}
{% block content %}
<section style="background-image: url(/static/images/office.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
  <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.75); padding-bottom: 12%;">
    <div class="container ">
      <div class="row" style="padding-top: 90px" >
        <div class="col text-center">
        <h2 class="nfont" ><b>OUR TEAM</b></h2>
          </div>
  
            
  </div>
  </div>
  

<div class="container" style="margin-top:40px;">
  <div class="row">
    <div class="col">
      <p class="simple"><a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"   >Home ></a><a style="color: #8e8a8a;font-family: 'Poppins-light', sans-serif;"    href="{{url_for('team')}}"> Team </a>
</p>
  </div>
  </div>
</div>

<div class="container" style="text-align: justify;">
  <div class="row">
    <div class="col">
    <br>
    <h2 class="nfont">MEET OUR TEAM</h2>
    <h6 class="simple" style="display: inline;">
        Our strongest asset is the young, dynamic, professional team. Our clients need the best people,
         and new blood in the property market, to start driving your property forward. You need experts
          who can create focused real estate strategies that align with your goals, who can infuse their
           creativity into groundbreaking solutions, and who can analyze data to optimize every tactic 
           along the way. Staff commitment and passion have always been hallmarks of UHP, and we are delighted
            to continue bringing outstanding and diverse teams of dedicated experts on board, to deliver the 
            best for all parties involved.</h6>
        <h6 class="simple" style="display: inline;">All Unique Homes Properties
         staff members are highly-educated professionals with a passion for real estate
         and a love of learning new skills. They embody our Core Values and are dedicated to helping our stake holders
          in every way possible, and continue to be at the forefront of the marketplace with advice from some of the
           most experienced and highly trained staff members in Abu Dhabi.
    </h6>
    <br>
    </div>    
  </div>
</div>

<br>
<div class="container" style="margin-bottom: 40px;">
<div class="row justify-content-center">
  <div class="col">
<button class="teambtn" onclick="SenFunction()">Management Team</button>
<button class="teambtn" onclick="MarFunction()">Marketing Team</button>
<button class="teambtn" onclick="LisFunction()">Listing Team</button>
<button class="teambtn" onclick="SalFunction()">Sales Team</button>
<button class="teambtn" onclick="AdmFunction()">Admin Team</button>
</div>
</div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title simple">To contact kindly give the following details</h4>
        </div>
        <div class="modal-body">
          Kindly reach out to our email: uhpaeworldwide@gmail.com

        </div>
        
      </div>
      
    </div>
  </div>
  




<div class="container" id="sen">
  <div class="row justify-content-around">
    <div class="col-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <img class="teamimg"   src="../static/team/boss.jpg" alt="">
                      </div>
                      <div class="col">
                        <h5 class="card-title nfont">Mohammed Al Jbour</h5>
                        <p class="card-text simple">General Manager</p>
                      </div>
                    </div>
                  </div>


              </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        </div>
</div> 
</div>

<div class="container" id="mar">
<div class="row justify-content-around">
<div class="col-12">
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="teamimg" src="../static/team/mac.jpg" alt="">
                  </div>
                  <div class="col">
                    <h5 class="card-title nfont">Mac Rome Galimba</h5>
                    <p class="card-text simple">Photographer / Graphic Designer</p>
                  </div>
                </div>
              </div>
          </div>
          
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col">
                  <img class="teamimg" src="../static/team/me.jpg" alt="">
                </div>
                <div class="col">
                  <h5 class="card-title nfont">Ahmed Rauf</h5>
                  <p class="card-text simple">Full Stack Developer</p>
                </div>
              </div>
            </div>
        </div>
      </div>
        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
</div>
</div>


<div class="container" id="lis">

</div>

<div class="container" id="sal">
  <div class="row justify-content-around">
    <div class="col-12">
          <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <img class="teamimg" src="../static/team/doha.jpg" alt="">
                      </div>
                      <div class="col">
                        <h5 class="card-title nfont">Doha Alami</h5>
                        <p class="card-text simple">Sales Agent</p>
                      </div>
                    </div>
                  </div>
              </div>
            <div class="carousel-item">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <img class="teamimg" src="../static/team/laila.jpg" alt="">
                    </div>
                    <div class="col">
                      <h5 class="card-title nfont">Laila Harb</h5>
                      <p class="card-text simple">Sales Agent</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="teamimg" src="../static/team/majed.jpg" alt="">
                  </div>
                  <div class="col">
                    <h5 class="card-title nfont">Majed Qublan</h5>
                    <p class="card-text simple">Sales Agent</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col">
                  <img class="teamimg" src="../static/team/new.jpg" alt="">
                </div>
                <div class="col">
                  <h5 class="card-title nfont">Mohammed Tarik</h5>
                  <p class="card-text simple">Sales Agent</p>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col">
                <img class="teamimg" src="../static/team/mohammed.jpg" alt="">
              </div>
              <div class="col">
                <h5 class="card-title nfont">Mohammad Ziyad</h5>
                <p class="card-text simple">Sales Agent</p>
              </div>
            </div>
          </div>
      </div>
          </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    </div>
</div>

<div class="container" id="adm">
  <div class="row justify-content-around">
    <div class="col-12">
          <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <img class="teamimg" src="../static/team/april.jpg" alt="">
                      </div>
                      <div class="col">
                        <h5 class="card-title nfont">April Gomez</h5>
                        <p class="card-text simple">Administrator</p>
                      </div>
                    </div>
                  </div>
              </div>
            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        </div>
</div> 


</div>
</section>






{% endblock %}
{% block scripts %}

<script>
  document.getElementById('mar').style.display="none";
  document.getElementById('lis').style.display="none";
  document.getElementById('sal').style.display="none";
  document.getElementById('adm').style.display="none";
  document.getElementById('sen').style.display="";
  function SenFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="";
      document.getElementById('adm').style.display="none";
  }

  function MarFunction(){
      document.getElementById('mar').style.display="";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="none"; 
      document.getElementById('adm').style.display="none";  
  }
  function LisFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="none"; 
      document.getElementById('adm').style.display="none";    
  }
  function SalFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="";
      document.getElementById('sen').style.display="none";
      document.getElementById('adm').style.display="none";
  }
  function AdmFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="none";
      document.getElementById('adm').style.display="";
  }


  $('#my_modal').on('show.bs.modal', function(e) {

//get data-id attribute of the clicked element
var bookId = $(e.relatedTarget).data('book-id');

//populate the textbox
$(e.currentTarget).find('input[name="bookId"]').val(bookId);
});

</script>
{% endblock %}