{% extends "base.html" %}

{% block metacontent %}

 <title>UHPAE Team</title>

{% endblock %}
{% block content %}
<section style="background-image: url(/static/images/dark_bg.png); background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%;">
  <div style="height: 100%;width: 100%; background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgb(34, 34, 34, 1.0)); padding-bottom: 12%;">
<div class="container" style="padding-top:90px;">
  <div class="row">
    <div class="col">
      <p class="simple"><a href="{{url_for('home')}}" style="color: #8e8a8a;font-family: 'Montserrat'; font-size: medium;">Home ></a><a style="color: #8e8a8a;font-family: 'Montserrat'; font-size: medium;"href="{{url_for('team')}}"> Team </a>
</p>
  </div>
  </div>
</div>

<div class="container" style="text-align: justify;">
  <div class="row">
    <div class="col">
    <br>
    <h2 class="nfont" style="font-family: 'Montserrat'; text-align: center; margin-bottom: 25px;"><b>MEET OUR TEAM</b></h2>
    <h6 class="simple" style="display: inline; color: white; font-family: 'Montserrat'; font-size: medium;">
        Our strongest asset is the young, dynamic, professional team. Our clients need the best people,
         and new blood in the property market, to start driving your property forward. You need experts
          who can create focused real estate strategies that align with your goals, who can infuse their
           creativity into groundbreaking solutions, and who can analyze data to optimize every tactic 
           along the way. Staff commitment and passion have always been hallmarks of UHP, and we are delighted
            to continue bringing outstanding and diverse teams of dedicated experts on board, to deliver the 
            best for all parties involved.</h6>
        <h6 class="simple" style="display: inline;color: white; font-family: 'Montserrat'; font-size: medium;">All Unique Homes Properties
         staff members are highly-educated professionals with a passion for real estate
         and a love of learning new skills. They embody our Core Values and are dedicated to helping our stake holders
          in every way possible, and continue to be at the forefront of the marketplace with advice from some of the
           most experienced and highly trained staff members in Abu Dhabi.
    </h6>
    <br>
    </div>    
  </div>
</div>
<div id="window_footer"></div>
<br>
<div class="container" style="margin-bottom: 40px;">
<div class="row justify-content-center">

<button class="teambtn" onclick="SenFunction()"><b style="font-size: small; font-family: 'Montserrat';">Management Team</b></button>
<button class="teambtn" onclick="MarFunction()"><b style="font-size: small; font-family: 'Montserrat';">Marketing Team</b></button>
<button class="teambtn" onclick="LisFunction()"><b style="font-size: small; font-family: 'Montserrat';">Listing Team</b></button>
<button class="teambtn" onclick="SalFunction()"><b style="font-size: small; font-family: 'Montserrat';">Sales Team</b></button>
<button class="teambtn" onclick="AdmFunction()"><b style="font-size: small; font-family: 'Montserrat';">HR & Accounts Team</b></button>

</div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title simple">To contact kindly give the following details</h4>
        </div>
        <div class="modal-body">
          Kindly reach out to our email: uhpaeworldwide@gmail.com

        </div>
        
      </div>
      
    </div>
  </div>
  




<div class="container" id="sen">
  <div class="row justify-content-around">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="teamimg" src="../static/team/boss.jpg" style="border-radius: 12px;" alt="">
          </div>
          <div class="col-lg-1 col-md-1 col-sm-0">
            <div style="width: 1px; height: 100%;background-color: white; text-align: center; margin-left: 90%;"></div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p class="teamdesc simple" style="color: white; font-family: baskerville, serif; font-size: 13pt; padding-top: 5px; font-weight: 100;" >"Real estate is an inexhaustible asset that appreciates in value over time.
              It is the most reliable form of protection invented by human intellect.
              It is the foundation of all security and the only unbreakable security.”
            </p>
            <div class="face2 back2">
              <img src="/static/team/cardback.jpeg" alt="" class="teamshadow" style="position: relative;">
              <div style="position: absolute; top: 40px;left: 40px;">
                <p class="teamtext" style="color: rgb(240, 240, 240);">Mohammed Al Jbour</p>
                <p class="teamtext" style="color: #9e7b4f;">General Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<div class="container" id="mar">
<div class="row justify-content-around">
<div class="col-12">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="card" style="background-color: transparent; width: 300px !important">
          <img class="teamimg" src="../static/team/ruba_mm.JPEG" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
          <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
            <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Ruba Thabet Dajani</b></h4>
            <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Marketing Manager</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container" style="margin-top: 3%;">
    <div class="row">
      <div class="col">
        <div class="card" style="background-color: transparent; width: 300px !important">
          <img class="teamimg" src="../static/team/amjad.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
          <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
            <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Amjad Al Kattan</b></h4>
            <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Digital Marketing</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: transparent; width: 300px !important">
          <img class="teamimg" src="../static/team/shahin.jpeg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
          <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
            <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Mohammed Shehin</b></h4>
            <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Content Specialist</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: transparent; width: 300px !important">
          <img class="teamimg" src="../static/team/mahy.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
          <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
            <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Mahy Sowelam</b></h4>
            <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Graphic Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<div class="container" id="lis">
<div class="row justify-content-around">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="card" style="background-color: transparent; width: 300px !important">
            <img class="teamimg" src="../static/team/salwa.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
            <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
              <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Salwa AbdelFattah</b></h4>
              <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Listing Manager</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="container" style="margin-top: 3%;">
      <div class="row">
        <div class="col">
          <div class="card" style="background-color: transparent; width: 300px !important">
            <img class="teamimg" src="../static/team/Suha.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
            <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
              <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Suha Abdul Rahim</b></h4>
              <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Listing Agent</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: transparent; width: 300px !important">
            <img class="teamimg" src="../static/team/Islam.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
            <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
              <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Islam Roushdy</b></h4>
              <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Listing Agent</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: transparent; width: 300px !important">
            <img class="teamimg" src="../static/team/Khloud.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
            <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
              <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Khloud Ismail</b></h4>
              <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Listing Agent</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 3%;">
        <div class="col">
          <div class="card" style="background-color: transparent; width: 300px !important">
            <img class="teamimg" src="../static/team/Essam.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
            <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
              <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Mohammed Essam</b></h4>
              <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Listing Agent</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: transparent; width: 300px !important">
            <img class="teamimg" src="../static/team/Maria.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
            <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
              <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Maria Villanueva</b></h4>
              <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Listing Agent</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="background-color: transparent; width: 300px !important">
            <img class="teamimg" src="../static/team/Reham.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
            <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
              <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Reham Mohammed</b></h4>
              <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Listing Agent</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="container" id="sal">
  <div class="row justify-content-around">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important">
              <img class="teamimg" src="../static/team/Ramzi.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Ramzi Abusida</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Sales Manager</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="container" style="margin-top: 3%;">
        <div class="row">
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important">
              <img class="teamimg" src="../static/team/Odeh.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Mohammed Abu Odeh</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Team Leader</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important">
              <img class="teamimg" src="../static/team/Nawarah.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Mohammed Nawarah</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Team Leader</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important">
              <img class="teamimg" src="../static/team/Baraa.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Baraa Yasser</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Property Consultant</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 3%;">
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important">
              <img class="teamimg" src="../static/team/Choib.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Abdalla Choib</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Property Consultant</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important">
              <img class="teamimg" src="../static/team/Hajar.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Hajar El Katti</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Property Consultant</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important">
              <img class="teamimg" src="../static/team/Laith.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Laith Alloush</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Property Consultant</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="container" id="adm">
  <div class="row justify-content-around">
    <div class="col-12">
      <div class="container" style="margin-top: 3%;">
        <div class="row">
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important; margin-left: auto; margin-right: auto;">
              <img class="teamimg" src="../static/team/hr.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Ruba Al Jaber</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">HR Manager</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="background-color: transparent; width: 300px !important; margin-left: auto; margin-right: auto;">
              <img class="teamimg" src="../static/team/baheej.jpg" alt="" style="margin-left: auto; margin-right: auto; border-radius: 12px 12px 0 0; width: 298px; height: 250px;">
              <div class="container" style="background-color: #9e7b4f; border-radius: 0 0 12px 12px;">
                <h4 style="text-align: center; margin-top: 10px; font-family: 'Montserrat'; font-size: 15pt; font-weight: 900; letter-spacing: normal; margin-bottom: 0;"><b style="color: white;">Baheej Muringakkodan</b></h4>
                <p style="color: white; text-align: center; font-family: 'Montserrat'; font-size: 13pt; margin-bottom: 5px;">Accountant</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div> 
  </div>









</section>






{% endblock %}
{% block scripts %}

<script>
  document.getElementById('mar').style.display="none";
  document.getElementById('lis').style.display="none";
  document.getElementById('sal').style.display="none";
  document.getElementById('adm').style.display="none";
  document.getElementById('sen').style.display="";
  function SenFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="";
      document.getElementById('adm').style.display="none";
  }

  function MarFunction(){
      document.getElementById('mar').style.display="";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="none"; 
      document.getElementById('adm').style.display="none";  
  }
  function LisFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="none"; 
      document.getElementById('adm').style.display="none";    
  }
  function SalFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="";
      document.getElementById('sen').style.display="none";
      document.getElementById('adm').style.display="none";
  }
  function AdmFunction(){
      document.getElementById('mar').style.display="none";
      document.getElementById('lis').style.display="none";
      document.getElementById('sal').style.display="none";
      document.getElementById('sen').style.display="none";
      document.getElementById('adm').style.display="";
  }

</script>
{% endblock %}