<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5WDP7BZ2E"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X5WDP7BZ2E');
    </script>
    <!--End Global site tag-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NM3F45G');</script>
    <!-- End Google Tag Manager -->

  <link rel="shortcut icon" type="image/jpg" href="{{url_for('static', filename='images/logo.jpg')}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="{{ url_for('static', filename='css/style.css') }}" as="style">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.2.1/dist/flickity.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="keywords" content="Waters Edge, Yas Island, Abu Dhabi, Aldar Properties, property, real estate, buy, uhpae.com">
  <meta name="url" content="https://www.uhpae.com/landing/yas-island/waters-edge">
  <meta name="title" content="Water's Edge, Yas Island">
  <meta name="type" content="website">
  <meta name="description" content="Own your dream house in the heart of Yas Island, Abu Dhabi! Closely located to the worlds greatest attraction, Ferrari world.">
  <meta property="og:url" content="https://www.uhpae.com/landing/yas-island/waters-edge">
  <meta property="og:title" content="Water's Edge, Yas Island">
  <meta property="og:type" content="website">
  <meta name ="robots" content="index, follow"/>
  <meta name="robots" content="noodp " />
  <title>Water's Edge, Yas Island</title>
  <meta property="og:url" content="https://www.uhpae.com/landing/yas-island/waters-edge">
  <meta property="og:title" content="Water's Edge, Yas Island">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.uhpae.com/static/projects/waresedgelogo.png" /> 
  <meta property="og:description" content="Own your dream house in the heart of Yas Island, Abu Dhabi! Closely located to the worlds greatest attraction, Ferrari world.">
  <meta property="twitter:title" content="Water's Edge, Yas Island">
  <meta property="twitter:description" content="Own your dream house in the heart of Yas Island, Abu Dhabi! Closely located to the worlds greatest attraction, Ferrari world.">


<meta name="google-site-verification" content="rsJLJJ1s0zZAryF182eOZOKr_6cmzuHNrKMFDa-bn_o" />
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM3F45G"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
         <header class="bg-dark fixed-top">
       <nav class="navbar navbar-expand-lg navbar-dark" style="padding-top: 10px; padding-bottom: 10px;">
         <div class="container">
             <div class="row">
             <div class="col text-left">
                <a href="{{url_for('home')}}" title="Home" class="" href="default.html"><img src="{{url_for('static', filename='images/standalon_logo.png')}}" style="width:25%;min-width: 35px"></a>
             </div>
             <div class="col text-center">
                <img src="/static/projects/waresedgelogo.png" style="width:40%;min-width: 35px; text-align: center; margin-top: 10px;" alt="">
             </div>
             <div class="col text-right">
                <img src="/static/projects/aldar.png" style="width:25%;min-width: 35px" alt="">
             </div>
         </div>
    
    </div>
        </nav>
       </header>
    
    <section class="landingimg" style="background-image: url(/static/projects/watersedge/10.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover; height: 100%; ">
    
        <div class="container" style="padding-top: 10%;">
           
                <div class="row justify-content-center">
                   
                    <div class="col-lg-6 col-md-6 col-sm-12 landingbg" style=" background:linear-gradient(0deg, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%); height: 100%;  padding-bottom:100px; ">
                        
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-75" style="margin: auto;" src="/static/projects/watersedge/1.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" style="margin: auto;" src="/static/projects/watersedge/10.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" style="margin: auto;" src="/static/projects/watersedge/2.jpg" alt="Third slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" style="margin: auto;" src="/static/projects/watersedge/3.jpg" alt="Fourth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" style="margin: auto;" src="/static/projects/watersedge/4.jpg" alt="Fifth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" style="margin: auto;" src="/static/projects/watersedge/7.jpg" alt="Sixth slide">
                              </div>
    
    
            
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span style="background-color: rgb(255, 136, 0); border-radius: 25px;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span style="background-color: rgb(255, 136, 0); border-radius: 25px;" class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
    
    
                        <div class="row justify-content-center" style="margin-top: 30px; margin-bottom: 30px;">
                            <div class="expandlanding" style="height: 2px;">
    
                            </div>
                        </div>
    
                    <div class="row justify-content-center">
                        <div class="col-11 text-center" style="margin-top: 2vh;">         
                            <div id="carouselExampleSlidesOnly" style="height:100px;" class="carousel carousel3 slide" data-ride="carousel"> 
                                <div class="carousel-inner">
                                  <div class="carousel-item ">
                                    <h4 style="font-family: 'Tajawal'; font-size: 15pt; color: #1f1e1e; text-align: center;">
                                        إمتلك بيت أحلامك في جزيرة ياس، أبوظبي وبجانب عالم فراري العظيم

                                    </h4>   
                                  </div>
                                  <div class="carousel-item active">      
                                    <h4 style="font-family: 'poppins'; font-size: 10pt; color: #1f1e1e; text-align: center;">
                                        Own your dream house in the heart of Yas Island, Abu Dhabi! Closely located to the worlds greatest attraction, Ferrari world.
                                    </h4>
                                    
                                  </div>
    
                                </div>
                              </div>
    
    
         
      
    
                    </div>
                    </div>
            
                    <div class="row justify-content-center">
                        <div class="col-12 text-center" style="margin-top: 2vh;">
                            <h4 style="font-family: 'Poppins';  font-size: 10pt; color: #1f1e1e;">
                               AVAILABLE DATE FROM 1st - 5th November, 9 AM - 5 PM
                            </h4>
                        </div>
                    </div>
            
                <div class="row justify-content-center">
            
                    <div class="col-11 text-center" style="margin-top: 2vh; display: block;white-space: normal;">
                        <h4 style="font-family: 'poppins';  font-size: 17pt; color: #1f1e1e; font-weight: bold;">
                            Book an Appointment
                        </h4>
    
                        <form  method="post" autocomplete="off" name="google-sheet" style="width: 100%;margin:0 auto; font-family: 'Poppins';">
                            <input style="margin-top: 20px;width: 100%; height: 30px; border: 1px solid black;padding-left: 3px;font-size: 10pt;" type="text"  id="name" name="name" placeholder="Name:">
                            <input style="margin-top: 20px;width: 100%; height: 30px;border: 1px solid black;padding-left: 3px;font-size: 10pt;" type="tel"  title='Phone Number (Format: +971009999999)' id="phonenumber" name="phonenumber" placeholder="Number:">
                            <input style="margin-top: 20px;width: 100%; height: 30px;border: 1px solid black; padding-left: 3px; font-size: 10pt;" type="text" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" id="email" name="email" placeholder="Email:">
                            <input type="date" style="margin-top: 20px;width: 100%; height: 30px;border: 1px solid black; padding-left: 3px; font-size: 10pt;" name="meeting_date" required>
                            <input type="time" style="margin-top: 20px;width: 100%; height: 30px;border: 1px solid black; padding-left: 3px; font-size: 10pt;" name="type" required>
                            <input style="margin-top: 20px; width: 100px; height: 30px; border: none; font-size: 10pt; background-color: #1f1e1e; color: white;"  type="submit" value="Book Now"></p>
                            <input type="hidden" id="strReferrer" name="strReferrer" />
                        </form>
             
                    </div>
            </div>
    
            <div class="row justify-content-center" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="expandlanding" style="height: 2px;">
    
                </div>
            </div>
    
    
        
    

            <div class="row justify-content-center" style="margin-top:50px;">
                <div class="col text-center">
                     <h4 style="font-family: 'Poppins';  font-size: 10pt; color: #1f1e1e; font-weight: bold;">
                    CONTACT US  - +971549981998
                    </h4>
                </div>
            </div>
    
    
    
    
                    </div>
    
    
    
    </div>
    </div>
    
    </section>
    
    
    
    </body>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    
    <script>
        $('.carousel3').carousel({
    interval: 2000
    })
    
    </script>
    <script>
    
        document.getElementById('strReferrer').value = window.location.href;
       </script>
       
    
    <script>
    
    
        const scriptURL = 'https://script.google.com/macros/s/AKfycbxjlxOWi7uR-44e6AmYexgQ7GQMlIEAJZGbpcHm-wxoYwYudL9U/exec'
        const form = document.forms['google-sheet']
      
        form.addEventListener('submit', e => {
          e.preventDefault()
          var x = document.forms["google-sheet"]["email"].value;
          var p = document.forms["google-sheet"]["phonenumber"].value;
          var n = document.forms["google-sheet"]["name"].value;
        if (x == "" || p == "" || n == "") {
        alert("Kindly fill in your Email, Number, and Name then submit, so we can contact you!");
        return false;}
          fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => alert("Thanks For Your Submission! We Will Contact You Soon."))
            .catch(error => console.error('Error!', error.message))
        })
    
      </script>
    
    
    