.row1 {
  display: block;
  width: 100vw;
  height: 125px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -35px;
  margin-left: -33px; }
  .row1 .hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #2b2b2b;
    margin: 32.87px 2px;
    display: block;
    transition: all .2s linear; }
    .row1 .hexagon .block {
      position: relative;
      width: 1100%;
      height: 400px;
      background-color: #00ff66;
      display: block;
      transition: all .2s linear; }
    .row1 .hexagon::after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      top: 100%;
      width: 0;
      border-top: 28.87px solid #2b2b2b;
      transition: all .2s linear; }
    .row1 .hexagon::before {
      content: "";
      position: absolute;
      width: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      bottom: 100%;
      border-bottom: 28.87px solid #2b2b2b;
      transition: all .2s linear; }
  .row1.row-moved {
    margin-left: 19px; }

.cursor {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  position: absolute;
  box-shadow: 2px -3px 41px -1px rgba(241, 196, 15, 0.64);
  z-index: 0;
  opacity: 0;
  background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  animation: glower 20s linear infinite;
  filter: blur(40px); }

@keyframes glower {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }
